<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label</title>
  </head>

  <body>
    <h1 class="title">$c.app.config.options.mount_label</h1>
    <ul>
      <li py:for="app in enabled_apps">
        <a href="${app.format_column('application_url')}"
           title="$app.application_desc">
          $app.description</a>:
        $app.application_function
        <a href="$app.application_docs_url">Documentation</a>
      </li>
    </ul>
  </body>
</html>
