<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Mailing List Subscribers</title>
  </head>

  <body>
    <h1 class="title">Mailing List Subscribers: $ml.name</h1>
    <div class="content">
      <p py:if="search">The following subscribers match the provided search criteria:</p>
      <p>
        <py:for each="s in subscribers">$s.subscribed_email<br/></py:for>
      </p>
      <p>
        Total subscriber count: ${len(subscribers)}<br/>
        Results have been sorted by ${sort_by}.
      </p>
    </div>
    <div class="notice">
      <b>Delayed Reports</b><br/>
       All subscriber information is refreshed each Sunday; the subscriber
      listing for your mailing lists may have changed since the last time this
      data was updated.
    </div>
  </body>
</html>
