<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python from allura.lib import helpers as h?>
  <?python from allura.lib.security import has_artifact_access?>
  <xi:include href="master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Change List Password</title>
  </head>

  <body>
    <h1 class="title">Change List Administrator Password</h1>
    <div class="content">
      <p>Each mailing list has one mailing list admin password. You will need to
      provide this password to any other team members who perform list
      administration. We recommend that at least two people on each project team be
      aware of the list admin password, as that they may both tend to pending
      administrative requests, if needed.
      </p>
      <h2>List Name: ${ml.name}</h2>
      ${c.form.display(action='save')}
    </div>
    <div class="notice">
      <b>Please note</b><br/>
       Password must be 4-16 chars containing letters and numbers only. The same
       password must be entered twice, verbatim, in the provided fields (above).
    </div>
    <div class="notice">
      <b>Password should be unique</b><br/>
      Do not use your SourceForge.net user account password as the list admin
      password.
    </div>
  </body>
</html>
