<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python from pyforge.lib import helpers as h?>
  <?python from pyforge.lib.security import has_artifact_access?>
  <xi:include href="master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${c.project.name} project: Admin: VHOST Management</title>
  </head>

  <body>
    <h1 class="title">VHOST Service</h1>
    <div class="content">
      <p>
        Your project currently has ${len(vhosts)} VHOSTs out of a
        maximum 10 permitted for your project.
      </p>
      <h2>Add New Virtual Host</h2>
      <p>

        Please follow the instructions in the documentation titled,
        "<a href="http://p.sf.net/sourceforge/vhost"
           >VHOST Services for SourceForge.net Projects</a>", located in the
        Site Documentation collection. This document covers the correct way to
        configure your DNS services to direct traffic to your VHOST at SourceForge.net.
      </p>
      <p>
        One VHOST should be added for each host and each domain, for which you
        wish for us to answer traffic. For example, separate VHOST would need to
        be added for yourhost.org and www.yourhost.org. Clicking on the "Create"
        button will schedule your VHOST for creation; this is not an immediate
        process (see the aforementioned documentation for further details).
      </p>

      ${c.new.display(action='create')}<br/>

      <table py:if="vhosts">
        <thead>
          <tr><th>Virtual Host</th><th>Operations</th></tr>
        </thead>
        <tbody>
          <tr py:for="vhost in vhosts">
            <td>$vhost.name</td>
            <td>
              <form method="POST" action="delete">
                <input type="hidden" name="vhostid" value="$vhost.vhostid" />
                <input type="submit" value="Delete" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
