<form>
  <label class="grid-13">Extensions:</label>
  <div class="grid-13">
    {% if allow_config %}
      <input type="text" name="additional_viewable_extensions"
             id="additional_viewable_extensions" title="e.g., .svnignore,.gitignore,.ini"
             {% if additional_viewable_extensions %} value="{{additional_viewable_extensions}}"{% endif %}/>
    {% else %}
      <span>{{additional_viewable_extensions}}</span>
    {% endif %}
  </div>

  {% if allow_config %}
  <div class="grid-13">&nbsp;</div>
  <hr>
  <div class="grid-13">&nbsp;</div>
  <div class="grid-13">
    <input type="button" onclick="save_extensions()" value="Save">
  </div>
  {% endif %}
</form>
{% if allow_config %}
  <script type="text/javascript">
    function save_extensions() {
        $.post('{{c.project.url()}}admin/{{app.config.options.mount_point}}/set_extensions', {
            additional_viewable_extensions: $('#additional_viewable_extensions').val()
        },
        function () {
            location.reload();
        });
    }
  </script>
{% endif %}