{% extends 'allura:templates/repo/repo_master.html' %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / Commit {{commit.shorthand_id()}}
{% endblock %}

{% block header -%}
Commit <a href="{{commit.url()}}">{{commit.shorthand_id()}}</a> {{commit_labels(commit)}}
{%- endblock %}

{% block actions %}
<a href="{{commit.url()}}log/">
  <b data-icon="{{g.icons.history.char}}" class="ico {{g.icons.history.css}}" title="History"> </b> History
</a>
{% endblock %}

{% block content %}
{{ clone_info(c.app.repo) }}
{{c.revision_widget.display(value=commit, prev=prev, next=next)}}
<table>
  <tbody>
    {% for type, file in artifacts %}
    <tr>
        <td>{{ type }}</td>
        <td><a href="#diff-{{loop.index}}">{{h.really_unicode(file)}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% for type, file in artifacts %}
        <div class="inline-diff">
            <h6>
            {% if type in ('added', 'changed') %}
                <a href="{{commit.url()}}tree{{h.really_unicode(file)}}">{{h.really_unicode(file)}}</a>
                <a class="commit-diff-link" href="{{commit.url()}}tree{{h.really_unicode(file)}}?diff={{prev[0].object_id}}">Diff</a>
            {% elif type == 'removed' %}
                <a href="{{prev[0].url()}}tree{{h.really_unicode(file)}}">{{h.really_unicode(file)}}</a>
                <a class="commit-diff-link" href="{{commit.url()}}tree{{h.really_unicode(file)}}?diff={{prev[0].object_id}}">Diff</a>
            {% elif type == 'copied' %}
                <a href="{{prev[0].url()}}tree{{h.really_unicode(file.old)}}">{{h.really_unicode(file.old)}}</a>
                to
                <a href="{{commit.url()}}tree{{h.really_unicode(file.new)}}">{{h.really_unicode(file.new)}}</a>
            {% endif %}
            </h6>
            <div id="diff-{{loop.index}}" class="inline-diff-body">
                {% if type != 'removed' %}
                <img src="{{g.forge_static('images/spinner.gif')}}" class="loading_icon" alt="Loading..."/>
                {% else %}
                <span class="empty-diff">Content was removed.</span>
                {% endif %}
            </div>
        </div>
    {% if type != 'removed' %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('#diff-{{loop.index}}').load('{{commit.url()}}tree{{h.really_unicode(file)}}?barediff={{prev[0].object_id}}');
            });
        </script>
    {% endif %}
{% endfor %}
{% endblock %}
