{% extends 'allura:templates/repo/repo_master.html' %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / Commit {{commit.shorthand_id()}}
{% endblock %}

{% block header -%}
Commit <a href="{{commit.url()}}">{{commit.shorthand_id()}}</a> {{commit_labels(commit)}}
{%- endblock %}

{% block actions %}
<a href="{{commit.url()}}log/">
  <b data-icon="{{g.icons.history.char}}" class="ico {{g.icons.history.css}}" title="History"> </b> History
</a>
{% endblock %}

{% block content %}
{{ clone_info(c.app.repo) }}
{{c.revision_widget.display(value=commit, prev=prev, next=next)}}
<table>
  <tbody>
    {% for type, file in artifacts %}
    <tr>
        <td>
            {% if type != 'removed' %}
                <a href="#diff-{{loop.index}}">{{ type }}</a>
            {% else %}
                {{ type }}
            {% endif %}
        </td>
        <td>
            {% if type == 'added' %}
                <a href="{{commit.url()}}tree{{h.really_unicode(file)}}">{{h.really_unicode(file)}}</a>
            {% elif type == 'removed' %}
                <a href="{{prev[0].url()}}tree{{h.really_unicode(file)}}">{{h.really_unicode(file)}}</a>
            {% elif type == 'changed' %}
                <a href="{{commit.url()}}tree{{h.really_unicode(file)}}">{{h.really_unicode(file)}}</a>
                <a href="{{commit.url()}}tree{{h.really_unicode(file)}}?file={{prev[0].object_id}}">(diff)</a>
            {% elif type == 'copied' %}
                <a href="{{prev[0].url()}}tree{{h.really_unicode(file.old)}}">{{h.really_unicode(file.old)}}</a>
                <br/>to<br/>
                <a href="{{commit.url()}}tree{{h.really_unicode(file.new)}}">{{h.really_unicode(file.new)}}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% for type, file in artifacts %}
    {% if type != 'removed' %}
        <div id="diff-{{loop.index}}" class="inline-diff"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#diff-{{loop.index}}').load('{{commit.url()}}tree{{h.really_unicode(file)}}?barediff');
            });
        </script>
    {% endif %}
{% endfor %}
{% endblock %}
