{% extends 'repo/repo_master.html' %}
{% do g.register_forge_css('css/forge/hilite.css') %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / Diff of {{h.really_unicode(a.path())}}
{% endblock %}

{% block header %}Diff of
<a href="{{b.url()}}">{{b.path()}}</a>
<a href="{{a.url()}}">{{a.commit.shorthand_id()}}</a>
..
<a href="{{b.url()}}">{{b.commit.shorthand_id()}}</a>
{% endblock %}

{% block content %}
  {{ clone_info(c.app.repo) }}
  {% if (not a.has_html_view and not a.has_image_view) or (not b.has_html_view and not b.has_image_view) %}
    <p>{{a.name}} cannot be displayed in your browser.
    You may, however, <a href="?format=raw">download this file</a> instead.</p>
  {% endif %}
  {% if a.has_html_view and b.has_html_view %}
  <div class="clip grid-19">
    <h3><span class="ico-l"><b data-icon="{{g.icons['table'].char}}" class="ico {{g.icons['table'].css}}"></b> {{h.really_unicode(a.filename) or h.html.literal('&nbsp;')}}</span></h3>
    {{g.highlight(diff, lexer='diff')}}
  </div>
  {% endif %}
  {% if a.has_image_view and b.has_image_view %}
  <div class="grid-19">
    <img src="{{a.url()}}?format=raw"
         alt="{{h.text.truncate(a._commit._id, 10)}}"
         title="{{h.text.truncate(a._commit._id, 10)}}"/>
    <img src="{{b.url()}}?format=raw"
         alt="{{h.text.truncate(b._commit._id, 10)}}"
         title="{{h.text.truncate(b._commit._id, 10)}}"/>
  </div>
  {% endif %}
{% endblock %}

{% block extra_css %}
  <style type="text/css">
    .clip h3 {margin-bottom: 0;}
  </style>
{% endblock %}