{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Fork {{from_repo.name}}{% endblock %}

{% block header %}Fork {{from_repo.name}}{% endblock %}

{% block content %}
<form action="." method="POST">
    {% if c.user != c.user.anonymous() %}
      <label class="grid-4">Project:</label>
      <div class="grid-15">
        <select name="project_id">
          <option value="{{user_project._id}}" selected="selected">{{user_project.name}}</option>
        {% for p in c.user.my_projects() %}
          <option value="{{p._id}}">{{p.name}}</option>
        {% endfor %}
        </select>
      </div>
      <label class="grid-4">Repository Name:</label>
      <div class="grid-15">
        <input type="text" name="to_name" value="{{to_name}}"/>
      </div>
      <label class="grid-4">&nbsp;</label>
      <div class="grid-15">
        <input type="submit" value="Fork"/>
      </div>
    {% endif %}
</form>
{% endblock %}
