{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Fork {{from_repo.name}}{% endblock %}

{% block header %}Fork {{from_repo.name}}{% endblock %}

{% block content %}
<form action="." method="POST">
    {% if c.user != c.user.anonymous() %}
      <ol>
        <li>
          <label>Project:</label>
          <select name="project_name">
            <option value="{{to_project_name}}" selected="selected">{{to_project_name}}</option>
          {% for p in c.user.my_projects() %}
            <option value="{{p.shortname}}">{{p.name}}</option>
          {% endfor %}
          </select>
        </li>
        <li>
          <label>Repository Name:</label>
          <input type="text" name="to_name" value="{{to_name}}"/>
        <li>
          <label>&nbsp;</label>
          <input type="submit" value="Fork"/>
        </li>
      </ol>
    {% endif %}
</form>
<div id="in-use" style="display:none">
    {% for used in in_use %}
      <span>{{used}}</span>
    {% endfor %}
</div>
{% endblock %}
