{% extends 'jinja_master/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Fork {{from_repo.name}}{% endblock %}

{% block header %}Fork {{from_repo.name}}{% endblock %}

{% block content %}
<form action="." method="POST">
    {{to_project_name}}/<input type="text" name="to_name" value="{{to_name}}"/>
    {% if c.user != c.user.anonymous() %}
      <input type="submit" value="Fork"/>
    {% endif %}
</form>
<div id="in-use" style="display:none">
    {% for used in in_use %}
      <span>{{used}}</span>
    {% endfor %}
</div>
{% endblock %}
