{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends 'allura:templates/repo/repo_master.html' %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / Merge Request #{{req.request_number}}: {{req.summary}} ({{req.status}})
{% endblock %}

{% block header %}{{c.app.config.options.mount_label}}
Merge Request #{{req.request_number}}: {{req.summary}} ({{req.status}})
{% endblock %}

{% block actions %}
  {% if h.has_access(req, 'write')() %}
    <a href="edit" title="Edit"><b data-icon="{{g.icons['pencil'].char}}" class="ico {{g.icons['pencil'].css}}" title="Edit"></b></a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="grid-19">
    <div id="merge_task_status" class="task_status">
      {% if merge_status == 'complete' %}
        <h2 class="complete">Merged</h2>
      {% else %}
        <img src="{{g.forge_static('images/spinner.gif')}}" class="spinner" style="display:none"/>
        <h2 class="busy ready">Merging...</h2>
        <h2 class="complete">Merged</h2>
        <h2 class="fail">Something went wrong. Please, merge manually</h2>
      {% endif %}
    </div>
    <div id="can_merge_task_status" class="task_status">
      {% if can_merge_status != 'complete' %}
        <img src="{{g.forge_static('images/spinner.gif')}}" class="spinner" style="display:none"/>
        <h2 class="busy ready">Checking if merge is possible...</h2>
        <h2 class="fail">Something went wrong. Please, merge manually</h2>
      {% endif %}
    </div>
  </div>

  {% if req.downstream_repo %}
    <p>
      <a href="{{req.creator_url}}">{{req.creator_name}}</a>
      asked you to merge {{h.text.plural(req.commits|count, 'commit', 'commits')}}
      from <a href="{{req.downstream_url}}">{{req.downstream_url}}</a>
      to {{ req.target_branch }},
      {{lib.abbr_date(req.mod_date)}}
    </p>

    <div>{{g.markdown.convert(req.description)}}</div>

    {% if req.merge_allowed(c.user) %}
      <div class="grid-19">
        <form action="merge" method="POST">
          {{ lib.csrf_token() }}
          <input id="merge-btn" type="submit" value="Merge"{% if not can_merge or merge_status in ('ready', 'busy') %}disabled="disabled"{% endif %}>
          <div class="merge-help-text can-merge-in-progress" {% if can_merge == None %}style="display: block;"{% endif %}>
            Checking if merge is possible...
          </div>
          <div class="merge-help-text merge-ok" {% if can_merge == True %}style="display: block;"{% endif %}>
            Merge request has no conflicts. You can merge automatically.
          </div>
          <div class="merge-help-text merge-conflicts" {% if can_merge == False %}style="display: block;"{% endif %}>
            Merge request has conflicts. Follow manual instructions below to merge.
          </div>
        </form>
      </div>
    {% endif %}

    {{ c.log_widget.display(value=req.commits, app=downstream_app) }}

    <div class="grid-19"><a href="#discussion_holder">Discuss</a></div>

    {% if h.has_access(c.app, 'write')() %}
      <div class="grid-19">
        To merge the commits, please execute the following commands in your working copy:
      </div>
      <div class="grid-19">
        <textarea style="width:80%; height:60px;" readonly>{{ c.app.repo.merge_command(req) | safe }}</textarea>
      </div>
      {% if merge_status not in ('ready', 'busy') %}
        {{ c.mr_dispose_form.display(action="save", value=dict(status=req.status)) }}
        <br style="clear:both">
      {% endif %}
    {% endif %}
  {% else %}
    <p>
      Original repository by
      <a href="{{req.creator_url}}">{{req.creator_name}}</a>
      is deleted
    </p>
    <div>{{g.markdown.convert(req.description)}}</div>
    {% if h.has_access(c.app, 'write')() %}
      {{ c.mr_dispose_form.display(action="save", value=dict(status=req.status)) }}
      <br style="clear:both">
    {% endif %}
  {% endif %}

{% endblock %}

{% block after_content %}
  <div id="discussion_holder">
    <h2>Discussion</h2>
    {% set thread=req.discussion_thread %}
    {{c.thread.display(
        value=thread,
        new_post_text="New Comment",
        page=page,
        limit=limit,
        count=count)}}
  </div>
{% endblock %}

{% block extra_css %}
<style type="text/css">
  .merge-help-text { display: none; }
  .merge-ok { color: green; }
  .merge-conflicts { color: red; }
  .can-merge-in-progress { color: grey; }

  .task_status { margin: 0 10px; }
  .task_status h2 { display: none; }
  .task_status .{{ merge_status }} { display: inline-block; }
  .task_status h2.complete { color: #C6D880; }
  .task_status h2.busy, .task_status h2.busy { color: #003565; }
  .task_status h2.fail { color: #f33; }
</style>
{% endblock %}

{% block extra_js %}
{{ super() }}
<script type="text/javascript">
$(function() {
    {% if merge_status in ('ready', 'busy') %}
        $('#merge_task_status > .spinner').show();
        var delay = 500;
        function check_merge_status() {
          $.get("{{request.path.rstrip('/') + '/merge_task_status'}}", function(data) {
                if (data.status === 'complete') {
                    $('#merge_task_status > .spinner').hide();
                    $('#merge_task_status h2').hide();
                    $('#merge_task_status h2.complete').show();
                    location.reload();
                } else {
                    if (data.status === 'ready' || data.status === 'busy') {
                        // keep waiting
                        $('#merge_task_status h2').hide();
                        $('#merge_task_status h2.busy').show();
                    } else {
                        // something went wrong
                        $('#merge_task_status > .spinner').hide();
                        $('#merge_task_status h2').hide();
                        $('#merge_task_status h2.fail').show();
                    }
                    if (delay < 60000){
                        delay = delay * 2;
                    }
                    window.setTimeout(check_merge_status, delay);
                }
            });
        }
        window.setTimeout(check_merge_status, delay);
    {% endif %}

    {% if can_merge_status in ('ready', 'busy') %}
        $('#can_merge_task_status > .spinner').show();
        var delay = 500;
        function check_can_merge_status() {
          $.get("{{request.path.rstrip('/') + '/can_merge_task_status'}}", function(data) {
                if (data.status === 'complete') {
                    $('#can_merge_task_status > .spinner').hide();
                    $('#can_merge_task_status h2').hide();
                    // TODO: check if actually can merge and show appropriate message
                    $('.merge-help-text').hide();
                    $('.merge-ok').show();
                    $('.merge-btn').prop('disabled', false);
                } else {
                    if (data.status === 'ready' || data.status === 'busy') {
                        // keep waiting
                        $('#can_merge_task_status h2').hide();
                        $('#can_merge_task_status h2.busy').show();
                        $('.merge-help-text').hide();
                        $('.can-merge-in-progress').show();
                    } else {
                        // something went wrong
                        $('#can_merge_task_status > .spinner').hide();
                        $('#can_merge_task_status h2').hide();
                        $('#merge_task_status h2.fail').show();
                        $('.merge-help-text').hide();
                        $('.merge-conflicts').show();
                    }
                    if (delay < 60000){
                        delay = delay * 2;
                    }
                    window.setTimeout(check_can_merge_status, delay);
                }
            });
        }
        window.setTimeout(check_can_merge_status, delay);
    {% endif %}
});
</script>
{% endblock %}
