{% extends g.theme.master %}

{% block extra_css %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{c.app.url}}feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{c.app.url}}feed.atom"/>
{% endblock %}

{% macro clone_info(repo) %}
  {% if repo %}
    <label for="ro" class="grid-3">Read-only</label>
    <div class="grid-16">
      <input id="ro" style="width:40em;" readonly type="text"
             class="selectText"
             value="{{repo.readonly_clone_command()}}"/>
    </div>
    {% if c.user != c.user.anonymous() %}
    <label for="rw" class="grid-3">Read / write</label>
    <div class="grid-16">
      <input id="rw" style="width:40em;" readonly type="text"
             class="selectText"
             value="{{repo.readwrite_clone_command()}}"/>
    </div>
    <br style="clear:both;"/>
    {% endif %}
  {% endif %}
{% endmacro %}
