{% extends 'jinja_master/master.html' %}
{% do g.register_forge_css('css/forge/hilite.css') %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}}
  {% if tree %} 
    / @{{h.text.truncate(tree._commit._id, 10)}}: {{lib.path_links(tree.path().split('/')[1:-1])}}
  {% endif %}
{% endblock %}

{% block header %}
  {% if tree %}
    <a href="{{tree._commit.url()}}">@{{h.text.truncate(tree._commit._id, 10)}}</a>:
    {{lib.path_links(tree.path().split('/')[1:-1])}}
  {% else %}
    No files
  {% endif %}
{% endblock %}

{% block content %}
          {% if tree %}
            {% if c.app.repo %}
            <p>
              Read access: <code>git clone git://{{c.app.repo.scm_url_path}} {{c.project.shortname}}</code><br/>
              Read/write access: <code>git clone ssh://{{c.user == c.user.anonymous() and 'USERNAME' or c.user.username}}@{{c.app.repo.scm_url_path}} {{c.project.shortname}}</code><br/>
              {% if c.user != c.user.anonymous() %}
              <form action="{{c.app.repo.url()}}fork" method="GET">
                <input type="submit" value="Fork" />
              </form>
              {% endif %}
            </p>
            {% endif %}
            <div style="clear:both;"></div>

            {% if tree.readme() %}
            <div class="clip">
              <h3><span class="ico-l"><b class="ui-icon ui-icon-document"></b> Read Me</span></h3>
              {{g.markdown.convert(tree.readme())|safe}}
            </div>
            {% endif %}
            
            {{c.tree_widget.display(tree=tree)}}

          {% endif %}
{% endblock %}
