{% extends 'repo/repo_master.html' %}
{% do g.register_forge_css('css/forge/hilite.css') %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}}
    / {{commit.shorthand_id()}} {{path}}
{% endblock %}

{% block header %}
<a href="{{commit.url()}}">{{commit.shorthand_id()}}</a> /
{{lib.path_links(path.split('/')[1:-1])}}
{% endblock %}

{% block content %}
  {{ clone_info(c.app.repo) }}
{{c.tree_widget.display(repo=repo, commit=commit, tree=tree, path=path)}}
{% if tree.readme() %}
<div class="clip">
  <h3><span class="ico-l"><b class="ui-icon ui-icon-document"></b> Read Me</span></h3>
  {{g.markdown.convert(tree.readme())|safe}}
</div>
{% endif %}
{% endblock %}
