<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>HelloForge Index Page</title>
  </head>
  
  <body>
    <h1>Welcome to HelloForge</h1>
    <h2>Project: $c.project.shortname</h2>
    <h2>The message is <span style="background-color:#fdd">$message</span></h2>
  </body>
</html>
