<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$page.title</title>
  </head>
  
  <body>
    <h1>$page.title</h1>
    <div>
      <a href="..">PluginRoot</a>
      <a href="edit">Edit Page</a>
      <a href="history">Page History</a>
    </div>

    <hr/>
    <div>
      ${Markup(page.html_text)}
    </div>

    <hr/>
    <h2>Comments</h2>
    <form method="post" action="comments/reply">
      <h3>Make a comment</h3>
      <textarea rows="4" cols="60" name="text"></textarea><br/>
      <input type="submit"/>
    </form>
    <py:for each="cmt in page.root_comments()">
      ${display_comment(cmt)}
    </py:for>
  </body>
</html>
