{% extends 'jinja_master/master.html' %}

{% block title %}
{{c.project.name}} / {{c.app.config.options.mount_label}} / {{post.thread.subject or '(no subject)'}}
{% endblock %}

{% block header %}
{{post.thread.subject or '(no subject)'}}
{% endblock %}

{% block content %}
          <div>
            Version:
            <a href="?version=1">&lt;&lt;</a>
            <a href="?version={{post.version-1}}">&lt;</a>
            {{post.version}}
            <a href="?version={{post.version+1}}">&gt;</a>
            <a href=".">&gt;&gt;</a>
          </div>
          {{c.post.display(value=post)}}
{% endblock %}
