{% extends 'jinja_master/master.html' %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / 
  {{thread.subject and '%s:%s' % (thread.discussion.name, (thread.subject or '(no subject)')) or thread.discussion.name}}
{% endblock %}

{% block header %}{{'subject' in thread and thread.subject or '(no subject)'}}{% endblock %}

{% block content %}
  {{c.thread_header.display(value=thread, page=page, limit=limit, count=count)}}
  {{c.thread.display(value=thread, page=page, limit=limit, count=count)}}
{% endblock %}