{
  "rules": {
    "max-len": [1, 119, 4],
    "indent": [2, 4]
  },
  "globals": {
    "ReactDOM": true,
    "React": true,
    "$": true,
    "window": true,
    "_": true,
    "ReactReorderable": true
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "google",
  "ecmaFeatures": {
    "jsx": true,
    "forOf": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "react"
  ]
}