tags
*.db
*.egg-info
*-py2.6.egg
*.log
*.pyc
*.orig
*.coverage
*~
*.swp
.dbshell
Allura/docs/_build/*
mail/logs/*
sandbox-env/*
download/*
install/*
*/.test-data/*
*/.coverage
allura/allura/templates/home/
solr_config/core0/data/
solr_config/core1/data/
var/
.nose-stopwatch-times
.noseids
env
