tags
*.db
*.egg-info
*-py2.6.egg
*.log
*.pyc
*.orig
*.coverage
*,cover
.coverage*
*~
*.swp
.dbshell
Allura/docs/_build/*
mail/logs/*
sandbox-env/*
download/*
install/*
*/.test-data/*
*/.coverage
solr_config/core0/data/
solr_config/core1/data/
var/
.nose-stopwatch-times
.noseids
env
Allura/allura/templates/home
Allura/allura/templates/var
Allura/production.ini
