tags
*.db
*.egg-info
*-py2.6.egg
*.log
*.pyc
*.orig
*.coverage
*~
*.swp
.dbshell
pyforge/docs/_build/*
mail/logs/*
sandbox-env/*
download/*
install/*
ForgeSCM/forgescm/data/*
*/.test-data/*
*/.coverage
pyforge/pyforge/templates/home/
solr_config/core0/data/
solr_config/core1/data/
var/
.nose-stopwatch-times
