# Some packages must be optional due to license incompatibility with Apache
# License v2

# for ForgeWiki mediawiki importer, as well as ForgeBlog external feed
html2text

# for ForgeWiki's mediawiki importer:
mediawiki2html  # GPL

# for spam checking
akismet>=1.3

# for these types of password hashing
#   bcrypt restricted due to:
#   https://foss.heptapod.net/python-libs/passlib/-/issues/196
#   https://forge-allura.apache.org/p/allura/tickets/8590/
bcrypt<5
argon2-cffi
