# requirements for the SF instance

akismet==0.2.0
amqplib==0.6.1
kombu==1.0.4
coverage==3.5a1-20110413
ForgeHg==0.1.0
ForgePastebin==0.2.2
mechanize==0.2.4
MySQL-python==1.2.3c1
phpserialize==1.2
psycopg2==2.2.2
sf.phpsession==0.1
SQLAlchemy==0.7.2
sqlalchemy-migrate==0.7.1
pyzmq==2.1.7
html2text==3.200.3dev-20121112

# for the migration scripts only
postmarkup==1.2.0dev-20121116
# suds needed for teamforge import script
suds==0.4
mediawiki==0.0.1

# development
blessings==1.3
ipython==0.11
nose-progressive==1.3
pyprof2calltree==1.1.0
repoze.profile==1.3

# Include our common requirements
-r requirements-common.txt
