# Some packages must be optional due to license incompatibility with Apache
# License v2

# for ForgeWiki mediawiki importer, as well as ForgeBlog external feed
html2text

# for ForgeWiki's mediawiki importer:
mediawiki2html  # GPL

# for spam checking
akismet>=1.0.1
