# development-only dependencies
# nothing needed at runtime or for tests

lxml  # faster resp.html parsing in tests
pip-tools
q
sphinx-argparse
sphinx-rtd-theme
sphinxcontrib-programoutput
coverage
pycodestyle
pyflakes
