# requirements for all deployment environments

anyjson==0.2.3
async==0.6.1
Babel==0.9.4
Beaker==1.5.3
BeautifulSoup==3.1.0.1
chardet==1.0.1
Creoleparser==0.7.3
datadiff==1.1.2
decorator==3.1.2
docutils==0.6
EasyWidgets==0.2dev-20110404
feedparser==5.0.1
FormEncode==1.2.2
Genshi==0.5.1
gitdb==0.5.1
httplib2==0.6.0
ipython==0.10
iso8601==0.1.4
Jinja2==2.3.1
Mako==0.3.2
Markdown==2.0.3
MarkupSafe==0.11
mercurial==1.4.1
Ming==0.2.1dev-20110412
mock==0.6.0
nose==0.11.3
oauth2==1.2.0
Paste==1.7.3
PasteDeploy==1.3.3
PasteScript==1.7.3
PIL==1.1.7
poster==0.5
pyflakes==0.4.0
Pygments==1.3.1
Pylons==0.9.7
pymongo==1.9
Pypeline==0.1dev
pysolr==2.0.9
python-dateutil==1.5
python-ldap==2.3.9
python-openid==2.2.4
pytidylib==0.1.2
PyYAML==3.09
repoze.tm2==1.0a5
repoze.what==1.0.8
repoze.what.plugins.sql==1.0
repoze.what-pylons==1.0
repoze.what-quickstart==1.0.6
repoze.who==1.0.18
repoze.who-friendlyform==1.0.4
repoze.who.plugins.sa==1.0rc2
repoze.who-testutil==1.0
Routes==1.12.1
simplejson==2.1.1
SQLAlchemy==0.6beta3
sqlalchemy-migrate==0.5.4
Tempita==0.4
textile==2.1.4
ToscaWidgets==0.9.9
transaction==1.0.0
tw.forms==0.9.9
WebError==0.10.2
WebFlash==0.1a9
WebHelpers==1.0
WebOb==0.9.8
WebTest==1.2
wsgiref==0.1.2
zope.interface==3.5.3
