<form method="post" action="{{action}}">
  <div class="grid-7">
    <label class="simple">Bin Name: </label>
    <input type="text" name="bin_form.summary" value="{{value.summary}}"/>
  </div>
  <div class="grid-7">
    <label class="simple">Search Terms: </label>
    <input type="text" name="bin_form.terms" value="{{value.terms}}"/>
  </div>
  <div class="grid-5" style="text-align: right">
    <input type="submit" value="Save"/>
    <input type="button" value="Cancel" id="cancel_new_bin"/>
    <input type="hidden" name="bin_form.sort" value="{{value.sort}}">
    <input type="hidden" name="bin_form.old_summary" value="{{value.old_summary}}">
  </div>
</form>