<div class="{{css_class}}"
     style="border:1px solid #ccc">
  {% for f in widget.fields %}
    {% set ctx=widget.context_for(f) %}
    <div data-name="{{f.name}}">
      {% if f.show_label %}
        <div class="grid-4"><label>{{f.label}}:</label></div>
        <div class="grid-14">{{f.display(name=ctx['name'], value=ctx['value'])}}</div>
      {% else %}
        <div>{{f.display(name=ctx['name'], value=ctx['value'])}}</div>
      {% endif %}
    </div>
  {% endfor %}
  <div class="grid-18"><input class="delete" type="button" value="Delete Field"/></div>
  <div style="clear:both"></div>
</div>
