<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$app.config.options.mount_point Admin Options</title>
  </head>

  <body>
    <h1 class="title">$app.config.options.mount_point Admin Options</h1>
    <form method="POST" action="set_options">
        <div class="span-3 clear"><label>Show discussion:</label></div>
        <div class="span-13 last">
          <input type="checkbox" name="show_discussion" id="show_discussion" checked="${app.show_discussion or None}"
                 py:if="allow_config"/>
          <span py:if="not allow_config">${app.show_discussion}</span>
        </div>
        <div class="span-3 clear"><label>Show left bar:</label></div>
        <div class="span-13 last">
          <input type="checkbox" name="show_left_bar" id="show_left_bar" checked="${app.show_left_bar or None}"
                 py:if="allow_config"/>
          <span py:if="not allow_config">${app.show_left_bar}</span>
        </div>
        <div class="span-3 clear"><label>Show right bar:</label></div>
        <div class="span-13 last">
          <input type="checkbox" name="show_right_bar" id="show_right_bar" checked="${app.show_right_bar or None}"
                 py:if="allow_config"/>
          <span py:if="not allow_config">${app.show_right_bar}</span>
        </div>
        <hr class="clear clearfix" />
        <div class="push-3 span-13 last">
          <input type="submit" class="ui-state-default ui-button ui-button-text"
                  py:if="allow_config" value="Save"/>
        </div>
    </form>
  </body>
</html>
