<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$app.config.options.mount_point Admin Home</title>
  </head>

  <body>
    <h1 class="title">$app.config.options.mount_point Admin Home</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <form method="POST" action="set_home">
            <ol>
              <li>
                <label for="title">Wiki Home Page:</label>
                <input type="text" name="new_home" id="new_home" value="${home}"
                       py:if="allow_config"/>
                <span py:if="not allow_config">${home}</span>
              </li>
              <hr/>
              <li>
                <label>&nbsp;</label>
                <input type="submit" py:if="allow_config" value="Save"/>
              </li>
            </ol>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
