{% extends 'jinja_wiki_master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Browse Tags{% endblock %}

{% block header %}Browse Tags{% endblock %}

{% block wiki_content %}
<table id="forge_wiki_browse_tags">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Pages</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 0 %}
    {% for label in labels %}
      <tr class="{{i%2 and 'even' or ''}}">
        <td>{{label}}</td>
        <td>
          {% for p in labels[label] %}<a href="{{p.url()}}">{{p.title}}</a> {% endfor %}</td>
      </tr>
      {% set i = i+1 %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}