<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="lib.html" />
  <?python from pyforge.lib import helpers?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Browse Tags</title>
  </head>
  <body>
    <h1>Browse Tags</h1>
    <table id="forge_wiki_browse_tags">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Pages</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="tag in tags">
          <td>$tag</td>
          <td><span py:strip="True" py:for="p in tags[tag]"><a href="${p.url()}">$p.title</a> </span></td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
