<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="wiki_master.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Browse Tags</title>
  </head>
  <body>
    <h1 class="title">Browse Tags</h1>
    <table id="forge_wiki_browse_tags">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Pages</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="i, label in enumerate(labels)" class="${i%2 and 'even' or ''}">
          <td>$label</td>
          <td><span py:strip="True" py:for="p in labels[label]"><a href="${p.url()}">$p.title</a> </span></td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
