<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="lib.html"/>

  <?python
    from pyforge.lib.security import has_artifact_access
    ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$page.title</title>
  </head>
  
  <body>
    <h1>$page.title</h1>
    <form method="post" action="update">
      <div class="span-3"><label>Content:</label></div>
      <div class="editable viewing span-15 last" style="min-height:1em;">
        <div class="viewer">${Markup(g.markdown.convert(page.text))}</div>
        <div class="editor">${markdown_edit("text",page.text)}</div>
      </div>
      <div class="span-3"><label>Tags:</label></div>
      <div class="editable viewing span-15 last" style="min-height:1em;">
        <div class="viewer">
          <span py:for="tag in page.tags">$tag.tag (${page.artifacts_tagged_with(tag.tag).count()}) </span>
        </div>
        <div class="editor">${user_tags_edit('tags', user_tags)}</div>
      </div>
        
      <py:if test="has_artifact_access('edit_page_permissions', page)()">
        <div class="span-3"><label>Viewable by:</label></div>
        <div class="span-15 last">
          ${select_user_in_project('viewable_by', page.viewable_by, size=4, all=True)}
        </div>
      </py:if>
      <input type="submit" value="Save Changes"/>
    </form>
    <br/>
    ${list_attachments(list(page.attachments), has_artifact_access('edit', page)())}
    <div py:if="has_artifact_access('edit', page)()" class="reply title-pane closed">
      <button class="title">Add Attachment</button>
      <div class="content">
        <form id="attachment_form" method="post" action="${page.url() + 'attach'}" enctype="multipart/form-data">
          ${file_field('file_info', 'File to upload')}
          ${submit_button('Attach file')}
        </form>
      </div>
    </div>
  </body>
</html>
