<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="wiki_master.html"/>
  <?python from pyforge.lib.security import has_artifact_access?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label / $title</title>
  </head>

  <body>
    <h1 class="title">$title</h1>
		<div class="actions">
			<a href="." class="btn ico-l"><b class="ui-icon ui-icon-search"></b> <span>View Page</span></a>
		</div>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <form method="get" action="diff">
            <input type="submit" value="Compare revisions"/>
            <br/> <br/>
            <table>
              <thead>
                <tr>
                  <th>Version</th>
                  <th>V1</th>
                  <th>V2</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="i, p in enumerate(pages)">
                  <td>$p.version by $p.author.display_name</td>
                  <td><input name="v1" type="radio" value="$p.version"/></td>
                  <td><input name="v2" type="radio" value="$p.version"/></td>
                  <td>
                    <a href="./?version=$p.version" class="btn">View Revision</a>
                    <a href="./revert?version=$p.version" class="btn" py:if="i != 0 and has_artifact_access('edit', p)()">Revert to version $p.version</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
