<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="wiki_master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$title</title>
  </head>
  
  <body>
    <h1 class="title">$title</h1>
    <div>
      <a href=".">View Page</a>
      <a href="..">ToolRoot</a>
    </div>
    <hr/>
    <form method="get" action="diff">
      <input type="submit" value="Compare revisions" class="ui-button ui-widget ui-state-default ui-button-text-only"/>
      <br/> <br/>
      <table>
        <thead>
          <tr>
            <th>Version</th>
            <th>V1</th>
            <th>V2</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="p in pages">
            <td>$p.version by $p.author.display_name</td>
            <td><input name="v1" type="radio" value="$p.version"/></td>
            <td><input name="v2" type="radio" value="$p.version"/></td>
            <td>
              <a href="./?version=$p.version" class="ui-button ui-widget ui-state-default ui-button-text-only">View Revision</a>
              <a href="./revert?version=$p.version" class="ui-button ui-widget ui-state-default ui-button-text-only">Revert to version $p.version</a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
