<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python from pyforge import model as M?>
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="${c.app.templates}/lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$page.title</title>
    <link rel="stylesheet" type="text/css" 
          href="${g.app_static('css/hilite.css')}"/>
    <link rel="alternate" type="application/rss+xml" title="Page RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Page Atom" href="feed.atom"/>
    <link rel="alternate" type="application/rss+xml" title="Wiki RSS" href="../feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Wiki Atom" href="../feed.atom"/>
    <style>
      .hidden { display: None }
    </style>
  </head>
  
  <body>
    ${c.subscribe_form.display(value=subscribed, action='subscribe')}
    <br style="clear:both"/>
    <h1 class="title">$page.title</h1>
    <a href="${page.email_link(page.title)}">Email Page</a>
    <div>
      ${Markup(page.html_text)}
    </div>
    <div py:if="len(page.tags)">
    Tags: <span py:for="tag in page.tags"><a href="../browse_tags">$tag.tag (${page.artifacts_tagged_with(tag.tag).count()}) </a></span>
    </div>
    ${c.attachment_list.display(attachments=list(page.attachments), edit_mode=False)}
    <hr/>
    <div py:if="page.discussion_thread()" py:with="thread=page.discussion_thread()" id="#comment">
      <h2><a href="${thread.url()}">Discussion</a></h2>
      ${c.thread.display(value=thread)}
    </div>
  </body>
</html>
