<div class="nav">
  <div id="mainmenu" class="row">
    <div class="column grid_2"><a href="/" class="sf_logo"><img src="{{g.forge_static('images/sf10.png')}}" alt="SourceForge" width="110" height="14"/></a></div>
    <div class="column grid_10 tright">
      {% if c.user and c.user._id %}
        <a href="/account/">Account</a>
        <a href="/users/{{c.user.username}}">{{c.user.display_name}}</a>
        <a href="/auth/logout">Log Out</a>
      {% else %}
        <a href="/auth/create_account">Register</a>
        <a href="{{g.login_url}}">Log In</a>
      {% endif %}
    </div>
  </div>
</div>