<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% import 'jinja_master/lib.html' as lib with context %}
{# TODO: convert to lib.gravatar() and remove #}
{% from 'jinja_master/lib.html' import gravatar with context %}
{% do g.register_forge_js('js/jquery-base.js') %}
{% do g.register_forge_js('js/allura-base.js') %}
{% do g.register_forge_css('css/forge/hilite.css') %}
{% do g.resource_manager.register_widgets(c) %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Your title goes here{% endblock %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    {% for blob in g.resource_manager.emit('head_css') %}
      {{ blob }}
    {% endfor %}
    {% if c.project %}
    {% for blob in g.resource_manager.emit('head_js') %}
      {{ blob }}
    {% endfor %}
      <link rel="stylesheet" type="text/css" media="screen" href="{{c.project.neighborhood.url()+'site_style.css'}}" />
    {% elif neighborhood %}
      <link rel="stylesheet" type="text/css" media="screen" href="{{neighborhood.url()+'site_style.css'}}" />
    {% else %}
      <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/nf/site_style.css')}}" />
    {% endif %}
    {% block extra_css %}{% endblock %}

    {% block head %}
    {% endblock %}
<!--[if lt IE 9]>
		<link rel="stylesheet" href="/nf/css/forge/ie.css" type="text/css" charset="utf-8">
<![endif]-->
<!--[if IE]>
		<style type="text/css">
			.sfdl p.hide, .sfdls p.hide {display: none !important;}
		</style>
<![endif]-->

{% if g.production_mode %}{{g.analytics.display()}}{% endif %}
  </head>

  <body{% block body_attrs %}{% endblock %}>
    {% for blob in g.resource_manager.emit('body_top_js') %}
      {{ blob }}
    {% endfor %}
    {% include 'jinja_master/main_menu.html' %}
    <div class="container{{g.document_class(neighborhood)}}">
			<div id="header">
	      <div class="row">
          {% block nav_menu %}
          {% include 'jinja_master/nav_menu.html' %}
          {% endblock %}
				</div>
			</div>
      <div id="section">
        {% block top_nav %}
        {% include 'jinja_master/top_nav.html' %}
        {% endblock %}
				<div class="row base">
				  {% if not hide_left_bar %}
            {% include 'jinja_master/sidebar_menu.html' %}
            {% set outer_width = 10 %}
				  {% else %}
            {% set outer_width = 12 %}
          {% endif %}
				  {% if show_right_bar %}
            {% set inner_width = outer_width - 2 %}
				  {% else %}
            {% set inner_width = outer_width + 2 %}
          {% endif %}
          <div class="column grid_{{outer_width}} pad">
            {% set flash = tg.flash_obj.render('flash', use_js=False) %}
            {% if flash %}
              <div>{{flash}}</div>
            {% endif %}
            <h1 class="title">{% block header %}{% endblock %}</h1>
        		<div class="actions">{% block actions %}{% endblock %}</div>
        		{% block edit_box %}{% endblock %}
            <div class="content">
              <div class="row{% if show_right_bar %} dual{% endif %}">
                <div class="column {% block inner_grid %}grid_{{inner_width}}{% endblock %}">
                  {% block content %}{% endblock %}
                </div>
          			{% if show_right_bar %}
                <div id="sidebar-right" class="column grid_4 fright">
                  {% block right_content %}{% endblock %}
                </div>
                {% endif %}
              </div>
              {% block after_content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      {% include 'jinja_master/footer.html' %}
    </div>
    <div id="notifications">
      {% for n in h.pop_user_notifications() %}
        <div class="notice">{{ n.text }}</div>
      {% endfor %}
    </div>
    {% for blob in g.resource_manager.emit('body_js') %}
      {{ blob }}
    {% endfor %}
    {% for blob in g.resource_manager.emit('body_js_tail') %}
      {{ blob }}
    {% endfor %}
    {% block extra_js %}{% endblock %}
    {% if neighborhood %}
      {{ neighborhood.site_specific_html }}
    {% elif c.project.neighborhood %}
      {{ c.project.neighborhood.site_specific_html }}
    {% endif %}
  </body>
</html>
