{% if not c.project %}
  <div id="nav_menu_missing"></div>
{% else %}
  <a href="{{c.project.url()}}">
    {% if c.project.icon %}
      <img src="{{c.project.url()}}/icon" class="project_icon" alt="Project Logo" />
    {% else %}
      <img src="{{g.forge_static('images/project_default.png')}}" class="project_icon" alt="Default Project Icon" />
    {% endif %}
	<h1>
      {% if c.project.shortname.endswith('--init--') %}
        {{c.project.neighborhood.name}}
      {% else %}
        {{c.project.name}}
      {% endif %}
	</h1>
	</a>
{% endif %}