{% import 'allura:templates/jinja_master/lib.html' as lib with context %}
{% if not c.project %}
  <div id="nav_menu_missing"></div>
{% else %}
  {% if c.project.neighborhood.icon %}
    <a href="{{c.project.neighborhood.url()}}"><img src="{{c.project.neighborhood.url()}}/icon" class="neighborhood_icon" alt="Neighborhood Logo"></a>
  {% endif %}
  <a href="{{c.project.url()}}">
    {% if c.project.private_project_of() %}
      {{lib.gravatar(c.project.private_project_of(), size=48, className='project_icon')}}
    {% elif c.project.icon %}
      <img src="{{c.project.url()}}/icon" class="project_icon" alt="Project Logo">
    {% else %}
      <img src="{{g.forge_static('images/project_default.png')}}" class="project_icon" alt="Default Project Icon">
    {% endif %}
	<h1 class="project_title">
      {% if c.project.shortname.endswith('--init--') %}
        {{c.project.neighborhood.name}}
      {% else %}
        {{c.project.name}}
      {% endif %}
	</h1>
	</a>
{% endif %}
