{% if neighborhood %}
  <a href="{{neighborhood.url()}}" class="ui-icon-tool-home">
    Home
    {% if request.url.rfind(neighborhood.url(), - neighborhood.url()|length) != -1 %}
      <span class="arrow"></span>
    {% endif %}
  </a>
  {% if h.has_neighborhood_access('admin', neighborhood)() %}
  <a href="{{neighborhood.url()}}_admin/" class="ui-icon-tool-admin">
    Admin
    {% if neighborhood.url()+'_admin' in request.url %}
      <span class="arrow"></span>
    {% endif %}
  </a>
  {% endif %}
  {% if h.has_neighborhood_access('moderate', neighborhood)() %}
  <a href="{{neighborhood.url()}}_moderate/" class="ui-icon-tool-admin">
    Moderate
    {% if neighborhood.url()+'_moderate' in request.url %}
      <span class="arrow"></span>
    {% endif %}
  </a>
  {% endif %}
{% endif %}