{% if not neighborhood %}
    <div id="nav_menu_missing"></div>
{% else %}    
        <div class="column grid_1">
        {% if neighborhood.icon %}
        <img src="{{neighborhood.url()}}/icon" class="project_icon"/>
        {% else %}
        <img src="{{g.forge_static('images/project_default.png')}}" class="project_icon"/>
        {% endif %}
        </div>
        <div class="column grid_9">
                <h1>
                <a href="{{neighborhood.url()}}">{{neighborhood.name}}</a><br/>
                </h1>
        </div>
        <div class="column grid_2">&nbsp;</div>
{% endif %}
