body { margin: 0; font: 12px/1.5em Helvetica, sans-serif; word-spacing: -0.09em; background: rgb(245,245,245);}

#container {
	width: 100%;
	padding-bottom: 2em;
}

/* Grid (Flexible) - 12 col, 60px, 20px gutter */

.grid_1 { width:6.25%; }
.grid_2 { width:14.583%; }
.grid_3 { width:22.917%; }
.grid_4 { width:31.25%; }
.grid_5 { width:41.667%; }
.grid_6 { width:47.917%; }
.grid_7 { width:56.25%; }
.grid_8 { width:64.583%; }
.grid_9 { width:72.917%; }
.grid_10 { width:81.25%; }
.grid_11 { width:89.583%; }
.grid_12 { width:97.917%; }

.column {
    margin: 0 1.04%;
    overflow: hidden;
    float: left;
}
.row {
    min-width: 960px;
    width: 97.875%;
    margin: 0 1.064%;
    overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: 100%;
	display: inline-block;
}

.content .row {min-width: inherit;}

.grid_2.menu {width: 140px; margin-right: 10px;}

/* General */

h1 {font: 1.2em/1.8em Helvetica; font-weight: bold; margin: 0; padding: 0;}
h2 {font: 1em/1.6em Helvetica; font-weight: bold; margin: 0; padding: 0;}
h3,h4 {font: .9em/1.5em Helvetica; margin: 0; padding: 0;}
h4 {font-weight: bold; display: block;}
small {font: .75em/1.2em Helvetica;}

hr {border: none; height: 0; clear: both; margin: 1em 0 .8em; display: block; border-bottom: 1px solid {{color5}};}

.hide {display: none;}

a {color: {{color1}}; text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {outline:0;}


img {border: none;}

.chip {height: 75px; width: 75px; margin: 1px; padding: 2px; display: block; font: .75em/1.2em Helvetica;}
.chip.sm {height: 25px; margin-bottom: 0;}

.reverse {color: rgb(255,255,255);}

/* nav */
.nav .row {position: relative;}
.sf_logo {margin: 7px 0 0 0; display: inline-block;}
.nav .tright a { color: rgb(255,255,255); text-transform: uppercase; font-size: .9em; padding: 1em .5em; line-height: 2.8em;}
.nav {
	margin: 0;
	background: rgb(0,0,0);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, to({{color3}}), from(rgb(0,0,0)));
		background-image: -moz-linear-gradient(100% 100% 90deg, {{color3}}, rgb(0,0,0) 100%);
	box-shadow: {{color3}} -3px 1px 3px;
		-moz-box-shadow: {{color3}} -3px 1px 3px;
		-webkit-box-shadow: {{color3}}  -3px 1px 3px;
}

/* Search */

#search input {
	margin-top: 6px;
	margin-bottom: 20px;
	width: 92%;
	display: block;
	border: none;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }



/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=0px&bgColorHeader=ffffff&bgTextureHeader=01_flat.png&bgImgOpacityHeader=100&borderColorHeader=aed0ea&fcHeader=2c343b&iconColorHeader=576785&bgColorContent=ffffff&bgTextureContent=04_highlight_hard.png&bgImgOpacityContent=100&borderColorContent=ffffff&fcContent=2c343b&iconColorContent=576875&bgColorDefault=edf3fb&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=80&borderColorDefault=aed0ea&fcDefault=2c343b&iconColorDefault=576785&bgColorHover=edf3fb&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=c3dcf0&fcHover=2c343b&iconColorHover=2c343b&bgColorActive=aed0ea&bgTextureActive=04_highlight_hard.png&bgImgOpacityActive=50&borderColorActive=aed0ea&fcActive=2c343b&iconColorActive=576785&bgColorHighlight=ffef8f&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=25&borderColorHighlight=f9dd34&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=cd0a0a&bgTextureError=01_flat.png&bgImgOpacityError=15&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffffff&bgColorOverlay=111517&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=20&opacityOverlay=60&bgColorShadow=111517&bgTextureShadow=01_flat.png&bgImgOpacityShadow=90&opacityShadow=30&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=0px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-size: 1em; font-family: Helvetica, sans-serif; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Helvetica, sans-serif; font-size: 1em; }
.ui-widget-content { border: none; background: rgb(255,255,255); color: rgb(69,69,69);  }
.ui-widget-content a { color: rgb(69,69,69);  }
.ui-widget-header { border-bottom: 1px solid rgb(215,215,215); background: rgb(255,255,255) ; color: rgb(69,69,69);  font-weight: bold; }
.ui-widget-header a { color: rgb(69,69,69);  }


/* Misc visuals
----------------------------------*/


/* Overlays */
.ui-widget-overlay { background: #111517 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); }
.ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #111517 url(images/ui-bg_flat_90_111517_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Accordion
----------------------------------*/


/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
.ui-corner-tr { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.ui-corner-br { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-top { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-right {  -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-corner-left { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.ui-corner-all { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }



/* Dialog
----------------------------------*/
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }


/* Items */

.border {
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	padding: 5px 10px;
	border-bottom: 1px solid rgb(255,255,255);
}

.card {
	position: relative;
	margin: 10px 10px 10px 3px;
	height: 230px;
	width: 162px;
	overflow: hidden;
	float: left;
	box-shadow: rgb(135,135,115) 0 2px 4px;
		-moz-box-shadow: rgb(115,115,115) 0 2px 4px;
		-webkit-box-shadow: rgb(115,115,115) 0 2px 4px;
	background: rgb(255,255,255);
	background-image: -webkit-gradient(linear, 0% 85%, 0% 100%, from(rgb(255,255,255)), to({{color6}}));
	background-image: -moz-linear-gradient(100% 100% 90deg,{{color6}}, rgb(255,255,255), rgb(255,255,255) 25%);
}

.card .box {
	border: none;
	border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	margin: -6px 0 5px;
	padding: 10px 0 0;
	height: 48px;
	position: relative;
	line-height: 60px;
}

.base .card h2 {margin: 10px 0 0;}
.card h2 {line-height: 1.4em; margin-top: 15px !important;}
.card .desc {margin: 5px 0 0;}
.card .quik {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.card .quik a {
    margin: 0;
    color: rgb(0,0,0);
    text-shadow: rgb(255,255,255) 0 1px;
    background: none;
    border: none;
}
.card .quik a b {top: 0;}
.card .feature {
	position: absolute;
	top: -1px;
	right: -3.3em;
	padding: 2em 3em .4em;
	color: rgb(255,255,255);
	font: .7em/1em helvetica;
	text-transform: uppercase;
	font-weight: bold;
	transform: rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	box-shadow: rgb(205,205,205) 0 1px 2px;
		-moz-box-shadow: rgb(205,205,205) 0 1px 2px;
		-webkit-box-shadow: rgb(205,205,205) 0 1px 2px;
	background: {{color3}};
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from({{color3}}), to(rgb(0,0,0)));
		background-image: -moz-linear-gradient(100% 100% 90deg,rgb(0,0,0), {{color3}} 100%);
}

.card .box.notch {
	margin: -6px -11px 5px 0;
	background-image: -webkit-gradient(linear, 50% 100%, 100% 0%, color-stop(0.9, rgb(255,255,255)), color-stop(0.9, {{color3}}));
	background-image: -moz-linear-gradient(100% 25% 230deg,{{color3}}, rgb(255,255,255), rgb(255,255,255) 1%);
}


.card hr {visibility: hidden;}
.card.sm {height: 46px; width: 34px;}
.card.sm .box {height: 48px; margin: 0 0 0 -7px; padding: 0;}

/* Table */
caption {font-weight: bold !important;}
table {
	background: rgb(255,255,255);
	width: 100%;
	margin: 10px 0;
	overflow: visible;
	padding: 0;
	border-collapse: collapse;
}

table.card {overflow: visible;}
caption {padding: .5em 0 10px; text-align: left;}
td, th {padding: .5em 10px .1em; text-align: left;}
tbody td, tbody th {border-top: 1px solid {{color5}};}
thead tr {
	border: 1px solid {{color5}};
}
thead th {
	font-weight: bold;
	text-align: left;
	text-shadow: rgb(255,255,255) 0 1px;
	color: {{color3}};
	text-transform: uppercase;
	padding: .5em 10px .1em;
	background: {{color6}};
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to({{color6}}));
	background-image: -moz-linear-gradient(100% 100% 90deg, {{color6}}, rgb(255,255,255) 100%);
}
tfoot td {
	border-top: 4px solid {{color5}};
}

tbody tr.even td, tbody tr.even th {background: rgb(245,245,245);}

/* Form */
form fieldset.card {overflow: visible; display: block; 	margin-bottom: 2em; border: none;}
form fieldset {
	margin: 0 0 1em;
	border: 2px double {{color5}};
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

form fieldset fieldset {border: none; margin: 0; padding: 0;}

form legend {
	color: {{color4}};
	text-shadow: rgb(255,255,255) 0 1px;
	font-weight: bold;
	padding: 0 10px;
	font-size: 1.2em;
	position: relative;
	border: none;
	background: none;
}

form ol {padding-left: .3em;}
form ol li {
	line-height: 30px;
	list-style: none;
	padding: 5px 5px;
	margin-bottom: 2px;
}

form ol ol li {
	background: none;
	border: none;
	float: left;
}

form label {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

form fieldset fieldset label {
	line-height: 20px;
	width: auto;
}

form fieldset fieldset label:hover {
	cursor: pointer;
}

form input[type=text],
form input[type=password],
form input[type=tel],
form input[type=email],
form textarea {
	background: #ffffff;
	outline: none;
	padding: 5px;
	width: auto;
	border: 1px solid rgb(205,205,205);
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	font-size: 1em;
	font-family: Helvetica;
	margin-bottom: 5px;
}

form button, form input[type=submit], form input[type=reset], form input[type=button] {font-size: 1em;}


form input[type=radio],
form input[type=checkbox] {
	width: auto;
}


form input[type=text]:focus,
form input[type=tel]:focus,
form input[type=email]:focus,
form textarea:focus {
	box-shadow: rgba(245,245,245, 0.6) 0 1px, inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 20px 20px -10px rgb(245,245,245);
		-moz-box-shadow: rgba(245,245,245, 0.6) 0 1px, inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 20px 20px -10px rgb(245,245,245);
		-webkit-box-shadow: rgba(245,245,245, 0.6) 0 1px, inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 20px 20px -10px rgb(245,245,245);
}

form input[type=radio],
form input[type=checkbox] {
	float: left;
	margin-right: .5em;
}


/* Buttons - lui */
.btn, button, input[type=submit], input[type=reset], input[type=button] {
	font-weight: bold;
	text-shadow: rgb(255,255,255) 0 1px;
	text-decoration: none;
	margin: .2em 5px 0 0;
	display: inline;
	float: left;
	padding: .275em .8em .225em;
	border: 1px solid {{color5}};
	min-width: .7em;
	overflow: hidden;
	color: rgb(69,69,79) !important;
	text-align: center;
	position: relative;
	height: auto;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	background: {{color6}};
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to({{color6}}));
		background-image: -moz-linear-gradient(100% 100% 90deg,{{color6}}, rgb(255,255,255) 100%);
}
button, input[type=submit], input[type=reset], input[type=button] {padding: .35em .8em .3em;}

.btn:hover {
	cursor: pointer;
	text-decoration: none;
}
.btn:active:hover, button:active:hover, input[type=submit]:active:hover, input[type=reset]:active:hover, input[type=button]:active:hover, .btn_activate {
	background: rgba(0, 0, 0, 0.4);
	box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, .8) 0 1px 3px;
		-moz-box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, .8) 0 1px 3px;
		-webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, .8) 0 1px 3px;
}
.under {text-decoration: underline;}
.ico-l {padding-left: 22px !important;}
.ico-r {padding-right: 22px !important;}
.btn.ico span {text-indent: -7000em; display: block;}

.ico-r, .ico-l, .ico
{
	margin: .2em 5px 5px 0;
	padding: 3px 6px;
	overflow: hidden;
	position: relative;
}

.btn b, .ico-r b, .ico-l b, .ico b {position: absolute; top: .1em; left: .35em; height: 16px; width: 16px;}
.btn.ico {width: 10px; height: 18px;}
.btn b, .btn.ico-r b, .btn.ico-l b, .btn.ico b {top: .25em;}

.btn-set {
	display: block;
	float: left;
}
.btn-set .btn {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.btn-bar .btn-set .btn {
	margin: 0 -1px 0 0;
}
.btn-set .btn:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
}

.btn-set .btn:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
}

.btn-set.duo .btn:first-child {
	margin: 0 -1px 0 0;
}

.btn-set.duo .btn:last-child {
	margin: 0 0 0 0;
}
.btn-bar h2, .btn-bar .tleft {float: left; padding: .2em .5em 0 .5em;}
.btn-bar .tleft {padding: .3em .5em 0 .5em;}

.btn-bar {
	display: block;
	padding: .2em .3em .1em;
	border: 1px solid {{color4}};
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	background: {{color4}};
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from({{color5}}), to({{color6}}));
	background-image: -moz-linear-gradient(100% 100% 90deg,{{color6}}, {{color5}} 100%);
	text-decoration: none;
	min-width: 1em;
	text-align: center;
	position: relative;
}

.btn-bar .btn {margin: 0 5px 0 0;}

.btn-bar hr {margin: 0; visibility: hidden;}

.btn-bar .btn-set {
	font: 1em/1.8em Helvetica;
}

.disabled {}
.active {
	color: {{color2}} !important;
	background-color: {{color4}};
	border-color: {{color5}};
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(225,225,225)), to({{color4}}));
	background-image: -moz-linear-gradient(100% 100% 90deg,{{color4}}, rgb(225,225,225) 90%);
	text-shadow: rgba(255,255,255, .8) 0 1px;
}
.btn-bar .active {
	background-color: {{color5}};
	border-color: {{color4}};
	color: rgb(39,39,49) !important;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(rgb(205,205,205)), to(rgb(225,225,225)));
	background-image: -moz-linear-gradient(100% 100% 90deg,rgba(225,225,225), rgb(205,205,205) 100%);
}

.primary {background-color: rgb(0,0,0);}

/* Footer */

#footer{
	clear: both;
	display: block;
	padding: 1em 0;
	text-shadow: rgb(255,255,255) 0 1px 1px;
	font: .8em/1.3em Helvetica;
}

#footer div:first-child a {margin-right: 1em;}
#footer div:last-child, #footer div:last-child a {color: rgb(175,175,175);}


#footer .foot_head{
    text-transform: uppercase;
    font-weight: bold;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active{
    color: {{color3}};
    text-decoration: none;
}
#footer a:hover{
    text-decoration: underline;
}
#footer ul{
    margin: 0;
    padding: 0;
}
#footer li{
    list-style-type: none;
}


/* Alignment override */

.tcenter {text-align: center !important;}
.tleft {text-align: left !important;}
.tright {text-align: right !important;}
.fno {float: none !important;}
.fleft {float: left !important;}
.fcenter {margin: -1em auto 0 !important; display: block !important;}
.fright {float: right !important;}
.clear {clear:both;}

/* Messages */

.error, .notice, .success, .ok {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error p, .notice p, .success p {margin: 0;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success, .ok {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11; text-decoration: underline;}
.notice a {color:#514721; text-decoration: underline;}
.success a, .ok a {color:#264409; text-decoration: underline;}
.forums .error {background:#8a1f11 !important; border-color: #500;}
.forums .notice {background:#e5be20;}
.forums .success, .forums .ok {background:#264409;}

/* Modal */
#modal {
        background: rgb(255,255,255);
		border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
        width: 400px;
        position: relative;
        display: none;
    }
#modal #close {
	position: absolute;
	top: 0;
	right: -5px;
	}

#notifications {
    position:fixed;
    top:5px;
    left:5px;
    right:5px;
}
#notifications > div {
    display:block;
    width:40%;
    min-width:18em;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    opacity:0.8;
    -moz-border-radius:0.7em;
    -webkit-border-radius:0.7em;
}



/* UI */

ul.row {margin: 0; padding: 0;}
.row.project {
	margin-bottom: -22px;
	position: relative;
	z-index: 1;
}
.project ul.ui-tab li a, .project ul.ui-tab li.active a {
    font-weight:bold;
}
#header {margin-top: 20px; display: block;}
#header .row {position: relative; padding-bottom: 12px;}
#header h1 {font-size: 1.6em !important; position: absolute; left: 60px; top: -4px;}
#header h1 a {color: {{color3}}; text-shadow: #fff 0 1px;}
#header p {padding: 5px 3px 5px 5px; margin: 0;}
#header p.neighborhood {
	padding: 4px 40px 6px 10px;
	font: 1em/1em Helvetica, sans-serif;
	position: absolute;
	right: 10px;
	top: 0px;
	width: auto;
	background: {{color5}};
	border: 1px solid rgb(205,205,205);
	margin: 1px;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: rgba(255,255,255, 0.9) 0 1px, rgba(0,0,0, 0.2) 0 -1px;
		-moz-box-shadow:  rgba(255,255,255, 0.9) 0 1px, rgba(0,0,0, 0.2) 0 -1px;
		-webkit-box-shadow:  rgba(255,255,255, 0.9) 0 1px, rgba(0,0,0, 0.2) 0 -1px;
}
#header .neighborhood small {text-transform: uppercase;}
#header .neighborhood a {color: rgb(109,109,109); text-shadow: {{color6}} 0 1px;}
#header .neighborhood img {height: 24px; width: 24px; position: absolute; top: 5px; right: 5px;}

.menu ul li, ul.ui-tab, ul.ui-tab li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Top tabs */
ul.ui-tab {margin-top: 5px;}
ul.ui-tab li {
	display: block;
	background: none;
	float: left;
	padding-top: 10px;
	padding-bottom: 7px;
}
ul.ui-tab li.active a {
	background: #BEBFC3;
	border: 1px solid #9A9B9F;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
	box-shadow: 0 -1px transparent;
		-moz-box-shadow: 0 -1px transparent;
		-webkit-box-shadow: 0 -1px transparent;
	text-shadow: none;
}
ul.ui-tab li a {
	color: rgb(0,0,0);
	font: 1em/1.5em Helvetica;
	text-transform: uppercase;
	text-shadow: rgba(255,255,255, .8) 0 1px;
	padding-top: 5px !important;
	padding-bottom: 10px !important;
	padding-right: 10px !important;
	margin: 0 5px 0 0;
}

/* Right Side */

.listed {
    margin: 0 0 .5em;
    padding: 0 0 .5em;
    border-bottom: 1px solid {{color5}};
}
.listed.last {
    margin: 0 0 .5em;
    padding: 0 0 .5em;
    border-bottom: none;
}
.listed img {vertical-align: middle;}

.listed b {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding: 0 10px 0 0;
}
.listed a {
    display: inline;
}


.clip {
	border: 1px solid {{color5}};
	margin-top: 20px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
}
.clip .listed {
	margin: 0 5px 5px;
}
.clip h3 {
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid {{color5}};
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
	background: {{color6}};
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to({{color6}}));
		background-image: -moz-linear-gradient(100% 100% 90deg,{{color6}}, rgb(255,255,255) 100%);
}


/* Side box */
.menu {padding-top: 10px;}
.menu ul {
	background: #E6E6E6;
	border: 1px solid #9A9B9F;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0 1px rgba(255, 255, 255, 0.5), 0 -1px transparent;
		-moz-box-shadow: 0 1px rgba(255, 255, 255, 0.5), 0 -1px transparent;
		-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.5), 0 -1px transparent;
	margin: 0 0 20px;
	padding: 0;
}
.menu ul li a {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 10px !important;
	padding-left: 10px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid {{color5}};
	display: block;
	color: {{color3}};
	position: relative;
}
.menu ul li a span {
    width: 105px;
    display: inline-block;
}
.menu small {
	position: absolute;
	top: 8px;
	right: 5px;
	padding: 2px 5px 1px;
	font-weight: bold;
	color: rgb(255,255,255);
	text-shadow: {{color3}} 0 1px;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	background: rgb(109,109,109);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(109,109,109)), to(rgb(169,169,169)));
		background-image: -moz-linear-gradient(100% 100% 90deg,rgb(169,169,169), rgb(109,109,109) 100%);
}
.menu small a:hover {text-decoration: none !important;}
.menu ul li.active a {border-top-color: rgb(220,220,220);}
.menu ul li:first-child a {border-top: none;}
.menu ul li:last-child a {border-bottom: none;}
.menu .ico-l {margin: 0;}
.menu .btn b, .menu .ico-r b, .menu .ico-l b, .menu .ico b {margin: 0; top: 5px;}

.sidebarmenu .active:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
}
.sidebarmenu .active:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
}

.sidebarmenu li a {
	font-weight: bold;
	border-bottom-color: #BEBFC3 !important;
}
.nav_head {
	font-size: 90%;
	margin-left: 5px;
	margin-bottom: 10px;
	color: rgb(69,69,69);
	text-transform: uppercase;
	text-shadow: rgba(255,255,255, .5) 0 1px;
}

/* Content */
.base {
    -moz-box-shadow:0 1px rgba(255, 255, 255, 0.5), 0 -1px transparent;
    
    
	background: #BEBFC3;
	border: 1px solid #9A9B9F;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0 1px rgba(255, 255, 255, 0.5), 0 -1px transparent;
		-moz-box-shadow: 0 1px rgba(255, 255, 255, 0.5), 0 -1px transparent;
		-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.5), 0 -1px transparent;
	position: relative;
	z-index: 0;
	margin-top: 20px !important;
}
.base h2 {color: rgb(115,115,115); margin: 10px 5px 5px; text-shadow: {{color6}} 0 1px;}
.base .pad h2 {margin: 0; color: rgb(0,0,0);}
.pad h3, .pad h4, .base .pad h2 {
    font-size: 1em;
    font-weight: bold;
    text-shadow: none;
}

.base .pad {
	background: rgb(255,255,255);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: rgba(0,0,0, 0.6) 0 2px 5px;
		-moz-box-shadow:  rgba(0,0,0, 0.6) 0 2px 5px;
		-webkit-box-shadow:  rgba(0,0,0, 0.6) 0 2px 5px;
	position: relative;
}
.base .pad .title, .title, .base .pad .title a, .title a, .actions a {color: rgb(255,255,255) !important;}
.base .pad .title, .title {
    background-color: #222327;
    background-image: -webkit-gradient(linear, 0% 85%, 0% 100%, from(#222327), to(#36373B));
    background: -moz-linear-gradient(100% 100% 90deg, #222327, #36373B 100%) repeat scroll 0 0 #36373B;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
	margin: 0;
	padding-left: 20px; font-size: 1em; line-height: 2.2em;
	text-shadow: rgb(0,0,0) 0 -1px;
	font-size: 1.2em;
}
.pad ul li ul li, .pad ol li ol li, #comment ul li {font-size: 100%;}
.content {padding: 15px 20px 20px;}
.actions {position: absolute; right: 10px; top: 5px; font-size: .85em; text-transform: uppercase; width: 100%;}
.actions .btn {background: none; border: none; text-shadow: none; padding-right: .8em; float: right;}
.actions .btn.ico-l {line-height: 1.8em; padding-bottom: .1em;}
.editbox {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    overflow: auto;
    padding: 1.5em;
}
.editbox label{
    color: #555;
    font-weight: bold;
}
.editbox label.cr{
    float: none;
    display: block;
    text-align: left;
}
.editbox .wide{width: 90%}
.editbox .row{min-width: inherit;}

/* Discussion */
#comment {padding-bottom: 20px;}
#comment h2 {margin-right: 1em;}
#comment .row  {
	border: 3px solid {{color5}};
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	position: relative;
	z-index: 1;
	float: right;
	clear: right;
	min-width: inherit;
}
.discussion-post {position: relative;}
.row.reply .grid_1.tcenter, #comment .row .grid_1.tcenter {min-width: 80px; padding: 5px 0 0 0;}
#comment .row .options {position: absolute; top: 10px; right: 10px; padding: 0; font-size: .85em; width:90px;}
#comment ul ul .row .options {right: 0;}
#comment .row .options a.little_link {clear:both; line-height: 2em; color: {{color3}}; position: relative; width: 50px; height: 20px;}
#comment .row .options a.little_link span {position: absolute; top: 0px; left: 25px;}
#comment ul {list-style: none; margin: 5px 0 0 0; padding: 0; float: right; clear: right; width:98%;}
#comment ul ul li {margin-right: 10px;}
#comment ul ul {margin: 0 !important;}
#comment ul ul ul li {margin-right: 0 !important;}
#comment ul .reply {border-top-width: 0; margin-top: 0 !important; background-color: #fff;overflow:auto;padding-bottom:30px;}

#comment ul .row {margin: 0; min-height: 140px;}
#comment ul ul .row {
	border: 3px solid {{color6}};
	border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	border-bottom-left-radius: 0;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
	margin: -3px 0 0 0;
	position: relative;
	z-index: 0;
}

#comment ul .column.grid_8 {width: 74%;}

.gravatar img {
	border: 3px solid rgb(255,255,255);
	box-shadow: rgba(0,0,0, 0.4) 0 1px 4px;
		-moz-box-shadow:  rgba(0,0,0, 0.4) 0 1px 4px;
		-webkit-box-shadow:  rgba(0,0,0, 0.4) 0 1px 4px;
}
.gravatar.sm img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
    border: 1px solid white;
}

.reply {
	margin: 20px 0 -25px -20px !important;
	padding: 10px 20px 20px;
	min-width: inherit;
}
.reply form {position: relative;}
.reply textarea {margin-top: 5px; padding: 10px; font: 1em/1.3em helvetica; width: 80%; height: 100px;}
.reply textarea, .reply input {margin-left: 7px;}
.reply .arw {
	background: rgb(255,255,255);
	transform: rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	height: 10px;
	width: 10px;
	border-bottom: 1px solid {{color5}};
	border-left: 1px solid {{color5}};
	position: absolute; top: 20px; left: 2px;
}

.solo {
   position: absolute; top: 40px; right: 40px; width: 275px;
}
.solo ul {list-style: none; margin: 0; padding: 0 5px;}
.solo li {    margin: 0 0 .5em;
    padding: 0 0 .5em;
    border-bottom: 1px solid rgb(215,215,215);}
.solo li:last-child {border: none;}

/* Icons */
.actions .ui-icon {background-image: url('{{g.forge_static("images/neo-icon-set-ffffff-256x350.png")}}');}
.ui-icon {background-image: url('{{g.forge_static("images/neo-icon-set-454545-256x350.png")}}');}

.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

.ui-icon-tool-home { background-position: 0 -112px; }
.ui-icon-tool-Wiki { background-position: 0 -320px; }
.ui-icon-tool-Git, .ui-icon-tool-SVN, .ui-icon-tool-Hg { background-position: -16px -320px; }
.ui-icon-tool-Stats { background-position: -32px -320px; }
.ui-icon-tool-admin { background-position: -48px -320px; }
.ui-icon-tool-Discussion { background-position: -64px -320px; }
.ui-icon-tool-Tickets { background-position: -80px -320px; }
.ui-icon-tool-Downloads { background-position: -96px -320px; }
.ui-icon-tool-Link { background-position: -32px -80px; }

/* Attachments */

.attachment_images{
    overflow: auto;
}
.attachment_thumb{
    float: left;
    margin: .5em;
}

/* WMD WYSIWIG */

.wmd_edit {width: 510px; height: 150px; margin: 0 0 1em; float: none;}

.wmd_preview{
    border: 1px solid rgb(215,215,215);
    padding: .5em;
    width: 510px;
    margin: 0 0 2em;
    float: none;
}
.wmd_holder{
    overflow: auto;
}

.wmd_holder div div {background: none !important;}
.wmd_holder span {padding: 0 10px !important;}

/* Tags */
.tagEditor
{
	margin: 4px 0;
	padding: 0;
}

.tagEditor li, .removable
{
	display: inline;
	background-image: url('{{g.forge_static("images/minus_small.png")}}');
	background-color: #eef;
	background-position: right center;
	background-repeat: no-repeat;
	list-style-type: none;
	padding: 0 18px 0 6px;
	margin: 0 4px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tagEditor li:hover
{
	background-color: {{color6}};
}

/* Inline editing of content */
.editor input, .editor textarea, .editor select {margin: 0;}
.edit span.ui-icon {float: left; margin: auto; margin-right: 5px;}

.editable.viewing .editor
{
    display: none;
}

.editable.editing .viewer
{
    display: none;
}
.editable .viewer {
    padding: 1px 5px;
    display: block;
    position: relative;
    min-height: 21px;
}
.editable .viewer:hover {
    padding: 0px 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}
h1.title .viewer {
    padding: 1px 1px 1px 1px;
}
h1.title .viewer:hover {
    padding: 0 0 0 0;
}
.editable + .editable
{
    margin-top: 1em;
}
.editable .editor{
    background-color: #ffc;
    padding: 4px 4px;
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
}
.editable .editor .holder_table{
    background-color: #ffc;
    margin: 0;
}
.editable .editor .save_controls{
    width: 115px;
}
.editable .editor.multiline .save_holder{
    margin-top: 4px;
}
.editable .editor.multiline.overlap{
    position:absolute;
    z-index:10;
}
.editable .editor .save_holder .cancel_btn{
    float: left;
    margin: 5px 1em 0;
}
.editable .editor .save_controls .save_holder .cancel_btn{
    margin: -5px 1em 0 1em;
}
.editable .editor .save_holder input{
    float: left;
}
.editable .viewer .edit_btn{
    display: none;
    position: absolute;
    top: 2px;
    right: 0;
}
.editable .viewer:hover .edit_btn {
    display: inline;
}

#sidebar-right input[type="text"]{
    width: 88%;
}
#header .project_icon{
    width: 32px;
    height: 32px;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

{{ extra_css }}