{%- macro header(u, login_url) %}
<header id="site-header">
  <hgroup>
    <nav>
      {% if u and u._id %}
        <a href="/account/">Account</a>
        <a href="/users/{{u.username}}">{{u.display_name}}</a>
        <a href="/auth/logout">Log Out</a>
      {% else %}
        <a href="/auth/create_account">Register</a>
        <a href="{{login_url}}">Log In</a>
      {% endif %}
    </nvv>
  </hgroup>
</header>
{%- endmacro %}

{%- macro footer() %}
<footer id="site-footer">
  <nav>
	  This project is powered by <a href="http://sourceforge.net/p/allura/home/">Allura</a>.
	</nav>
</footer>
{%- endmacro %}