{%- macro header(u, login_url) %}
<div class="nav">
  <div id="mainmenu">
    <div class="grid-4"><a href="/" class="logo">&nbsp;</a></div>
    <div class="grid-10 tright">
      {% if u and u._id %}
        <a href="/account/">Account</a>
        <a href="/users/{{u.username}}">{{u.display_name}}</a>
        <a href="/auth/logout">Log Out</a>
      {% else %}
        <a href="/auth/create_account">Register</a>
        <a href="{{login_url}}">Log In</a>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}

{%- macro footer() %}
<footer>
  <div class="grid-6">
	  This project is powered by <a href="http://sourceforge.net/p/allura/home/">Allura</a>.
	</div>
</footer>
{%- endmacro %}