{%- macro header(username, userid, name, login_url, logout_url) %}
<header id="site-header">
  <hgroup>
    <nav>
      {% if userid %}
        <a href="/account/">Account</a>
        <a href="/users/{{username}}">{{name}}</a>
        <a href="{{logout_url}}">Log Out</a>
      {% else %}
        <a href="/auth/create_account">Register</a>
        <a href="{{login_url}}">Log In</a>
      {% endif %}
    </nav>
  </hgroup>
</header>
{%- endmacro %}

{%- macro footer(year) %}
<footer id="site-footer">
  <nav>
	  This project is powered by <a href="http://sourceforge.net/p/allura/home/">Allura</a>.
	</nav>
</footer>
{%- endmacro %}

{%- macro custom_js(path_to_static) %}

{%- endmacro %}