{% extends 'jinja_master/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.app.config.options.mount_label}}{% endblock %}

{% block content %}
  <h2>Enabled Apps</h2>
  <ul>
    {% for app in enabled_apps %}
    <li>
      <a href="{{app.application_docs_url}}"
         title="{{app.application_desc}}">{{app.description}}</a>:
      {{app.application_function}} &mdash;
      <a href="{{app.format_column('application_admin_url')}}">Manage</a>
      / <a href="grant_admin?ft={{app.feature_type}}">Grant Admin</a>
      / <a href="disable?ft={{app.feature_type}}">Disable</a>
    </li>
    {% endfor %}
  </ul>

  <h2>Available Apps</h2>

  <ul>
    {% for app in disabled_apps %}
    <li>
      <a href="{{app.application_docs_url}}"
         title="{{app.application_desc}}">{{app.description}}</a>:
      {{app.application_function}} &mdash;
      <a href="enable?ft={{app.feature_type}}">Enable</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}