<tr>
  {% for field in fields %}
    {% set ctx=c.widget.context_for(field.name) %}
    <td>
      {% if loop.index0 == 0 %}
        {% for hidden_field in hidden_fields %}
          {% set hidden_ctx=c.widget.context_for(hidden_field.name) %}
          {{hidden_field.display(**hidden_ctx)}}
        {% endfor %}
      {% endif %}
      {{field.display(**ctx)}}
      {% if loop.index0 == 1 %}
        <br/>
        <a href="{{value.admin_url}}">Mailman Admin</a> |
        <a href="{{value.name}}/subscribers/">List Subscribers</a> |
        <a href="{{value.name}}/admin_password/">Change Password</a>
      {% endif %}
    </td>
  {% endfor %}
</tr>
