{% extends g.theme.master %}

{% block title %}Mailing List Subscribers{% endblock %}

{% block header %}Mailing List Subscribers: {{ml.name}}{% endblock %}

{% block content %}
  <div>
    <p>Search through the subscription listing, or
    <a href="display">click here</a> to see a full subscriber list.
    </p>
    {{c.search.display(action='display')}}
  </div>
  <div class="notice">
    <b>Delayed Reports</b><br/>
    All subscriber information is refreshed each Sunday; the subscriber
    listing for your mailing lists may have changed since the last time this
    data was updated.
  </div>
{% endblock %}