<form name="{{name}}"
      id="{{name}}"
      method="{{method}}"
      action="{{action}}"
      enctype="{{enctype}}">

  {% set ctx=widget.context_for(widget.fields.name) %}
  {% set field=widget.fields.name %}
  <label for="name" class="grid-4">New List Name:</label>
  <div class="grid-15">
    {% if ctx.errors %}<span class="{{error_class}}">{{ctx.errors}}</span><br/>{% endif %}
    {{c.app.project.shortname}}-{{field.display(**ctx)}}@lists.sourceforge.net
  </div>

  {% set ctx=widget.context_for(widget.fields.description) %}
  {% set field=widget.fields.description %}
  <label for="description" class="grid-4">Description:</label>
  <div class="grid-15">
    {% if ctx.errors %}<span class="{{error_class}}">{{ctx.errors}}</span><br/>{% endif %}
    {{field.display(**ctx)}}
  </div>

  {% set ctx=widget.context_for(widget.fields.is_public) %}
  {% set field=widget.fields.is_public %}
  <label for="is_public" class="grid-4">Is this list public?</label>
  <div class="grid-15">
    {% if ctx.errors %}<span class="{{error_class}}">{{ctx.errors}}</span><br/>{% endif %}
    {{field.display(**ctx)}}
  </div>

  <label class="grid-4">&nbsp;</label>
  <div class="grid-15">
    {% for b in widget.buttons %}{{b.display()}}{% endfor %}
  </div>
</form>
