<form name="{{name}}"
      id="{{name}}"
      method="{{method}}"
      action="{{action}}"
      enctype="{{enctype}}">

  {% set ctx=widget.context_for(widget.fields.name) %}
  {% set field=widget.fields.name %}
  <label for="name">New List Name:</label>
  {% if ctx.errors %}<span class="{{error_class}}">{{ctx.errors}}</span><br/>{% endif %}
  {{c.app.project.shortname}}-{{field.display(**ctx)}}@lists.sourceforge.net
  <br/>

  {% set ctx=widget.context_for(widget.fields.description) %}
  {% set field=widget.fields.description %}
  <label for="description">Description:</label>
  {% if ctx.errors %}<span class="{{error_class}}">{{ctx.errors}}</span><br/>{% endif %}
  {{field.display(**ctx)}}
  <br/>

  {% set ctx=widget.context_for(widget.fields.is_public) %}
  {% set field=widget.fields.is_public %}
  <label for="is_public">Is this list public?</label>
  {% if ctx.errors %}<span class="{{error_class}}">{{ctx.errors}}</span><br/>{% endif %}
  {{field.display(**ctx)}}
  <br/>

  <label>&nbsp;</label>
  {% for b in widget.buttons %}{{b.display()}}{% endfor %}
</form>
