<div>
  {% if tickets.__len__() %}
    <table>
      <thead>
        <tr>
          <th>
            <a id="select_all" href="#" class="btn"><span>All</span></a>
            <a id="select_none" href="#" class="btn"><span>None</span></a>
          </th>
          <th data-sort="ticket_num_i">Ticket</th>
          <th data-sort="status_s">Status</th>
          <th>Description</th>
          <th data-sort="assigned_to_s">Assigned To</th>
          <th data-sort="mod_date_dt">Updated</th>
        </tr>
      </thead>
      <tbody class="ticket-list">
        {% for t in tickets %}
        <tr>
          <td><input type="checkbox" name="{{t._id}}" value=""/></td>
          <td><a href="{{t.url()}}">[#{{t.ticket_num}}] {{t.summary}}</a></td>
          <td class="{{t.status}}">{{t.status}}</td>
          <td>{{h.text.truncate(h.really_unicode(t.description),70)}}</td>
          <td>{% if t.assigned_to_id %}{{t.assigned_to.display_name}}{% endif %}</td>
          <td>{{h.ago(t.mod_date)}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script type="text/javascript">
      var q="{{query}}", count={{count}}, limit={{limit}}, page={{page}}, sort="{{sort}}";
    </script>
  {% else %}
    No tickets found.
  {% endif %}
</div>
