{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}{{c.project.name}} Activity{% endblock %}

{% block header %}
    Activity for
    {% if c.project.is_user_project %}
        {{c.project.user_project_of.display_name}}
    {% else %}
        {{c.project.name}}
    {% endif %}
{% endblock %}

{% block actions %}
    {% if c.user and c.user != c.user.anonymous() and followee != c.user %}
        {{c.follow_toggle.display(following=following)}}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid-14">
        Something happened.
    </div>
{% endblock %}
