{% extends 'jinja_master/master.html' %}

{% block title %}{{c.project.name}} / {{app.config.options.mount_label}} / Admin Options{% endblock %}

{% block header %}{{app.config.options.mount_label}} Admin Options{% endblock %}

{% block content %}
  <form method="POST" action="update_options">
    <ol>
      <li>
        <div class="row dual">
          <div class="column" style="margin-right:0">
            <label for="show_download_button"
                   title="Select this if you want a download button on the project's home page to give users an easy path to download the latest release.
                         The download button will appear in the upper left corner of your projects home page.">Show Download:</label>
          </div>
          <div class="column grid_10" style="margin-left:0">
            <div class="editable viewing">
                <div class="viewer">{{c.project.show_download_button}}</div>
                <div class="editor"><input name="show_download_button" type="checkbox" checked="{{c.project.show_download_button or None}}"/></div>
            </div>
          </div>
        </div>
      </li>
      <hr class="clear clearfix" />
      <li>
          <label>&nbsp;</label>
          <input type="submit" value="Save"/>
      </li>
    </ol>
</form>
{% endblock %}