<div id="footer" class="row">
  <div class="column grid_6">
		<a href="http://sf.net/support/">Support</a>
		<a href="http://twitter.com/sfnet_ops">Status</a>
		<a href="http://p.sf.net/sourceforge/terms">Terms</a>
		<a href="http://p.sf.net/sourceforge/privacy">Privacy</a>
		<a href="http://sf.net/blog/">Blog</a>
		<a href="http://geek.net/advertise/">Advertise</a>
		<a href="http://sf.net/about">About</a>
  </div>
  <div class="column grid_6 tright">
    <img src="{{g.theme_static('images/geeknet-logo.png')}}" alt="Geeknet logo" width="80" height="17"/><br/>
     &copy; 2010 <a href="http://geek.net/">Geeknet, Inc.</a>
  </div>
</div>