<form method="{{method}}"
      enctype="{{enctype or ''}}"
      action="{{action}}">
  {% for field in widget.fields %}
    {% set ctx=widget.context_for(field) %}
    {% if field.field_type != 'hidden' %}
      {% if ctx.errors and field.show_errors -%}
      <span {{widget.j2_attrs({'class':error_class})}}>{{ctx.errors}}<br>
      {%- endif %}
      {% if field.show_label and field.label %}
      <label for="{{field.name}}" class="grid-13">{{field.label}}:</label>
      {% endif %}
      <div class="grid-13">{{field.display(**ctx)}}</div>
    {% else %}
      {{field.display(**ctx)}}
    {% endif %}
  {% endfor %}
  <div class="grid-13">&nbsp;</div>
  <hr>
  <div class="grid-13">&nbsp;</div>
  <div class="grid-13">
    {% for b in buttons %}
      {{b.display()}}
    {% endfor %}
    <a href="#" class="btn link close">Cancel</a>
  </div>
</form>
