{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Discussion{% endblock %}

{% block header %}{{value.name}}{% endblock %}

{% block edit_box %}
  <div class="editbox">{{widgets.discussion_header.display(value=value)}}</div>
{% endblock %}

{% block content %}
{{widgets.subscription_form.display(value=value,
                                    threads=threads,
                                    show_actions=True,
                                    action=value.url() + 'subscribe', 
                                    allow_create_thread=allow_create_thread,
                                    show_discussion_email=show_discussion_email,
                                    show_subject=show_subject,
                                    limit=limit,
                                    page=page,
                                    count=count)}}
{% endblock %}