{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Discussion{% endblock %}

{% block header %}{{value.name}}{% endblock %}

{% block actions %}
  {% if value.email_address %}
    <a href="{{value.email_link(subject=None)}}" class="email" title="Send Email to Create a New Topic" ><b data-icon="{{g.icons['mail'].char}}" class="ico {{g.icons['mail'].css}}"></b></a>
  {% endif %}
{% endblock %}

{% block edit_box %}
  <div class="editbox">{{widgets.discussion_header.display(value=value)}}</div>
{% endblock %}

{% block content %}
{{widgets.subscription_form.display(value=value,
                                    threads=threads,
                                    action=value.url() + 'subscribe',
                                    allow_create_thread=allow_create_thread,
                                    show_subject=show_subject,
                                    limit=limit,
                                    page=page,
                                    count=count)}}
{% endblock %}