<div>
  <form method="post" action="{{action}}"
        enctype="multipart/form-data">
    {% if show_subject %}
    <input name="subject" style="width:97%"
           value="{{value and (value.subject or '(no subject)')}}"/>
    {% endif %}
    {{widget.display_field_by_idx(0)}}
    <input type="hidden" class="original_value" value="{{value.text}}">
    <span class="arw"><span></span></span><br/>
    <div class="attachment_form_fields" style="display:none; padding: 5px 0;">
      <input type="file" class="text" name="{{att_name}}" {% if att_id %}id="{{att_id}}"{% endif %}/>
    </div>
    <div style="clear:both"></div>
    <input type="submit" value="{{submit_text}}"/>
    <a href="#" class="btn link cancel_edit_post">Cancel</a> &nbsp;
    <a href="#" class="btn link attachment_form_add_button">Add attachment</a>
  </form>
</div>
