<div>
  <form method="post" action="{{action}}"
        enctype="multipart/form-data">
    {% if show_subject %}
    <input name="subject" style="width:90%"
           value="{{value and (value.subject or '(no subject)')}}"/>
    {% endif %}
    {{c.widget.widget_type.display_field_by_idx(0)}}
    <span class="arw"><span></span></span><br/>
    <div class="attachment_form_fields" style="display:none; padding: 5px 0;">
      <input type="file" class="text" name="{{att_name}}" id="{{att_name}}"/>
    </div>
    <div style="clear:both"></div>
    <input type="submit" value="{{submit_text}}"/>
    <a href="#" class="btn_link cancel_edit_post">Cancel</a>
    <a href="#" class="btn_link attachment_form_add_button">Add attachment</a>
  </form>
</div>
