<form method="POST"
      enctype="{{enctype}}"
      action="{{action}}">
  <ol>
    {% for field in fields %}
      {% if field.field_type != 'hidden' %}
      <li>
        {% if field.show_label %}
          <label for="{{field.name}}">{{field.label}}:</label>
        {% endif %}
        {{c.widget.widget_type.display_field_by_idx(loop.index0)|safe}}
      </li>
      {% else %}
        {{c.widget.widget_type.display_field_by_idx(loop.index0)|safe}}
      {% endif %}
    {% endfor %}
    <li>
      <label>&nbsp;</label>
      {% for b in buttons %}
        {{b.display()}}
      {% endfor %}
    </li>
  </ol>
</form>
