<form method="{{method}}"
      enctype="{{enctype or ''}}"
      action="{{action}}">
  <ol>
    {% for field in widget.fields %}
      {% set ctx=widget.context_for(field) %}
      {% if field.field_type != 'hidden' %}
      <li>
        {% if field.show_label %}
          <label for="{{field.name}}">{{field.label}}:</label>
        {% endif %}
        {{field.display(**ctx)}}
      </li>
      {% else %}
        {{field.display(**ctx)}}
      {% endif %}
    {% endfor %}
    <li>
      <label>&nbsp;</label>
      {% for b in buttons %}
        {{b.display()}}
      {% endfor %}
    </li>
  </ol>
</form>
