<div class="markdown_edit">
  <a href="#" class="markdown_preview btn" title="Preview"><b data-icon="{{g.icons['search'].char}}" class="ico {{g.icons['search'].css}}"></b> Preview</a>
  <a href="#" class="markdown_edit btn" style="display:none" title="Edit"><b data-icon="{{g.icons['pencil'].char}}" class="ico {{g.icons['pencil'].css}}"></b> Edit</a>
  <a href="#" class="markdown_help btn" title="Help"><b data-icon="{{g.icons['help'].char}}" class="ico {{g.icons['help'].css}}"></b> Help</a>
  <div class="clear"></div>
  <textarea id="{{id or name}}" name="{{name}}" class="auto_resize">{{value or ''}}</textarea>
  <div class="markdown_preview" style="display:none"></div>
  <div class="modal markdown_help" style="display:none">
    <b data-icon="{{g.icons['delete'].char}}" class="ico {{g.icons['delete'].css}} close"></b>
    <h1 id="popup_title">Markdown Syntax</h1>
    &nbsp;
    <div id="popup_contents">
      <p>You can use
        <a href="http://daringfireball.net/projects/markdown/">MarkDown</a>
        Syntax here</p>
      <h4>Example Input</h4>
      <pre>
  # First-level heading

  Some *emphasized* and **strong** text

  #### Fourth-level heading

  </pre>
      <h4>Example Rendering</h4>
      <div>{{g.markdown.convert('''
  # First-level heading

  Some *emphasized* and **strong** text

  #### Fourth-level heading

  ''')|safe}}</div>
      <p><a href="http://daringfireball.net/projects/markdown/syntax">More Examples</a></p>
    </div>
  </div>
  <input type="hidden" class="markdown_project" value="{{c.project.shortname}}">
  <input type="hidden" class="markdown_app" value="{{c.app.config.options.mount_point}}">
</div>
