{% import 'allura:templates/jinja_master/lib.html' as lib with context %}
<div class="markdown_edit">
  <a href="#" class="markdown_preview btn" title="Preview"><b data-icon="{{g.icons['search'].char}}" class="ico {{g.icons['search'].css}}"></b> Preview</a>
  <a href="#" class="markdown_edit btn" style="display:none" title="Edit"><b data-icon="{{g.icons['pencil'].char}}" class="ico {{g.icons['pencil'].css}}"></b> Edit</a>
  <a href="#" class="markdown_help btn" title="Formatting Help"><b data-icon="{{g.icons['help'].char}}" class="ico {{g.icons['help'].css}}"></b> Formatting Help</a>
  <div style="clear:both"></div>
  <textarea id="{{id or rendered_name}}" name="{{rendered_name}}" class="auto_resize" {{widget.j2_attrs(attrs)}}>{{value or ''}}</textarea>
  <div class="markdown_preview" style="display:none"></div>
  <a href="#" class="markdown_preview btn" title="Preview"><b data-icon="{{g.icons['search'].char}}" class="ico {{g.icons['search'].css}}"></b> Preview</a>
  <a href="#" class="markdown_edit btn" style="display:none" title="Edit"><b data-icon="{{g.icons['pencil'].char}}" class="ico {{g.icons['pencil'].css}}"></b> Edit</a>
  <div class="modal markdown_help" style="display:none">
    <b data-icon="{{g.icons['close'].char}}" class="ico {{g.icons['close'].css}} close"></b>
    {{lib.markdown_syntax(id=(id or name))}}
  </div>
  <input type="hidden" class="markdown_project" value="{{c.project.shortname}}">
  <input type="hidden" class="markdown_neighborhood" value="{{c.project.neighborhood._id}}">
  <input type="hidden" class="markdown_app" value="{{c.app.config.options.mount_point}}">
</div>
