<form {{widget.j2_attrs({'name':name, 'id':id, 'method':method, 'action':action, 'enctype':enctype})}}
      {{attrs|default({}, true)|xmlattr}}>
  <fieldset class="grid-19">
    <legend>Update marked posts</legend>
    <input type="submit" name="approve" value="Approve Marked"/>
    <input type="submit" name="spam" value="Spam Marked"/>
    <input type="submit" name="delete" value="Delete Marked"/>
  </fieldset>
  <div style="clear:both"></div>
  <table>
    <thead>
      <tr>
        <th><a href="#">[x]</a></th>
        <th>Timestamp</th>
        <th>Status</th>
        <th>Flags?</th>
        <th>Author</th>
        <th>Subject</th>
        <th>Text</th>
        <th>Attachments</th>
      </tr>
    </thead>
    <tbody>
      {% for post in value.posts %}
        <tr>
          <td>
            <input type="hidden" name="post-{{loop.index0}}.slug" value="{{post.slug}}"/>
            <input type="checkbox" name="post-{{loop.index0}}.checked"/>
          </td>
          <td>{{post.timestamp}}</td>
          <td>{{post.status}}</td>
          <td>{{post.flags}}</td>
          {% set author = post.author() %}
          <td>{{author.display_name}} ({{author.username}})</td>
          <td>{{post.thread.subject or '(no subject)'}}</td>
          <td>{{h.text.truncate(post.text)}}</td>
          <td>{{post.attachments|length}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
