{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% import 'allura:templates/jinja_master/lib.html' as lib %}
<form {{widget.j2_attrs({'name':name, 'id':id, 'method':method, 'action':action, 'enctype':enctype})}}
    {{attrs|default({}, true)|xmlattr}}>
  <fieldset class="grid-19">
    <input type="submit" name="approve" value="Approve Marked"/>
    <input type="submit" name="spam" value="Spam Marked"/>
    <input type="submit" name="delete" value="Delete Marked"/>
  </fieldset>
  <div style="clear:both"></div>
  <table>
    <thead>
      <tr>
        <th><a href="#">[x]</a></th>
        <th>Timestamp</th>
        <th>Status</th>
        <th>Author</th>
        <th>Subject</th>
        <th>Text</th>
        <th>Att.</th>
        <th>Artifact</th>
      </tr>
    </thead>
    <tbody>
      {% for post in value.posts %}
        <tr>
          <td class="col-checkbox">
            <input type="hidden" name="post-{{loop.index0}}._id" value="{{post._id}}"/>
            <input type="checkbox" name="post-{{loop.index0}}.checked"/>
          </td>
          <td>{{h.ago(post.timestamp)}}</td>
          <td>{{post.status}}</td>
          {% set author = post.author() %}
          <td>{{author.display_name}} ({{author.username}})</td>
          <td>{{post.thread.subject or '(no subject)'}}</td>
          <td>{{h.text.truncate(post.text,200)}}</td>
          <td>{{post.attachments|length}}</td>
          <td>
          {% if c.app.config.tool_name.lower() != 'discussion' %}
          {% if post and post.thread and post.thread.artifact %}
              {% set paginator = post.thread.artifact.url_paginated or post.thread.artifact.url %}
              <a href="{{ paginator() }}#{{ post.slug }}">[{{post.thread.artifact.shorthand_id()}}]</a>
            {% else %}
                <!-- debug: missing pointers
                {% if post %} post._id: {{ post._id }} {% endif %}
                {% if post.thread %} post.thread._id: {{ post.thread._id }} {% endif %}
                -->
            {% endif %}
          {%else%}
            <a href="{{post.url_paginated()}}">[{{post.shorthand_id()}}]</a>
          {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if method.upper() == 'POST' %}{{lib.csrf_token()}}{% endif %}
</form>
