<form action="{{action}}" method="POST">

    <div class="welcome">
        <div class="grid-4" style="text-align: right; padding-top: 7px;">
            <label for="{{ widget.context_for(widget.fields.project_name)['id'] }}">
                Project Name
            </label>
        </div>
        <div class="grid-10">{{widget.display_field(widget.fields.project_name)}}</div>
        <div class="grid-9" style="position:relative; overflow:visible">
            <b data-icon="!" class="ico ico-caution error_icon" title="Caution"></b>
            <b data-icon="2" class="ico ico-checkcircle success_icon" title="Check"></b>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="grid-4" style="text-align: right; padding-top: 7px;">
            <label for="{{ widget.context_for(widget.fields.project_unixname)['id'] }}">
                URL Name
            </label>
        </div>
        <div class="grid-10">{{widget.display_field(widget.fields.project_unixname)}}
            <br/><div id="project_url">http://{{request.environ['HTTP_HOST']}}{{neighborhood.url()}}<span id="url_fragment"></span></div>
        </div>
        <div class="grid-9" style="position:relative; overflow:visible">
            <b data-icon="!" class="ico ico-caution error_icon" title="Caution"></b>
            <b data-icon="2" class="ico ico-checkcircle success_icon" title="Check"></b>
        </div>
        {{widget.display_field(widget.fields.neighborhood)}}
        <div style="clear:both">&nbsp;</div>
    </div>

    {% if not neighborhood.project_template %}
    {% for tool in g.entry_points["tool"].itervalues() %}
        {% if tool.installable %}
            <div class="tool">
                <img src="{{ g.theme.app_icon_url(tool, 48) }}" alt="{{ tool.tool_label}} icon">
                <input type="checkbox" value="{{ tool.tool_label }}"
                       name="{{ widget.context_for(widget.fields.tools)['rendered_name'] }}"
                       id="{{ widget.context_for(widget.fields.tools)['rendered_name'] }}_{{ tool.tool_label }}">
                <h1><label for="{{ widget.context_for(widget.fields.tools)['rendered_name'] }}_{{ tool.tool_label }}">{{ tool.tool_label }}</label></h1>
                <p>{{ tool.tool_description }}</p>
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% if h.has_access(neighborhood, 'admin') and not neighborhood.project_template and neighborhood.features['private_projects'] %}
    <div style="margin-top:20px">
        <div class="grid-1" style="text-align: right">
          {{widget.display_field(widget.fields.private_project)}}
        </div>
        <div class="grid-16">
            <label for="{{ widget.context_for(widget.fields.private_project)['id'] }}">
            Private? Private projects will be unreadable to non-project members and will
            not show up in search results.
            </label>
        </div>
        <div style="clear:both"></div>
    </div>
    {% endif %}
    <div class="button-row">
        <input type="submit" id="start" value="Create">
    </div>
  {% if widget.antispam %}{% for fld in g.antispam.extra_fields() %}
  {{fld}}{% endfor %}{% endif %}
</form>
