{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% import 'allura:templates/jinja_master/lib.html' as lib %}
<form id="create_new_topic" method="post" action="{{action}}" enctype='multipart/form-data'>
    {% if show_subject %}
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <label for="{{ widget.context_for(widget.fields.subject)['id'] }}" class="cr">Subject:</label>
      <input id="{{ widget.context_for(widget.fields.subject)['id'] }}" name="{{ widget.context_for(widget.fields.subject)['rendered_name'] }}" type="text" style="width: 90%"{% if value %} value="{{value.subject or '(no subject)'}}"{% endif %}>
    </div>
    {% endif %}
    {% if forums %}
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <label for="{{ widget.context_for(widget.fields.forum)['id'] }}" class="cr">Forum:</label>
      <select id="{{ widget.context_for(widget.fields.forum)['id'] }}" name="{{ widget.context_for(widget.fields.forum)['rendered_name'] }}">
        {% for forum in forums %}
          <option value="{{forum.shortname}}"{% if forum == current_forum %} selected{% endif %}>{{forum.name}}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <label for="{{ widget.context_for(widget.fields.text)['id'] }}" class="cr">Description:</label>
      {{widget.display_field(widget.fields.text)}}
    </div>
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
        <label for="{{ widget.context_for(widget.fields.attachment)['id'] }}">Attachments:</label>
        {{widget.display_field(widget.fields.attachment)}}
    </div>
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <input type="submit" value="{{submit_text}}">
      {% if c.user and c.user != c.user.anonymous() and not (subscribed or subscribed_to_tool) %}
        {# subscribed is per-forum and won't change if they change the forum dropdown value, but better than nothing? :( #}
        <label class="subscribe">
          <input type="checkbox" name="subscribe" class="subscribe-checkbox">Subscribe to this topic
        </label>
      {% endif %}
      <a href=".." class="btn link cancel_form">Cancel</a>
    </div>
  {% if widget.antispam %}{% for fld in g.antispam.extra_fields() %}
  {{fld}}{% endfor %}{% endif %}
  {{lib.csrf_token()}}
</form>
