<form method="post" action="{{action}}">
    {% if show_subject %}
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <label for="{{ widget.context_for(widget.fields.subject)['rendered_name'] }}" class="cr">Subject:</label>
      <input name="{{ widget.context_for(widget.fields.subject)['rendered_name'] }}" style="width: 90%"{% if value %} value="{{value.subject or '(no subject)'}}"{% endif %}>
    </div>
    {% endif %}
    {% if forums %}
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <label for="forum" class="cr">Forum:</label>
      <select name="{{ widget.context_for(widget.fields.forum)['rendered_name'] }}">
        {% for forum in forums %}
          <option value="{{forum.shortname}}">{{forum.name}}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <label for="text" class="cr">Description:</label>
      {{widget.display_field(widget.fields.text)}}
    </div>
    <div class="grid-19">&nbsp;</div>
    <div class="grid-19">
      <input type="submit" value="{{submit_text}}"> <a href=".." class="btn link">Cancel</a>
    </div>
  {% if widget.antispam %}{% for fld in g.antispam.extra_fields() %}
  {{fld}}{% endfor %}{% endif %}
</form>
