<form method="get">
  {% for k,v in widget.url_params.iteritems() %}
    <input type="hidden" name="{{k}}" value="{{v}}"/>
  {% endfor %}
  {% if limit %}
  <p>Showing
  {% if limit and count|int>limit|int %}
    <select class="results_per_page" name="limit">
      {% for per_page in [25, 50, 100, 250] %}
          <option {% if per_page == limit|int %}selected="selected"{% endif %}
             value="{{per_page}}">{{per_page}}</option>
      {% endfor %}
    </select>
  {% else %}
    {{count}}
  {% endif %}
  result{% if limit|int != 1 %}s{% endif %} of {{count}} </p>
  {% endif %}
</form>
