<!-- post_thread -->
<li>
{{widget.parent_widget.widgets.post.display(
    value=value, show_subject=show_subject, indent=indent,
    supress_promote=supress_promote, page=page, limit=limit)}}
    <!-- post_thread replies -->
    <ul>
      {%- if children %}
      {%- for child in children if child.post.status == 'ok' %}
      {{widget.display(value=child.post, children=child.children, indent=indent+1)}}
      {%- endfor %}
      {%- endif %}
    </ul>
    <!-- post_thread /replies -->
</li>
<!-- /post_thread -->
