<div class="list">
  {% if not projects %}
    <p>No projects found</p>
  {% else %}
  <div class="list">
    {% set old_project = c.project %}
    {% for project in projects %}
      {% do g.set_project(project) %}
      {% if h.has_access(project, 'read')() %}
        {{project_summary.display(
            value=project, 
            icon_url=icon_urls[project._id], 
            accolades=accolades_index[project._id],
            sitemap=sitemaps[project._id],
            display_mode=display_mode)}}
      {% endif %}
    {% endfor %}
    {% do g.set_project(old_project) %}
  </div>
  {% endif %}
</div>

