{% if display_mode == 'list' %}
<div class="list card"{% if columns == '2' %} style="width: 330px"{% endif %}>
  {% if show_proj_icon == 'on' %}
   {% if accolades %}
    <div class="box notch sponsor">
      <div class="feature">{{accolades[0].award.short}}</div>
      <img src="{{icon_url}}" alt="{{value.name}} Logo"/>
    </div>
   {% else %}
    <div class="box">
      <img src="{{icon_url}}" alt="{{value.name}} Logo"/>
    </div>
   {% endif %}
  {% endif %}
  <h2><a href="{{value.url()}}">{{value.name}}</a></h2>
  <p class="desc">{% if value.summary %}{{value.summary}}{% else %}{{h.text.truncate(value.short_description, 50)}}{% endif %}</p>
  {% if show_download_button == 'on' %}{{g.markdown_wiki.convert('[[download_button]]')}}{% endif %}
</div>
{% else %}
  <div class="border card">
    {% if show_proj_icon == 'on' %}
     {% if accolades %}
      <div class="box notch sponsor">
        <div class="feature">{{accolades[0].award.short}}</div>
        <img src="{{icon_url}}" alt="{{value.name}} Logo"/>
      </div>
     {% else %}
      <div class="box">
        <img src="{{icon_url}}" alt="{{value.name}} Logo"/>
      </div>
     {% endif %}
    {% endif %}
    <h2><a href="{{value.url()}}">{{value.name}}</a></h2>
    <p class="desc">{% if value.summary %}{{value.summary}}{% else %}{{h.text.truncate(value.short_description, 50)}}{% endif %}</p>
    <div class="quik">
      {% for s in sitemap %}
        <a href="{{s.url}}" class="ui-icon-{{(s.ui_icon or 'admin').lower()}}" title="{{s.label}}"><span>{{s.label}}</span></a>
      {% endfor %}
    </div>
  </div>
{% endif %}
