<div {{attrs|default({}, true)|xmlattr}} class="discussion_subscription_form">
  {% if show_actions %}
  <div class="actions">
    {% if show_discussion_email %}
    <a href="{{value.email_link(subject=None)}}" class="btn ico">
       <b class="ui-icon ui-icon-mail-closed"></b> <span>Email</span></a>
    {% endif %}
    <a href="" class="btn ico follow"><b class="ui-icon ui-icon-signal-diag"></b> <span>Follow</span></a>
  </div>
  {% endif %}
  <div class="clear"></div>
  {{fields['page_list'].display(limit=limit, page=page, count=count)}}
  <form method="{{method}}" action="{{action}}" enctype="{{enctype}}" class="follow_form">
    {{fields['threads'].display(value=threads)}}
  </form>
  {{fields['page_list'].display(limit=limit, page=page, count=count)}}
  {{fields['page_size'].display(limit=limit)}}
</div>
