<div {{attrs|default({}, true)|xmlattr}} class="discussion_subscription_form">
  <div class="clear"></div>
  {{widget.fields['page_list'].display(limit=limit, page=page, count=count)}}
  <form method="{{method}}" action="{{action}}" {% if enctype %}enctype="{{enctype}}"{% endif %} class="follow_form">
    {{widget.fields['threads'].display(value=threads)}}
    <p>
    <input type="submit" value="Update email subscriptions"/>
    </p>
  </form>
  {{widget.fields['page_list'].display(limit=limit, page=page, count=count)}}
  {{widget.fields['page_size'].display(limit=limit, page=page, count=count)}}
</div>
