{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}

<form {{widget.j2_attrs(dict(
      name=rendered_name,
      id=id,
      method=method,
      action=action,
      enctype=enctype), attrs)}}>

    {% set subs_table = widget.fields[0] %}
    {{ subs_table.display(**widget.context_for(subs_table)) }}

    {# use a table so it matches width and placement of big table above #}
    <table class="user_subs_opts">
    <tr><td>
        <div class="user_sub_email_format">
        Email Format:
        {% set email_format = widget.fields[1] %}
        {{ email_format.display(**widget.context_for(email_format)) }}
        </div>
        {% for hf in widget.hidden_fields %}
            {{ hf.display(**widget.context_for(hf)) }}
        {% endfor %}
        {% for b in buttons %}
            {{ b.display() }}
        {% endfor %}
    </td></tr>
    </table>
</form>

<style type="text/css">
    #user-subs-form table:first-child {
        margin-bottom: 10px;
    }
    #user-subs-form table.user_subs_opts td {
        border-bottom: none;
    }
    .user_sub_email_format {
        float: left;
    }
    .user_subs_opts input[type=submit] {
        float: right;
    }
</style>