{% set can_vote = c.user and c.user != c.user.anonymous()
                  and h.has_access(artifact, 'post')() %}
{% set voted = artifact.user_voted(c.user) %}

<div id="vote">
  <ul>
    <li class="{% if voted == 1 %}active{% endif %} {% if can_vote %}js-vote-up{% endif %}">
      <b data-icon="+" class="ico ico-vote-up"></b>
    </li>
    <li class="{% if voted == -1 %}active{% endif %} {% if can_vote %}js-vote-down{% endif %}">
      <b data-icon="+" class="ico ico-vote-down"></b>
    </li>
  </ul>
  <span class="votes-up">{{ artifact.votes_up }}</span> up votes | 
  <span class="votes-down">{{ artifact.votes_down }}</span> down votes |
  <span class="votes-percent">{{ artifact.votes_up_percent }}</span>%
  <span class="comments fright">
    {% trans num_comments = artifact.discussion_thread.num_replies %}
      {{ num_comments }} comment
      {% pluralize %}{{ num_comments}} comments
    {% endtrans %}
  </span>
  {% if can_vote %}
  <form action="{{ action }}" method="POST">
    {# csrf protection will be automatically inserted here (_session_id field) #}
  </form>
  {% endif %}
</div>
