{% extends 'jinja_master/master.html' %}
{% do g.register_forge_css('css/forge/hilite.css', compress=False) %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / @r{{blob._commit._id}}:{{blob.path()}}
{% endblock %}

{% block header %}
  <a href="{{blob._commit.url()}}">@r{{blob._commit._id}}</a>:
  {{lib.path_links(blob.path().split('/')[1:-1])}} {{blob.filename}}
{% endblock %}

{% block content %}
  <div style="position: relative; height:2.5em">
    {% if prev %}
      <div style="position:absolute; top:0; left:0">
        <a href="{{prev.url()}}" class="btn">&larr; Previous @r{{prev._commit._id}}</a>
        <a href="?diff={{prev._commit._id}}" class="btn">Diff with @r{{prev._commit._id}}</a>
      </div>
    {% endif %}
    {% if next %}
    <div style="position:absolute; top:0; right:0">
      <a href="?diff={{next._commit._id}}" class="btn">Diff with @r{{next._commit._id}}</a>
       <a href="{{next.url()}}" class="btn">Next @r{{next._commit._id}} &rarr;</a>
    </div>
    {% endif %}
  </div>

  {% if blob.has_image_view %}<img src="?format=raw"/>{% endif %}
  {% if not blob.has_html_view and not blob.has_image_view and not force_display %}
    {{blob.filename}} is not known to be viewable in your browser.
    Try to <a href="?force=True">display it</a> anyway or
    <a href="?format=raw">download it</a> instead.
  {% endif %}
  {% if blob.has_html_view and not blob.has_image_view or force_display %}
    <a href="?format=raw">Download this file</a>
    <div class="clip">
      <h3><span class="ico-l"><b class="ui-icon ui-icon-document"></b> {{blob.filename}}</span></h3>
      {{g.highlight(blob.text, filename=blob.filename)}}
    </div>
  {% endif %}
{% endblock %}