{% extends 'allura:templates/repo/repo_master.html' %}

{% block title %}
  {% if c.app.repo %}
    SVN Repository: {{c.app.repo.name}}
  {% else %}
    SVN Repository
  {% endif %}
{% endblock %}

{% block header %}{{c.app.config.options.mount_label}}{% endblock %}

{% block content %}
  {{ clone_info(c.app.repo) }}
  {% if log %}
    <h2>Recent Commits</h2>
    {{c.log_widget.display(value=log, show_paging=False,
                           limit=limit, page=page, count=count)}}
    {% if count > limit %}
      <a href="{{c.app.url}}log?page=1">More</a>
    {% endif %}
  {% else %}
    <p><b>No (more) commits</b></p>
  {% endif %}
{% endblock %}
