<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master_one_col.html" />
  <xi:include href="lib.html" />

  <?python from pyforge.lib.security import has_project_access ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Project Homepage for $c.project.name</title>
    <link rel="stylesheet" type="text/css" 
          href="${g.app_static('css/project_home.css')}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="../feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="../feed.atom"/>
  </head>
  
  <body>
	<div class="content">
		<div class="row dual">
				<div class="column grid_8">
          ${Markup(c.project.description_html)}
          <div class="$layout_class">
            <div py:for="div in layout" class="$div.name">
              <py:for each="w in div.content">${Markup(w)}</py:for>
            </div>
          </div>
        </div>
        <div id="sidebar-right" class="column grid_4 fright">
			<p>
            <div py:if="c.project.show_download_button" id="download-button"></div>
			</p>
          <py:if test="c.project.accolades">
            <div class="listed">
              <b>Awards:</b>
              <a href="${accolade.award.longurl()}" py:for="accolade in c.project.accolades" title="$accolade.award.full">
                <small class="badge $accolade.award.short">$accolade.award.short</small>
              </a>
              <span py:if="not len(c.project.accolades)">No Awards</span>
            </div>
          </py:if>
          <div class="listed" py:if="len(c.project.labels) and not (len(c.project.labels)==1 and c.project.labels[0]=='')">
            <b>Tags:</b> <span py:for="label in c.project.labels" class="ui-corner-all tag">$label </span>
          </div>
          <div class="listed last gravatar sm">
            <b>Developers:</b>
            <a href="${u.url()}" py:for="u in c.project.users()">
              ${gravatar(u.preferences.email_address, size=24, title=u.display_name)}
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" py:if="c.project.best_download_url()">
      $("#download-button").load("${c.project.best_download_url()}");
  </script>
</html>
