{% extends g.theme.master %}

{% block title %}
{{c.project.name}} / Import Google Code Repo
{% endblock %}

{% block header %}
Import a Repo from a Google Code project
{% endblock %}

{% block content %}
<form action="create" method="post" class="pad">
  <label for="gc_project_name">Google Code project name (as it appears in a URL)</label>
  <input name="gc_project_name" />

  <label for="mount_label">Label</label>
  <input name="mount_label" value="Source" />

  <label for="mount_point">Mount Point</label>
  <input name="mount_point" value="source" />

  <input type="submit" />
</form>
{% endblock %}
