{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends g.theme.master %}
{% import 'allura:templates/jinja_master/lib.html' as lib with context %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Stats{% endblock %}

{% block head %} <meta name="robots" content="noindex, follow" />{% endblock %}

{% block header %}Stats{% endblock %}

{% block content %}
<form>
  <div id="stats_date_picker">
    <label for="dates">Date Range: </label>
    <input value="{{dates}}" type="text" class="text ui-corner-all" name="dates" id="dates">
  </div>
  <label for="forum">Forum:</label>
  <select name="forum">
    <option value="">All</option>
    {% for forum in c.app.forums %}
        <option value="{{forum.shortname}}"
          {%- if forum.shortname == selected_forum %} selected{% endif -%}
          >{{forum.name}}</option>
    {% endfor %}
  </select>
  {{lib.csrf_token()}}
</form>

<div id="stats-viz-container" class="project_stats">
  <div id="stats-viz" class="ui-corner-left ui-corner-br">
    <table>
      <tr>
        <td class="yaxis">Posts</td>
        <td>
          <div id="project_stats_holder">
            <div id="grid">
                <div class="busy"></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="xaxis">Date</td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}


{% do g.register_forge_js('js/jquery-ui-1.13.2.min.js', location='body_top_js') %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{g.forge_static('css/smoothness/jquery-ui-1.13.2.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{g.forge_static('css/forge/ui.daterangepicker.css')}}"/>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{g.forge_static('js/jquery.flot.js')}}"></script>
<script type="text/javascript" src="{{g.forge_static('js/jquery.daterangepicker.js')}}"></script>
<script type="text/javascript" src="{{g.forge_static('js/stats.js')}}"></script>
<script type="text/javascript">
  /*global chartProjectStats */
  $(document).ready(function () {
    var series = function(data){
      var size;
      if (data.length < 20) {
        size = 3;
      } else if (data.length < 100) {
        size = 2;
      } else  {
        size = 1;
      }
      return [{label: "Posts",
              lines: {show: true, lineWidth: size},
              points: {show:true, radius:size, fill: true, fillColor: '#0685c6'},
              data: data, shadowSize: 0}
             ];
    };
    var checkEmpty = function(data){
      return !data.length;
    };
    chartProjectStats('{{c.app.url}}stats_data',
                      {forum: $('select[name=forum]').val()},
                      series, checkEmpty);

    $('select[name=forum]').change(function(){
        $(this).parent('form').submit();
    });
  });
</script>
{% endblock %}
