{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% import 'allura:templates/jinja_master/lib.html' as lib with context %}


<div class="editbox">
    {% block reply_notice %}
    {% if  c.user.get_pref('disable_user_messages') %}
    <div class="grid-19 notice">
        Note: you currently have user messages disabled; you can send this user a note, but you'll be unable to receive any reply without first
        <a href="/auth/preferences">changing your settings</a>, or providing your email address in the body of the note.
    </div>
    {% endif %}
    {% endblock %}

    <div class="grid-19">
        <b>To:</b> <a href="{{user.url()}}">{{user.display_name|default(user.username)}}</a>
    </div>
    <div class="grid-19">
        <b>From:</b> {{c.user.display_name}}
    </div>
    <div class="grid-19">&nbsp;</div>
    <form method="{{method}}" action="{{action}}">
        {% if method.upper() == 'POST' %}{{lib.csrf_token()}}{% endif %}
        <div class="grid-19">
            <label class="cr">Subject:</label>
            {{widget.display_field(widget.fields.subject)}}
        </div>
        <div class="grid-19">
            <label class="cr">Message:</label>
            {{widget.display_field(widget.fields.message)}}
        </div>
        <div class="grid-19">
            {{widget.display_field(widget.fields.cc)}}
        </div>
          <div class="grid-19">
            {{widget.display_field(widget.fields.reply_to_real_address)}}
        </div>
        <div class="grid-19">&nbsp;</div>
        <div class="grid-12">
            {{buttons[0].display()}}
            <a href="{{c.app.url}}" class="btn link cancel_form">Cancel</a>
        </div>
    </form>
</div>
