{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}{{user.display_name}} / Profile{% endblock %}

{% block header %}Send a Message{% endblock %}

{% block head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom">
{% endblock %}
{% block actions %}
  <a href="{{c.app.url}}feed.rss" title="Follow"><b data-icon="{{g.icons['feed'].char}}" class="ico {{g.icons['feed'].css}}"></b></a>
{% endblock %}

{% block content %}
    {%if not expire_time%}
    <div class="grid-24">
        <div class="grid-24">
            <b>To:</b> <a href="{{user.url()}}">{{user.display_name|default(user.username)}}</a>
        </div>
        <div class="grid-24">
            <b>From:</b> {{c.user.email_address_header()}}
        </div>
        <div class="clear">&nbsp;</div>
        <form action="send_user_message" method="post">
            <div class="grid-24">
                <label for="subject"><b>Subject:</b></label>
            </div>
            <input class="grid-10" type="text" name="subject" id="subject">
            <div class="grid-24">&nbsp;</div>
            <div class="grid-24">
                <label for="message"><b>Message:</b></label>
            </div>
            <textarea class="grid-10" name="message" id="message" style="height:100px;"></textarea>
            <div class="grid-24">
                <input type="checkbox" name="cc" id="ccsender">
                <label for="ccsender">CC Sender</label>
            </div>
            <div class="grid-24">&nbsp;</div>
            <div class="grid-24">
                <input type="submit" value="Send Message">
            </div>
        </form>
    </div>
    {% else %}
    <div class="grid-24">
        <h2>Sorry, you can send an email after {{expire_time}}</h2>
    </div>
    {% endif %}
{% endblock %}
