<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      name="$name"
      id="$name"
      method="$method"
      action="$action"
      enctype="$enctype">
  <py:for each="field in hidden_fields"
          py:with="context=c.widget.context_for(field.name)">
    ${field.display(**context)}
  </py:for>
  <div class="wizard">
    <ul class="wizard-selector">
      <py:for each="i,field in enumerate(fields)">
        <li py:if="i">&#187;&#187;</li>
        <li><a href="#">$field.label</a></li>
      </py:for>
    </ul>
    <div style="clear:both;"/>
    <div class="wizard-container">
      <div py:for="i, field in enumerate(fields)"
           py:with="context=c.widget.context_for(field.name)"
           class="wizard-step step-$i">
        ${field.display(**context)}
        <a py:if="i" href="#" class="prev">Prev</a>
        <a py:if="i+1 &lt; len(fields)" href="#" class="next">Next</a>
        <py:if test="i+1 == len(fields)">
          <py:for each="b in buttons">
            ${b.display()}
          </py:for>
        </py:if>
      </div>
    </div>
  </div>
</form>
