<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:strip="True">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <?python from pyforge.lib.security import has_artifact_access?>

  <h1>$value.name</h1>
  <p>Discussion Shortlink: <input readonly="true" value="[${value.shorthand_id()}]"/></p>
  <div>${Markup(g.markdown.convert(value.description))}</div>
  <a py:if="show_discussion_email"
     href="mailto:${value.email_link(subject=None)}">Post via Email</a>
  <div py:if="has_artifact_access('moderate', value)()">
    <a href="moderate/">Moderate Messages</a>
    (${value.find_posts(status='pending').count()} messages awaiting moderation)
  </div>

  <div py:if="value.parent" class="breadcrumbs" >
    <ul>${crumbs(value.breadcrumbs())}</ul>
  </div>

  <py:if test="value.subforums">
    ${widgets.forum_subscription_form.display(
        value=dict(forums=value.subforums),
        action=value.url() + 'subscribe_subforum')}
  </py:if>

  <div py:if="allow_create_thread and has_artifact_access('post', value)()"
       class="title-pane closed">
    <span class="title">New Thread</span>
    <div class="content">
      ${widgets.edit_post.display(action=value.url() + 'post')}
    </div>
  </div>
</div>
