{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}Organization stats – Settings{% endblock %}

{% block header %}
    Statistics about {{organization.fullname}}'s contribution – Settings
{% endblock %}

{% block content %}

    <div class="grid-20">
      In this page you can set the visibility of the statistics related to your organization. If you decide to hide your 
      organization's statistics to other users, data collected about contributions of your organization to projects hosted on this 
      forge will be available only to users with admin access to the profile of your organization. 
      {{form.display(organization = organization)}}
    </div>

{% endblock %}
