/* body { margin:1in } */

ul#mainmenu 
{
    margin: 0 0 0 -10px;
    padding: 0 10px;
    height: 38px;
    background-color: #ddd;
}

ul#mainmenu li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
}

ul#mainmenu li:hover {
}

ul#mainmenu li a {
	color: #000;
	float: left;
	display: block;
	padding: 0 10px;
	font-size: 12px;
        height: 38px;
        text-decoration: none;
}

ul#mainmenu li a:hover {
    background-color: #aaa
}

ul#mainmenu li.loginlogout
{
    float: right;
    right: 10px;
}

div#content
{
    margin-left: 120px;
    margin-right: 1in;
}

ul#sidebarmenu
{
    position: absolute;
    left: 0;
    top: 38px;
    width: 110px;
    padding: 0;
    margin: 0;
    background-color: #aaa;
}


ul#sidebarmenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

ul#sidebarmenu li a {
    display:block;
    width: 110px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
}

ul#sidebarmenu li a:hover {
    background-color: #ddd;
}

#breadcrumbs
{
    height: 2em;
    width: 100%;
}

#breadcrumbs ul
{ 
    height: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#breadcrumbs ul li
{ 
    float: left;
    padding-left: 0.5em;
}

#breadcrumbs ul li:before
{	
    content: "\00BB";
}

#breadcrumbs ul li.first:before
{	
    content: "";
}

/* Collapsible boxes */
.title-pane
{
    margin: 0;
    padding: 4px;
}

.title-pane .title
{
    background-color: #ff8;
    padding: 4px;
    margin: 0;
    border: 1px solid #333;
}

.title-pane .content
{
    background-color: #888;
    border: 1px solid black;
    border-top: none;
}

.title-pane.closed .content
{
    display:none;
}

#sidebar-right
{
    border: 3px double black;
    float: right;
    width: 80px;
    float:right;
    background-color: #ddd;
}

#sidebar-right ul
{
    padding: 0;
    margin: 0;
    background-color: #aaa;
}


#sidebar-right ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#sidebar-right ul li a {
    display:block;
    width: 100%;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
}

#sidebar-right ul li a:hover {
    background-color: #ddd;
}

