body { margin:1in }

ul#mainmenu {
	margin: 0 0 0 -10px;
	padding: 0 10px;
	height: 38px;
}

ul#mainmenu li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline;
	float: left;
}

ul#mainmenu li a {
	color: #000;
	float: left;
	display: block;
	padding: 0 10px;
	font-size: 12px;
	text-decoration: none;
}
ul#mainmenu li.loginlogout
{
    float: right;
    right: 10px;
}
