a, a:link, a:visited, a:hover, a:active{
    color: #536BB2;
}

/* Top nav */

#mainmenu a:link, #mainmenu a:visited, #mainmenu a:active,
#nav_menu a:link, #nav_menu a:visited, #nav_menu a:active{
    text-decoration: none;
}
#mainmenu a:hover, #nav_menu a:hover{
    text-decoration: underline;
}
#mainmenu{
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
}
#mainmenu .last a{
    float: right;
    margin-left: 2em;
}
#nav_menu_missing{
    height: 0;
    padding-top: 5px;
    border: 5px solid #aed0ea;
    border-width: 0 0 5px 0;
}
#nav_menu{
    background-color: #EDF3FB;
    height: 62px;
    padding-top: 5px;
    color: #555;
    border: 5px solid #aed0ea;
    border-width: 0 0 5px 0;
}
#nav_menu .neighborhood_icon, #nav_menu .project_icon{
    width: 55px;
    height: 55px;
    display: block;
    margin: 0 5px;
}
#nav_menu .neighborhood{
    text-align: right;
}
#nav_menu a.neighborhood_name:link, #nav_menu a.neighborhood_name:visited, #nav_menu a.neighborhood_name:hover, #nav_menu a.neighborhood_name:active,
#nav_menu a.project_name:link, #nav_menu a.project_name:visited, #nav_menu a.project_name:hover, #nav_menu a.project_name:active{
    color: #555;
    font-weight: bold;
    font-size: 14px;
}
#nav_menu a.project_name:link, #nav_menu a.project_name:visited, #nav_menu a.project_name:hover, #nav_menu a.project_name:active{
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
#nav_menu .project{
    position: relative;
    height: 62px;
}
#nav_menu ul.nav_links{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
#nav_menu ul.nav_links li{
    float: left;
    list-style-type: none;
}
#nav_menu ul.nav_links a:link,
#nav_menu ul.nav_links a:visited,
#nav_menu ul.nav_links a:hover,
#nav_menu ul.nav_links a:active{
    padding: 6px;
    color: #000;
    display: block;
    height: 15px;
}
#nav_menu ul.nav_links a:link.active,
#nav_menu ul.nav_links a:visited.active,
#nav_menu ul.nav_links a:hover.active,
#nav_menu ul.nav_links a:active.active{
    background-color: #aed0ea;
}


#content_holder{
    border-style: solid;
    border-color: #aed0ea;
    border-width: 0 0 1px 5px;
    width: 945px;
}
#content{
    border-style: solid;
    border-color: #EDF3FB;
    border-right-color: #aed0ea;
    border-width: 5px 1px 0 5px;
    width: 789px;
}

/* Side nav */
#app-search input{
    margin: .5em 1em;
    width: 120px;
}
#sidebar
{
    margin-right: 0;
}
#sidebar a:link, #sidebar a:visited, #sidebar a:hover, #sidebar a:active{
    color: #000;
}
ul#sidebarmenu
{
    width: 100%;
    padding: 0;
}
ul#sidebarmenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#sidebarmenu li .nav_head{
    display: block;
    font-weight: bold;
    padding: 0 1em;
}

ul#sidebarmenu li a {
    display:block;
    text-decoration: none;
    font-weight: normal;
    padding: 0 1em;
}
ul#sidebarmenu li a.active {
    background-color: #EDF3FB;
}

ul#sidebarmenu li a.nav_child {
    padding-left:2em;
}

#sidebar-right
{
    background-color: #EDF3FB;
    border-style: solid;
    border-color: #aed0ea;
    border-width: 1px 0 0 0;
    position: relative;
    padding: 5px;
}

#footer{
	clear: both;
	margin: 1em 0;
	border-style:solid;
	border-color: #ccc;
	border-width: 1px 0 0 0;
}
#footer .foot_head{
    text-transform: uppercase;
    font-weight: bold;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active{
    color: #444;
    text-decoration: none;
}
#footer a:hover{
    text-decoration: underline;
}
#footer ul{
    margin: 0;
    padding: 0;
}
#footer li{
    list-style-type: none;
}

thead th {
    background-color: #aed0ea;
}
tbody .even{
    background-color: #EDF3FB;
}

.defaultTextActive {
    color: #a1a1a1;
    font-style: italic;
}
.breadcrumbs
{
    height: 2em;
    width: 100%;
}

.breadcrumbs ul
{ 
    height: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li
{ 
    float: left;
    padding-left: 0.5em;
}

.breadcrumbs ul li:before
{	
    content: "\00BB";
}

.breadcrumbs ul li.first:before
{	
    content: "";
}

/* Collapsible boxes */

.title-pane h3.title
{
  background-color: #ff8;
  padding: 4px;
  margin: 0;
  border: 1px solid #333;
  cursor: pointer;
}

.title-pane .content
{
    padding: .5em;
	border: 1px solid #ccc;
}

.title-pane.closed .content
{
    display:none;
}

/* Inline editing of content */
.editable.viewing .editor
{
    display: none;
}

.editable.editing .viewer
{
    display: none;
}

.editable .edit
{
    float:left;
    display:none;
}

.editable
{
    position: relative;
}

.editable:hover
{
    background-color: #ddd;
    cursor: pointer;
}

.editable:hover .edit
{
    float:left;
    position: absolute;
    top: -0.5em;
    display:block;
    border: 1px solid grey;
    background-color: #eee;
}

.editable .editor
{
    border: 1px solid black;
}
.forge_comment_body{
    margin-top: .5em;
    padding: .5em;
    border: 1px solid #ccc;
    overflow: auto;
}
.forge_comment_body .user_info{
    padding: .5em;
    border: 1px solid #ccc;
    float: right;
    text-align: center;

}}
.forge_comment_body .user_info img{
    margin: .5em;

}
.forge_comment_body .reply{
    clear: both;
}
.forge_comment_replies{
    margin-left: 1em;
}
.todo{
    background-color: #ff7;
}
.attachment_images{
    overflow: auto;
}
.attachment_thumb{
    float: left;
    margin: .5em;
}
.attachment_thumb img{
    width: 50px;
    height: 50px;
}

.wmd_edit{
    width: 45%;
    float: left;
}
.wmd_preview{
    width: 45%;
    float: left;
    margin: 1em 0 0 1em;
    border: 1px solid #ccc;
    padding: .5em;
}
.wmd_holder{
    overflow: auto;
}
.tagEditor
{
	margin: 4px 0;
	padding: 0;
}

.tagEditor li
{
	display: inline;
	background-image: url(/images/minus_small.png);
	background-color: #eef;
	background-position: right center;
	background-repeat: no-repeat;
	list-style-type: none;
	padding: 0 18px 0 6px;
	margin: 0 4px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tagEditor li:hover
{
	background-color: #eee;
}
#pyforge_directory{
    margin-top: 1em;
}
#pyforge_directory h3{
    margin: 1em 0 5px 0;
}
#pyforge_directory ul{
    padding-left: 1em;
    margin: 0;
}
#pyforge_directory li{
    list-style-type: none;
}
#pyforge_directory a:link, #pyforge_directory a:visited, #pyforge_directory a:active{
    text-decoration: none;
}
#pyforge_directory a:hover{
    text-decoration: underline;
}