<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">
  <?python
     from ew.resource import ResourceManager
     resource_manager = ResourceManager.get()
     resource_manager.register_widgets(c)
     ?>
  <head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <py:for each="blob in resource_manager.emit('head_css')">$blob</py:for>
    <py:for each="blob in resource_manager.emit('head_js')">$blob</py:for>
  </head>
  <body py:match="body" py:attrs="select('@*')">
    <py:for each="blob in resource_manager.emit('body_top_js')">$blob</py:for>
    <div py:replace="select('*|text()')"/>
    <py:for each="blob in resource_manager.emit('body_js')">$blob</py:for>
  </body>
</html>
