{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}{{ user.display_name }} / Dashboard{% endblock %}

{% block header %}{{ user.display_name|default(user.username) }}{% endblock %}

{% block head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom">
{% endblock %}

{% block actions %}
  <a href="{{c.app.url}}feed.rss" title="Follow" rel="nofollow"><b data-icon="{{g.icons['feed'].char}}" class="ico {{g.icons['feed'].css}}"></b></a>
{% endblock %}

{% block nav_menu %}
    {{lib.gravatar(user, size=48)}}
    <h1 class="project_title">
        {{ user.display_name }} / Dashboard
    </h1>
    <h2 class="project_summary">
    </h2>
{% endblock %}

{% block top_nav %}{# disabled #}{% endblock %}

{% block content_base %}
  {% for section in sections %}
    {{ section.display() }}
  {% endfor %}
{% endblock %}
