<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.allura_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label: $post.title</title>
  </head>

  <body>
    ${c.form.display(value=post)}
    <div style="clear:both;"/>
    <div py:if="post.discussion_thread() and c.app.show_discussion"
         py:with="thread=post.discussion_thread()">
      ${c.thread.display(value=thread)}
    </div>
  </body>
</html>
