<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <link rel="stylesheet" type="text/css" href="/css/hilite.css"/>
    <title>Hg Changeset</title>
    <style type="text/css">
      ins { text-decoration: none; background-color: #dfd; }
      del { text-decoration: none; background-color: #fdd; }
    </style>
  </head>

  <body>
    ${c.revision_widget.display(value=commit)}
    <div py:if="commit.parents()">
      <h2>Parent(s)</h2>
      <ul>
        <li py:for="c in commit.parents()">
          <a href="${c.url()}">${h.text.truncate(c.hex(), 10)}</a>
        </li>
      </ul>
      <py:if test="commit.files()">
        <h2>Patches</h2>
        <div py:for="a, b, d in commit.diffs()"
             class="title-pane closed">
          <h3 class="title">diff a/$a b/$b</h3>
          <pre class="content codehilite"><code>${Markup(d)}</code></pre>
        </div>
      </py:if>
    </div>
  </body>
</html>
