{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}Change organization data{% endblock %}

{% block header %}Change organization data{% endblock %}

{% block content %}

{% if permissions == 'admin' %}

  <ul><li><a href="{{organization.url()}}">Click here</a> to check your public profile.</ul>
  <div class="grid-20">
    <h2>Data to be included in {{organization.fullname}}'s profile</h2>
    {{forms.update_profile.display(organization=organization, action=organization.url()+'change_data') }}
  </div>

  <div class="grid-20" style="clear:both;">
    <h2>Work Fields</h2>
    {% if organization.workfields %}
      <table>
        <tr>
          <thead>
            <th>Work field</th>
            <th>Description</th>
            <th>Actions</th>
          </thead>
        </tr>
        {% for wf in organization.getWorkfields() %}
          {{forms.remove_work_field.display(workfield=wf, action=organization.url()+'remove_work_field')}} 
        {%endfor%}
      </table>
    {% else %}
      <p>At the moment, there are no working fields set for this organization.</p>
    {% endif %}
    <h3>Add a new work field</h3>
    <div class="grid-20" style="margin:0;">
      {{forms.add_work_field.display(organization=organization, action=organization.url()+'add_work_field') }}
    </div>
  </div>

  <div class="grid-20">
    <h2>Members</h2>

    {% if members %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Permission level</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for membership in members %}
            <tr>
              {{forms.new_change_membership_from_organization().display(
                  membership=membership,
                  action=membership.organization.url()+'change_membership')}}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>This organization doesn't have any enrolled member.</p>
    {% endif %}
    <h3>Add a new user</h3>
    <p>
      You can add a member of your organization to the above list by filling the following form with his or her 
      username and the user's role within the organization.
    </p>
    {{forms.invite_user_form.display(action=organization.url()+'invite_user')}}

  </div>

  <div class="grid-20">
    <h2>Collaborations</h2>

    {% if collaborations %}
      <h3>Edit existing collaborations</h3>
      <table>
        <thead>
          <tr>
            <th>Project</th>
            <th>Collaboration type</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for org in collaborations %}
            <tr>
              {{forms.new_change_collaboration_status().display(
                    collaboration=org,
                    action=org.organization.url()+'update_collaboration_status')}}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>At the moment, this organization doesn't collaborate in any project.</p>
    {% endif %}

    <h3>Add a new collaboration</h3>
    <p>
      If you want to include a new collaboration in your profile, you can look for the project and send an admission request.
      Otherwise, you can add it using the following form.
    </p>
    {{forms.request_collaboration_form.display(action=organization.url()+'send_collaboration_request')}}
  </div>

{% else %}
  <div class="grid-20">You don't have the permissions to edit the profile of this organization.</div>
{% endif %}

{% endblock %}
