{% extends g.theme.master %}

{% block title %}{{user.display_name}} / Special API Keys{% endblock %}

{% block header %}Special API Keys Management{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css"
          href="{{g.app_static('css/user_profile.css')}}"/>
{% endblock %}


{% block content %}
<form method="POST">
Username: <input name="for_user" type="text" value="{{for_user}}"><br />
Capabilities (JSON): <input name="caps" type="text" value="{{caps}}"><br />
Expiration date: <input name="expires" type="text" value="{{expires}}"><br />
<input type="submit" value="Save">
</form>

<table>
<tr>
<th>API Key</th>
<th>Username</th>
<th>Expiration Date</th>
<th>Capabilities</th>
</tr>
{% for token in token_list %}
<tr>
<td>{{token.api_key}}</td>
<td>{{token.user.username}}</td>
<td>{{token.expires}}</td>
<td>{{token.capabilities}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
