{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends g.theme.master %}
{% import 'allura:templates/jinja_master/lib.html' as lib with context %}

{% block title %}{{c.project.name}} / Import{% endblock %}

{% block header %}Import from external sources{% endblock %}

{% block extra_css %}
<style type="text/css">
    .tool {
        margin-bottom: 3em;
    }
    .tool img {
        float: left;
        margin: 0 1em;
    }
    .importer .descr {
        margin: 0 2em 1em 2em;
    }
</style>
{% endblock %}

{% block content %}
    {% for tool, tool_importers in importers.iteritems() %}
        <div class="tool">
        {% for importer_name, importer in tool_importers.iteritems() %}
            {% if loop.first %}
                <img src="{{ g.theme.app_icon_url(tool, 48) }}" alt="{{ tool.tool_label }} icon">
                <h2>{{ tool.tool_label }}</h2>
            {% endif %}
            <div class="importer">
                <a href="{{importer_name}}"><h3>
                {{importer.source}}:
                {{importer.tool_label}}
                </h3>
                </a>
                <div class="descr">
                {{importer.tool_description}}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
