<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>SVN Changeset</title>
    <style type="text/css">
      ins { text-decoration: none; background-color: #dfd; }
      del { text-decoration: none; background-color: #fdd; }
    </style>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="${g.forge_static('css/forge/hilite.css')}" />
  </head>

  <body>
    <a py:if="prev" href="$prev">Prev</a>
    <a py:if="next" href="$next">Next</a>
    <p py:if="revision is None">Unknown revision</p>
    <py:if test="revision is not None">
      ${c.revision_widget.display(value=revision)}
      ${Markup(g.highlight(unicode(revision.diff(), 'utf-8'), 'diff'))}
    </py:if>
  </body>
</html>
