<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>SVN Commit</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="${g.forge_static('css/forge/hilite.css')}" />
  </head>

  <body>
    <h1 py:if="commit is None">Commit not found</h1>
    <py:if test="commit is not None">
      <a py:if="prev" href="$prev">Prev</a>
      <a py:if="next" href="$next">Next</a>
      <p py:if="commit is None">Unknown revision</p>
      <py:if test="commit is not None">
        ${c.revision_widget.display(value=commit)}
        <table>
          <tbody>
            <tr py:for="kind, path in commit.diff_summarize()">
              <td>$kind</td>
              <td><a href="./tree/$path">$path</a></td>
            </tr>
          </tbody>
        </table>
      </py:if>
    </py:if>
  </body>
</html>
