<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>
      $c.project.name / $c.app.config.options.mount_label / @r${blob._commit._id}:
      ${path_links(blob.path().split('/')[1:-1])} $blob.filename
    </title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="${g.forge_static('css/forge/hilite.css')}" />
  </head>

  <body>
    <h1 class="title"><a href="${blob._commit.url()}">@r${blob._commit._id}</a>:
    ${path_links(blob.path().split('/')[1:-1])} $blob.filename</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <div style="position: relative; height:2.5em">
            <div py:if="prev" style="position:absolute; top:0; left:0">
              <a href="${prev.url()}" class="btn">&larr; Previous @r${prev._commit._id}</a>
              <a href="?diff=$prev._commit._id" class="btn">Diff with @r${prev._commit._id}</a>
            </div>
            <div py:if="next" style="position:absolute; top:0; right:0">
              <a href="?diff=$next._commit._id" class="btn">Diff with @r${next._commit._id}</a>
               <a href="${next.url()}" class="btn">Next @r${next._commit._id} &rarr;</a>
            </div>
          </div>

          <py:if test="not blob.has_html_view and not force_display">
            $blob.filename is not known to be viewable in your browser.
            Try to <a href="?force=True">display it</a> anyway or
            <a href="?format=raw">download it</a> instead.
          </py:if>
          <py:if test="blob.has_html_view or force_display">
            <a href="?format=raw">Download this file</a>
            <div class="clip">
              <h3><span class="ico"><b class="ui-icon ui-icon-document"></b></span> $blob.filename</h3>
              ${Markup(g.highlight(blob.text, filename=blob.filename))}
            </div>
          </py:if>
        </div>
      </div>
    </div>
  </body>
</html>
