<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:if="not c.app.repo">SVN Repository</title>
    <title py:if="c.app.repo">SVN Repository: ${c.app.repo.name}</title>
  </head>

  <body>
    <h1 class="title">$c.app.config.options.mount_label</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <h2>Project: $c.project.shortname</h2>
          <a py:if="c.app.repo.latest" href="LATEST/tree/">Files</a>
          <py:if test="c.app.repo">
            <dl>
              <dt>read access</dt>
              <dd>svn checkout svn://$c.app.repo.scm_url_path</dd>
              <dt>read/write access</dt>
              <dd>svn checkout svn+ssh://${username or 'USERNAME'}@$c.app.repo.scm_url_path</dd>
              <dt>status</dt>
              <dd>${c.app.repo.status}</dd>
            </dl>
          </py:if>
          <h2>Commit History</h2>
          <py:if test="log">
            <py:for each="commit in log">
              ${c.revision_widget.display(**commit)}
            </py:for>
            <a py:if="next_link" href="$next_link">More</a>
          </py:if>
          <py:if test="not log">
            <b>No (more) commits</b>
          </py:if>
        </div>
      </div>
    </div>
  </body>
</html>
