<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:if="not repo">SVN Repository</title>
    <title py:if="repo">SVN Repository: ${repo.name}</title>
  </head>

  <body>
    <h1 class="title">Welcome to ForgeSVN</h1>
    <h2>Project: $c.project.shortname</h2>
    <py:if test="not repo">
      <form method="post" action="init">
        <p>Create a new repository:</p>
        <input type="text" name="name" value=""/>
        <input type="submit" value="Create"/>
      </form>
    </py:if>
    <py:if test="repo">
      <dl>
        <dt>read access</dt>
        <dd>svn checkout svn://svn.${host}${repo.path}${repo.name}/</dd>
        <dt>read/write access</dt>
        <dd>svn checkout svn+ssh://svn.${host}${repo.path}${repo.name}/</dd>
        <dt>status</dt>
        <dd>${repo.status}</dd>
      </dl>
    </py:if>
    <h2>Commit History</h2>
    <py:for each="r in revisions">
      ${c.revision_widget.display(value=r)}
    </py:for>
    <a py:if="next_link" href="$next_link">More</a>
  </body>
</html>
