<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:if="not c.app.repo">SVN Repository</title>
    <title py:if="c.app.repo">SVN Repository: ${c.app.repo.name}</title>
  </head>

  <body>
    <h1 class="title">$c.app.config.options.mount_label</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <p py:if="c.app.repo">
            Read access: <code>svn checkout svn://$c.app.repo.scm_url_path</code><br/>
            Read/write access: <code>svn checkout svn+ssh://${c.user == c.user.anonymous() and 'USERNAME' or c.user.username}@$c.app.repo.scm_url_path</code><br/>
          </p>
          <py:if test="log">
            <h2>Recent Commits</h2>
            ${c.log_widget.display(value=log, show_paging=False,
                                   limit=limit, page=page, count=count)}
            <a py:if="int(count) &gt; int(limit)" href="${c.app.url}log?page=1">More</a>
          </py:if>
          <py:if test="not log">
            <b>No (more) commits</b>
          </py:if>
        </div>
      </div>
    </div>
  </body>
</html>
