{% extends 'jinja_master/master.html' %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / Commit
  {% if commit %}
    {{commit.revision.number}}
  {% else %}
    unknown
  {% endif %}
{% endblock %}

{% block header %}
  {% if commit %}
    Revision {{commit.revision.number}}
  {% else %}
    Commit not found
  {% endif %}
{% endblock %}

{% block content %}
  {% if commit %}
    {{c.revision_widget.display(value=commit)}}
    <div style="position: relative; height:2.5em">
      {% if prev %}
        <a href="{{prev}}" class="btn" style="position:absolute; top:0; left:0">&larr; Prev</a>
      {% endif %}
      <div style="margin: 0 auto; width: 50px"><a href="{{commit.tree().url()}}" class="btn">Tree</a></div>
      {% if next %}
        <a href="{{next}}" class="btn" style="position:absolute; top:0; right:0">Next &rarr;</a>
      {% endif %}
    </div>
    <table>
      <tbody>
        {% for kind, path in commit.diff_summarize() %}
          <tr>
            <td>{{kind}}</td>
            <td><a href="./tree/{{h.really_unicode(path)}}">{{h.really_unicode(path)}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Unknown revision</p>
  {% endif %}
{% endblock %}