<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>ForgeSCM Commit</title>
  </head>
  
  <body>
    <h1>Welcome to ForgeSCM</h1>
    <h2>Project: $c.project.shortname</h2>
    <p><b>Repository Type:</b> ${c.app.config.options['type']}</p>
    <p>
      Your repository is <em>${c.app.repo.status}</em>
    </p>
    <table>
      <tr><th>Hash</th><td>$value.hash</td></tr>
      <tr><th>User</th><td>$value.user</td></tr>
      <tr py:for="t in value.tags"><th>Tag</th><td>$t</td></tr>
      <tr py:for="p in value.parents">
        <th>Parent</th>
        <td><a href="../$p/">$p</a></td></tr>
      <tr><th>Summary</th><td>$value.summary</td></tr>
    </table>
    <ul>
      <li py:for="patch in value.patches">
        <a href="${patch.url()}">$patch.filename</a>
      </li>
    </ul>
  </body>
</html>
