<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>ForgeSCM Index Page</title>
  </head>
  
  <body>
    <h1>Welcome to ForgeSCM</h1>
    <h2>Project: $c.project.shortname</h2>
    <p><b>Repository Type:</b> ${c.app.config.options['type']}</p>
    <p>
      Your repository is <em>${c.app.repo.status}</em>
    </p>
    <a href="${repo.native_url()}">View Natively</a><br/>
    <a href="reinit">Reinitialize the repository</a><br/>
    <py:if test="c.app.repo.parent">
      <a href="reclone">Re-clone the repository</a> 
      from $c.app.repo.parent<br/>
    </py:if>
    <form method="POST" action="fork">
      Fork to 
      <select name="project">
        <option py:for="p in c.user.my_projects()"
                value="$p._id">$p.name</option>
      </select>
      /
      <input name="mount_point"/>
      <input type="submit" value="FORK!"/>
    </form>
    <form method="POST" action="clone_from">
      Clone the repo from <input name="url"/>
    </form>
    <h3>Recent Commits</h3>
    <p py:for="ct in repo.commits().limit(5)">
      <a href="${ct.url()}"><code>$ct.hash</code></a>
      by <em>$ct.user</em> at $ct.date<br/>
      $ct.summary
    </p>
  </body>
</html>
