<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>ForgeSCM Index Page</title>
  </head>
  
  <body>
    <h1>Welcome to ForgeSCM</h1>
    <h2>Repository: $c.project.shortname / $c.app.config.options.mount_point</h2>
    <h3>Repository Info</h3>
    <table>
      <tr>
        <th>Status</th>
        <td>$repo.status</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>${c.app.config.options['type']}</td>
      </tr>
      <tr>
        <th>Clone Command</th>
        <td><code>${repo.clone_command()}</code></td>
      </tr>
      <tr>
        <th>Parent</th>
        <td>
          <form method="POST" action="clone_from">
            <input name="url" value="$repo.parent"/>
            <input type="submit" value="Clone!"/>
          </form>
        </td>
      </tr>
      <tr py:if="repo.forked_from.app_config_id">
        <th>Forked from repository</th>
        <td>
          <form method="POST" action="pull_request">
            <a href="${repo.forked_from_url()}">${repo.forked_from_url()}</a>
            <input type="submit" value="Pull Request"/>
          </form>
        </td>
      </tr>
      <tr>
        <th>Forks</th>
        <td>
          <ul py:if="repo.forks">
            <li py:for="fork in repo.fork_urls()">
              <a href="$fork">$fork</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Pull Requests</th>
        <td>
          <ul py:if="repo.pull_requests">
            <li py:for="i, r in enumerate(repo.pull_requests)">
              ${Markup(r)} [<a href="delete_pull_request?i=$i">X</a>]
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <form method="POST" action="fork">
      Fork to 
      <select name="project">
        <option py:for="p in c.user.my_projects()"
                value="$p._id">$p.name</option>
      </select>
      /
      <input name="mount_point"/>
      <input type="submit" value="FORK!"/>
    </form>
    <h3>Recent Commits</h3>
    <p py:for="ct in repo.ordered_commits(5)">
      ${gravatar(ct.user, size=24)}
      <a href="${ct.url()}">
        <code>
          <py:if test="ct.rev is not None">${ct.rev}:</py:if>
          $ct.hash
      </code></a>
      by <em>$ct.user</em> at $ct.date<br/>
      $ct.summary
    </p>
  </body>
</html>
