{% from 'jinja_master/lib.html' import email_gravatar with context %}
{% if value.author_url %}
  Authored by
  <a href="{{value.author_url}}">{{email_gravatar(value.author.email, title=h.really_unicode(value.author.name), size=16)}}</a>
  <a href="{{value.author_url}}">{{h.really_unicode(value.author.name)}}</a>
{% else %}
  Authored by
  {{email_gravatar(value.author.email, title=h.really_unicode(value.author.name), size=16)}} {{h.really_unicode(value.author.name)}}
{% endif %}
{% if value.authored_datetime %}{{h.ago(value.authored_datetime)}}{% endif %}
{% if value.committer != value.author %}
  {% if value.committer_url %}
    Committed by
    <a href="{{value.committer_url}}">{{email_gravatar(value.committer.email, title=h.really_unicode(value.committer.name), size=16)}}</a>
    <a href="{{value.committer_url}}">{{h.really_unicode(value.committer.name)}}</a>
  {% else %}
    Committed by
    {{email_gravatar(value.committer.email, title=h.really_unicode(value.committer.name), size=16)}} {{h.really_unicode(value.committer.name)}}
  {% endif %}
  {% if value.committed_datetime %}{{h.ago(value.committed_datetime)}}{% endif %}
{% endif %}

<br/>
<a href="{{value.tree().url()}}">Tree</a><br/>
{% if prev %}
  Parent(s):
  {% for ci in prev %}<a href="{{ci.url()}}">{{h.text.truncate(ci._id, 10)}}</a>{% endfor %}
  <br/>
{% endif %}
{% if next %}
  Child(ren):
  {% for ci in next %}<a href="{{ci.url()}}">{{h.text.truncate(ci._id, 10)}}</a>{% endfor %}
  <br/>
{% endif %}
{{g.markdown.convert(h.really_unicode(value.message))}}
