{% extends g.theme.master %}

{% do g.register_app_css('vizgrimoire.css', compress=False) %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block extra_css %}
<style type="text/css">
.envision-component table, .info-pill table, .flotr-legend table {
    width: 100%;
    height: 100%;
    margin: 0px;
}      
.envision-component table thead tr th, table tr td,
.info-pill table {
    padding: 2px; 
}
.info-pill h1 {font-size: 100%;}
.radar {
    height:300px;
    width:350px;
}
</style>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{g.app_static('jquery-1.7.1.min.js')}}"></script>


<p><h1>Allura Metrics</h1></p>

<p>
Proof of concept of how some parameters of the evolution of a software project can be visualized. 
<a href="https://github.com/VizGrimoire/VizGrimoireJS">VizGrimoire.js</a> Allura integration. Visualization is still preliminary and incomplete. 
</p>
    <div style="float:left">
        <div style="float:left;margin:20px;">
            <div style="float:left">
            <strong>Project Activity</strong>
            <div id="radar-activity" class='radar' data-max='6500'></div>
            </div>
            <div style="float:left">
            <strong>Community Activity</strong>
            <div id="radar-community" class='radar' data-max='100'></div>
            </div>
        </div>
    </div>
<div style="clear:both"></div>      
<div style="float:right"">
    Powered by <a href="http://www.bitergia.com"><img src="{{g.app_static('bitergia-logo-peq.png')}}" border=0></a>
</div>
<div id="report-config" data-global-data-dir="{{g.app_static('allura/data/json')}}/"></div>

<script type="text/javascript" src="{{g.app_static('vizgrimoire.min.js')}}"></script>    
{% endblock %}
