{% extends g.theme.master %}

{% do g.register_app_css('vizgrimoire.css', compress=False) %}
{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.project.name}} / {{c.app.config.options.mount_label}}: Tickets{% endblock %}

{% block content %}

 <script type="text/javascript" src="{{g.app_static('jquery-1.7.1.min.js')}}"></script>
    <style>
    <!--
      .envision-component table  {
          width: 100%;
          height: 100%;
          margin: 0px;
      }      
      .envision-component table thead tr th, table tr td {
          padding: 2px; 
      }
    -->
    </style>
 
    <div align=center>
        <a href="{{g.app_static('allura/data/json/mls-milestone0.json')}}">Emails</a>
    </div>
    
   <div style="float:left">
     <div style="float:left;margin:20px;">
       <div id="mls-envision"></div>
     </div>
 </div>

</div>
      
    <div id="report-config" data-mls-data-file="{{g.app_static('allura/data/json/mls-milestone0.json')}}"></div>
      
    <div align=right>
        Powered by <a href="http://www.bitergia.com"><img src="{{g.app_static('bitergia-logo-peq.png')}}" border=0></a>
    </div>
    
    <script type="text/javascript" src="{{g.app_static('vizgrimoire.min.js')}}"></script>    

{% endblock %}
