{% extends g.theme.master %}

{% do g.register_app_css('vizgrimoire.css', compress=False) %}
{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}
	{{c.project.name}} / {{c.app.config.options.mount_label}}: Source code
{% endblock %}

{% block extra_css %}
<style type="text/css">
.envision-component table, .info-pill table  {
    width: 100%;
    height: 100%;
    margin: 0px;
}      
.envision-component table thead tr th, table tr td,
.info-pill table {
    padding: 2px; 
}
.info-pill h1 {font-size: 100%;}
</style>
{% endblock %}


{% block content %}
	<script type="text/javascript" src="{{g.app_static('jquery-1.7.1.min.js')}}"></script>

    <div align=center>
        <a href="{{g.app_static('allura/data/json/scm-milestone0.json')}}">SCM Data: Commits vs Committers!</a>
    </div>
    
    <div style="float:left">
        <div style="float:left;margin:20px;">
            <div id="scm-envision"></div>
        </div>
        <div style="float:left">
            <div id="scm-commits-flotr2" style="width:200px;height:200px"></div>
            <div id="scm-committers-flotr2" style="width:200px;height:200px"></div>
            <div id="scm-files-flotr2" style="width:200px;height:200px"></div>
            <div id="scm-branches-flotr2" style="width:200px;height:200px"></div>
        </div>
        <div style="float:left;width:200px;margin-left:10px">            
            <div id="scm-top-pie"></div>
        </div>  
    </div>     
              
    <div style="clear:both"></div>
    <div style="float:right;margin:10px">
        Powered by <a href="http://www.bitergia.com"><img src="{{g.app_static('bitergia-logo-peq.png')}}" border=0></a>
    </div>

    <div id="report-config" data-global-data-dir="{{g.app_static('allura/data/json')}}"></div>
     
    <!-- <script type="text/javascript" src="{{g.app_static('VizGrimoireJS/src/envision.js')}}"></script>
    <script type="text/javascript" src="{{g.app_static('VizGrimoireJS/src/Report.js')}}"></script>
    <script type="text/javascript" src="{{g.app_static('VizGrimoireJS/src/ITS.js')}}"></script>
    <script type="text/javascript" src="{{g.app_static('VizGrimoireJS/src/MLS.js')}}"></script>
    <script type="text/javascript" src="{{g.app_static('VizGrimoireJS/src/SCM.js')}}"></script>
    <script type="text/javascript" src="{{g.app_static('VizGrimoireJS/src/Envision_Report.js')}}"></script>
    <script type="text/javascript" src="{{g.app_static('VizGrimoireJS/src/Viz.js')}}"></script> -->

    <script type="text/javascript" src="{{g.app_static('vizgrimoire.min.js')}}"></script>    
{% endblock %}
