{% extends 'forgeshorturl:templates/master.html' %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>Private</th>
        <th>Create user</th>
        <th>Short URL</th>
        <th>Full URL</th>
        <th>Description</th>
        <th>Created</th>
        <th>Last updated</th>
    </tr>
    </thead>
    {% for su in short_urls %}
    <tr>
        {%if su.private %}
            <td><small>yes</small></td>
        {% else %}
            <td><small>no</small></td>
        {% endif %}

        <td><small>{{ su.user.username }}</small></td>
        <td><small><a href="{{ c.app.url+su.short_name }}">{{ request.scheme+'://'+request.host+su.url()}}</a></small></td>
        <td><small>{{ su.full_url|urlize(20) }}</small></td>
        <td><small>{{ su.description }}</small></td>
        <td><small>{{ lib.abbr_date(su.created) }}</small></td>
        <td><small>{{ lib.abbr_date(su.last_updated) }}</small></td>

    </tr>
    {% endfor %}

</table>
{{ c.page_list.display(limit=limit, count=count, page=pagenum) }}
{% endblock %}