{% extends 'allura:templates/repo/repo_master.html' %}

{% block title %}
  {% if c.app.repo %}
    Mercurial Repository: {{c.app.repo.name}}
  {% else %}
    Mercurial Repository
  {% endif %}
{% endblock %}

{% block header %}{{c.app.config.options.mount_label}}{% endblock %}

{% block content %}
  {{ clone_info(c.app.repo) }}
  <div style="clear:both">&nbsp;</div>
  {% if log %}
    <h2>Recent Commits{% if branch %} on {{branch}}{% endif %}</h2>
    {{c.log_widget.display(value=log, show_paging=False,
                           limit=limit, page=page, count=count)}}
    {% if int(count) > int(limit) %}
      <a href="log?page=1">More</a>
    {% endif %}
  {% else %}
    {% if h.has_access(c.app, 'write')() %}
    <div class="message warning scm-learn-basics">
      <div class="content">
        <img src="{{g.app_static('images/hg.png')}}" style="float:left">
        <h2>New to Mercurial?</h2>
        <a href="http://mercurial.selenic.com/guide/">Learn the basics</a>.
      </div>
    </div>
    
    <div class="message error scm-empty-repo">
      <h6>Empty Repository</h6>
      <div class="content">
        It looks like this Mercurial repository doesn't have any files in it. Let's commit your project code now.
      </div>
    </div>

    <h2>First time using Mercurial</h2>

    <div class="codehilite">
      <pre>{{c.app.repo.clone_command('rw')}}
cd {{c.app.repo.suggested_clone_dest_path()}}
touch README
hg add
hg commit -m 'Initial commit'
hg push</pre>
    </div>

    <h2>Existing Repository</h2>

    <p>Add the new repository as a remote in .hg/hgrc like this:</p>
    <div class="codehilite">
      <pre>[paths]
default = {{c.app.repo.clone_url('rw', c.user.username)}}</pre>
    </div>
    <p>Now you can push your code to the repository.</p>
    <div class="codehilite">
      <pre>cd {{c.app.repo.suggested_clone_dest_path()}}
hg push</pre>
    </div>
    &nbsp;
    <div class="message info scm-ssh-key">
      <div class="content">
        Did you get asked for your SourceForge password during this process? You can securely use your Git repository and avoid having to re-enter your password by <a href="https://sourceforge.net/account/ssh">setting up an ssh-key</a>.
      </div>
    </div>
    {% else %}
    <p><b>No (more) commits</b></p>
    {% endif %}
  {% endif %}
{% endblock %}
