{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Admin Home{% endblock %}

{% block header %}{{app.config.options.mount_point}} Admin Home{% endblock %}

{% block content %}
<form method="POST" action="set_home">
  <ol>
    <li>
      <label for="title">Wiki Home Page:</label>
      {% if allow_config %}
       <input type="text" name="new_home" id="new_home" value="{{home}}"/>
      {% else %}
        <span>{{home}}</span>
      {% endif %}
    </li>
    <hr/>
    <li>
      <label>&nbsp;</label>
      {% if allow_config %}<input type="submit" value="Save"/>{% endif %}
    </li>
  </ol>
</form>
{% endblock %}