{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Admin Options{% endblock %}

{% block header %}{{app.config.options.mount_point}} Admin Options{% endblock %}

{% block content %}
<form method="POST" action="set_options">
  <ol>
    <li>
      <label for="title">Show discussion:</label>
      {% if allow_config %}
        <input type="checkbox" name="show_discussion" id="show_discussion"{% if app.show_discussion %} checked="checked"{% endif %}/>
      {% else %}
        <span>{{app.show_discussion}}</span>
      {% endif %}
    </li>
    <hr/>
    <li>
      <label for="title">Show left bar:</label>
      {% if allow_config %}
        <input type="checkbox" name="show_left_bar" id="show_left_bar"{% if app.show_left_bar %} checked="checked"{% endif %}/>
      {% else %}
        <span>{{app.show_left_bar}}</span>
      {% endif %}
    </li>
    <hr/>
    <li>
      <label for="title">Show right bar:</label>
      {% if allow_config %}
        <input type="checkbox" name="show_right_bar" id="show_right_bar"{% if app.show_right_bar %} checked="checked"{% endif %}/>
      {% else %}
        <span>{{app.show_right_bar}}</span>
      {% endif %}
    </li>
    <hr/>
    <li>
      <label>&nbsp;</label>
      {% if allow_config %}<input type="submit" value="Save"/>{% endif %}
    </li>
  </ol>
</form>
{% endblock %}