<form method="POST" action="{{c.project.url()}}admin/{{app.config.options.mount_point}}/set_home">
  <label for="title" class="grid-4">Wiki Home Page:</label>
  <div class="grid-9">
    {% if allow_config %}
     <input type="text" name="new_home" id="new_home" value="{{home}}"/>
    {% else %}
      <span>{{home}}</span>
    {% endif %}
  </div>
  {% if allow_config %}
    <div class="grid-13">&nbsp;</div>
    <hr>
    <div class="grid-13">&nbsp;</div>
    <div class="grid-13">
      <input type="submit" value="Save"/>
    </div>
  {% endif %}
</form>