{% extends 'wiki/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Browse Labels{% endblock %}

{% block header %}Browse Labels{% endblock %}

{% block wiki_content %}
{{c.page_size.display(limit=limit,count=count,page=page)}}
<table id="forge_wiki_browse_tags">
  <thead>
    <tr>
      <th>Label</th>
      <th>Pages</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 0 %}
    {% for label in labels %}
      <tr class="{{i%2 and 'even' or ''}}">
        <td>{{label}}</td>
        <td>
          {% for p in labels[label] %}<a href="{{p.url()}}">{{p.title}}</a> {% endfor %}</td>
      </tr>
      {% set i = i+1 %}
    {% endfor %}
  </tbody>
</table>
{{c.page_list.display(limit=limit, page=page, count=count)}}
{% endblock %}