{% extends 'wiki/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Browse Pages{% endblock %}

{% block header %}Browse Pages{% endblock %}

{% block wiki_content %}
View: <a id="sort_recent" href="?sort=recent">Recently Updated</a> | <a id="sort_alpha" href="?sort=alpha">Alphabetical</a>
<table id="forge_wiki_browse">
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Update By</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages %}
      <tr class="{{'deleted' if page.deleted else ''}}">
        <td><a href="../{{page['title']+'/'+('?deleted=True' if page.deleted else '')}}">{{page['title']}}</a></td>
      
        {% if 'user_label' in page %}
          <td>{{page['user_label']}}</td>
        {% else %}
          <td></td>
        {% endif %}
        {% if 'updated' in page %}
          <td>{{h.ago(page['updated'])}}</td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>  
{% if can_delete %}
  <a id="toggle_deleted" href="#" style="display:none"><span/> deleted pages</a>
{% endif %}
{% endblock %}

{% block wiki_extra_css %}
<style type="text/css">
    tr.deleted a { color:red; }
</style>
{% endblock %}
{% block wiki_extra_js %}
<script type="text/javascript">
  var show_deleted = {{'true' if show_deleted else 'false'}},
      can_delete = {{'true' if can_delete else 'false'}};
</script>
<script type="text/javascript" src="{{g.app_static('js/browse.js')}}"/>
{% endblock %}