{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends g.theme.master %}
{% import g.theme.jinja_macros as theme_macros with context %}
{% do g.register_app_css('css/wiki.css', compress=False) %}
{% import 'allura:templates/jinja_master/lib.html' as lib with context %}

{% block head %}
    {{ lib.canonical_tag() }}
{% endblock %}


{% block edit_box %}
  {% if show_meta %}{% block wiki_meta %}{% endblock %}{% endif %}
{% endblock %}

{% block content %}
  {% block wiki_content %}content here{% endblock %}
  <div id="create_wiki_page_holder" title="Create New Page" style="display:none">
    <form>
        <label class="grid-2">Name</label>
        <div class="grid-7"><input type="text" name="name"/></div>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('.post-link').click(function () {
            var dialog_text;
            var version = $(this).data("dialog-id");
            if (version) {
                dialog_text = $(".confirmation_dialog_" + version);
            } else {
                dialog_text = $(".confirmation_dialog");
            }

            var modal = $('#lightbox_confirm');
            modal.html(dialog_text.html());

            modal.find('.continue_confirm').click(function (evt) {
                var cval = $.cookie('_session_id');
                evt.preventDefault();
                var _t = $(this);
                var url = _t.data('href') || _t.attr('href');
                $.post(url, {_session_id: cval}, function (val) {
                    window.location = val.location;
                }, 'json');
            });
        });
    </script>
  {% block wiki_extra_js %}{% endblock %}
{% endblock %}
