{% extends g.theme.master %}
{% do g.register_app_css('css/wiki.css', compress=False) %}

{% block content %}
  {% block wiki_content %}content here{% endblock %}
  <div id="create_wiki_page_holder" title="Create New Page" style="display:none">
    <form>
      <ol>
        <li>
          <label>Name</label>
          <input type="text" name="name"/>
        </li>
      </ol>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{{g.app_static('js/wiki.js')}}"></script>
  {% block wiki_extra_js %}{% endblock %}
{% endblock %}