{% extends 'forgewiki:templates/wiki/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / {{page.title}}{% endblock %}

{% block header %}Edit {{page.title}}{% endblock %}

{% block extra_css %}
<style type="text/css">
  textarea[name="text"]{
    height: 600px;
  }
</style>
{% endblock %}

{% block actions %}
  <a href="." title="View Page"><b data-icon="{{g.icons['search'].char}}" class="ico {{g.icons['search'].css}}" title="View Page"></b></a>
  {% if page_exists and has_artifact_access('delete', page)() %}
    <a class="post-link" href="./delete" title="Delete"><b data-icon="{{g.icons['delete'].char}}" class="ico {{g.icons['delete'].css}}" title="Delete"></b></a>
  {% endif %}
{% endblock %}

{% block wiki_content %}
<form method="POST" class="can-retry" action="update" id="page_edit_form">
	<label class="grid-4">Name:</label>
	<div class="grid-14">
	  <input type="text" name="title" id="title" value="{{page.title}}" placeholder="Page name" required="required" autofocus="autofocus"/>
	</div>
	<label class="grid-18">Content:</label>
	<div class="grid-18">
	  {{c.markdown_editor.display(id='text', name='text',value=page.text)}}
	</div>
	<label class="grid-4">Labels:</label>
	<div class="grid-14" style="margin-left:0">
		{{c.label_edit.display(id='labels', name='labels', value=page.labels)}}
	</div>
  <div class="grid-19">
    <input type="submit" value="Save">
    <input type="reset" value="Cancel">
	</div>
</form>
<div class="grid-19">
  {{c.attachment_list.display(attachments=page.attachments, edit_mode=page_exists and has_artifact_access('edit', page)())}}
  {% if page_exists and has_artifact_access('edit', page)() %}
    {{c.attachment_add.display(action=page.url() + 'attach', name='file_info')}}
  {% endif %}
</div>
{% endblock %}

{% block wiki_extra_js %}
<script type="text/javascript">
  /*<![CDATA[*/
  $('span.removable').click(function(e){
    var vals = $('#page_edit_form').serialize();
    var del_name = $('input', this)[0].name.replace('.id','.delete');
    $.post($('#page_edit_form')[0].action, vals+'&'+del_name+'=Del', function(){
      e.target.parentNode.removeChild(e.target);
    });
  });
  /*]]>*/
</script>
{% endblock %}
