{% extends 'wiki/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / {{title}}{% endblock %}

{% block header %}{{title}}{% endblock %}

{% block actions %}
  <a href="." title="View Page"><b data-icon="s" class="ico" title="View Page"></b></a>
{% endblock %}

{% block wiki_content %}
{{c.page_size.display(limit=limit,count=count,page=page)}}
<form method="get" action="diff">
  <input type="submit" value="Compare revisions"/>
  <br/> <br/>
  <table>
    <thead>
      <tr>
        <th>Version</th>
        <th>Date</th>
        <th>V1</th>
        <th>V2</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 0 %}
      {% for p in pages %}
        <tr>
          <td>{{p.version}} by {{p.author.display_name}}</td>
          <td>{{h.ago(p.mod_date)}}</td>
          <td><input name="v1" type="radio" value="{{p.version}}"/></td>
          <td><input name="v2" type="radio" value="{{p.version}}"/></td>
          <td>
            <a href="./?version={{p.version}}" class="btn">View Revision</a>
            {% if i != 0 and has_artifact_access('edit', p)() %}
              <a href="./revert?version={{p.version}}" class="btn">Revert to version {{p.version}}</a>
            {% endif %}
          </td>
        </tr>
        {% set i = i+1 %}
      {% endfor %}
    </tbody>
  </table>
</form>
{{c.page_list.display(limit=limit, page=page, count=count)}}
{% endblock %}