{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends g.theme.master %}
{% from 'allura:templates/jinja_master/sidebar_menu.html' import sidebar_item with context %}

{% do g.register_forge_css('css/forge/deck.css') %}
{% do g.register_forge_js('js/project_tools.js', location='body_js_tail') %}

{% block title %}{{c.project.name}} / Tools{% endblock %}

{% block header %}Tools{% endblock %}

{% block content %}
{% set full_url = h.absurl(c.project.url()) %}
  <h3>Click to install</h3>
  <div class="nested-grid-container">
    {% for tool in installable_tools %}
      <span class="tcenter grid-4 installable_tool">
        <a class="install_trig" data-tool="{{ tool['name'] }}">
          <span class="tool_title">{{ tool['app'].tool_label }}{{' (%s)' % tool.app.status if tool.app.status != 'production' else ''}}</span><br />
          <img src="{{ g.theme.app_icon_url(tool['name'], 32) or 'unk.png' }}" alt="">
        </a>
      </span>
    {% endfor %}
    <span class="tcenter grid-4 installable_tool">
      <a class="install_trig" data-tool="">
        <span class="tool_title">Subproject</span><br />
        <img src="{{ g.theme.app_icon_url('subproject', 32) }}" alt="">
      </a>
    </span>
  </div>
  <form method="post" action="update_mounts?limit={{limit}}&page={{page}}" id="install_form" style="display:none">
    <input type="hidden" name="new.ordinal" value="{{total_mounts}}"/>
    <input type="hidden" name="new.ep_name" class="new_ep_name">
    <label class="grid-13" for="new.mount_label">Label</label>
    <div class="grid-13"><input type="text" name="new.mount_label" class="new_mount_label" title="This will be the name displayed in your project toolbar.">
    </div>
      <label class="grid-13" for="new.mount_point">Url Path</label>
      <div class="grid-13">
        <input id="id_url_input" type="text" name="new.mount_point" title="The url for this tool relative to {{ full_url }} " class="new_mount_point">
       <p><span id="full-url-preview" data-url="{{full_url}}"></span></p>
    </div>
    <div id="install_options">{# js inserts form fields here #}</div>
    <div class="grid-13">&nbsp;</div>
    <hr>
    <div class="grid-13">&nbsp;</div>
    <div class="grid-13">
      <input type="submit" value="Save" name="new.install"> <a href="#" class="close btn link">Cancel</a>
    </div>
    {{lib.csrf_token()}}
  </form>
  {{c.install_modal.display(content='<h1>Install <span id="install_tool_label">Tool</span></h1>')}}

<div>
  {{c.page_list.display(page=page, limit=limit, count=total_mounts)}}
</div>
<h3>Installed tools</h3>
<p>
    Sortable - define top menu order by moving tools with your mouse.
</p>
<div id="sortable" class="clearfix fourcol">
    {% for mount in mounts %}
        {% if 'ac' in mount %}
            {% set app = mount['ac'].load()(c.project, mount['ac']) %}
            {% set links = app.admin_menu() %}
            {% set label = mount['ac'].options['mount_label'] if mount['ac'].options['mount_label'] != 'Tool Name' else mount['ac'].options['mount_point'] %}

            <div class="fleft {%if app.tool_label.lower()=='admin' or (app.tool_label.lower() in app.project.neighborhood.get_anchored_tools().keys())%}isnt_sorted{%endif%}">
                <ul class="deck">
                    <li class="tcenter">
                        <span class="tool_title">{{ label }}</span><br />
                        <img src="{{ g.theme.app_icon_url(app, 48) }}" alt="">
                    </li>
                    {% for link in links %}
                      {{sidebar_item(link)}}
                    {% endfor %}
                    {{sidebar_item(app.admin_menu_delete_button)}}
                </ul>
                {% if not app.uninstallable %}
                  <input type="hidden" class="mount_point" value="{{mount['ac'].options.mount_point}}"/>
                {% endif %}
            </div>
        {% endif %}
        {% if 'sub' in mount and not mount['sub'].deleted %}
            <div class="fleft">
                <ul class="deck">
                    <li class="tcenter">
                        <span class="tool_name">{{ mount['sub'].name }}</span><br />
                        <img src="{{ g.theme.app_icon_url('subproject', 48) }}" alt="">
                    </li>
                    <li>
                      <a href="#" data-mount-point="{{ mount['sub'].shortname }}"
                                  data-subproject="true"
                                  class="admin_tool_delete_modal">
                        <span>Delete</span>
                      </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
<div style="clear:both">
  {{c.page_list.display(page=page, limit=limit, count=total_mounts)}}
</div>
{{c.admin_modal.display()}}
{{c.mount_delete.display()}}
<div><!--dummy-->

<h3 style="clear:left">Grouping</h3>
<form method="POST" action="configure_tool_grouping?limit={{limit}}&page={{page}}" id="configure_grouping_form">
    <label>Threshold for grouping tools by type:
        <input name="grouping_threshold" value="{{c.project.get_tool_data('allura', 'grouping_threshold', 1)}}"/>
    </label>
    <br/><input type="submit" value="Change"/>
    {{lib.csrf_token()}}
</form>
{% endblock %}

{% block extra_js %}
<script>
    var defaults = {
        {% for tool in installable_tools %}
        '{{tool.name}}':{'default_label':'{{tool.app.default_mount_label}}','default_mount':'{{tool.app.default_mount_point}}'}{% if not loop.last %},{% endif %}
        {% endfor %}
    };
    var install_options_url = "{{ c.project.url().rstrip('/') }}/admin/options_on_install";
</script>
<script>
/* Real-time preview of a Url Path (aka mount point). */

    var url_preview = $('#full-url-preview'); // "Preview Url Path" displayed on when creating a new tool.
    var full_url = $(url_preview).data().url; // Full url path of current project.

    // Update the url path preview as they type.
    $('#id_url_input').keyup(function(){
        url_preview.html(full_url + '<strong class="url-keyword">' + $(this).val() + "</strong>");
    });

    // Set url_preview to the Url Path Defaults when creating a new tool.
    $('.installable_tool').find('a').on('click', function () {
        // Add the link tool's 'nice name'.
        defaults['external link'] = defaults.link
        var tool_name = $.trim($(this).text().toLowerCase());

        // If a tool has a default url path, use it for an initial preview.
        if (defaults[tool_name]) {
            url_preview.html(full_url + '<strong class="url-keyword">' + defaults[tool_name].default_mount + "</strong>");
        }
        else {
            // No defaults for this tool, so we use the base url to ensure the url_preview is reset.
            url_preview.html(full_url);
        }
    });
</script>
{% endblock %}

{% block extra_css %}
<style type="text/css">
.pad .fourcol .fleft {
  min-height: 200px;
}
div.isnt_sorted > ul.deck {
    cursor: not-allowed;
}
#configure_grouping_form {
    padding-left: 10px;
}
#configure_grouping_form input[name=grouping_threshold] {
    width: 1.5em;
}
#full-url-preview{
  color: white;
  font-size: small;
}
#full-url-preview .url-keyword{
  color: orange;
}
</style>
{% endblock %}
