{% set hide_left_bar = True %}
{% extends 'jinja_master/master.html' %}
      
{% block title %}{{c.project.name}} / Initial Tools{% endblock %}
    
{% block header %}Select Initial Tools for {{c.project.shortname}}{% endblock %}
    
{% block content %}
          <p>Please select some initial tools for your project.
             More may be added later through the "Tools" page.</p>
          <form method="POST" action="starter_mounts" id="starter_mounts">
            <input type="checkbox" name="Tickets" checked="checked"/> Tickets
            <div class="clear"></div>
            <input type="checkbox" name="Wiki" checked="checked"/> Wiki
            <div class="clear"></div>
            <input type="checkbox" name="Discussion" checked="checked"/> Forums
            <div class="clear"></div>
            <input type="checkbox" name="Git" checked="checked"/> Git
            <div class="clear"></div>
            <input type="checkbox" name="SVN"/> SVN
            <div class="clear"></div>
            <input type="submit" value="Save"/>
          </form>
{% endblock %}
