{% extends g.theme.master %}

{% do g.register_forge_css('css/forge/deck.css') %}

{% block title %}{{c.project.name}} / Statistics{% endblock %}

{% block header %}Statistics{% endblock %}

{% block content %}
  <h3>Neighborhood statistics</h3>
  <div class="nested-grid-container">
    <span class="grid-prefix-1 grid-9 installable_tool">
      <b>Projects</b>
    </span>
    <span class="grid-9 installable_tool">
      <b>Last updated</b>
    </span>
    <span class="grid-prefix-1 grid-9 installable_tool">
      Deleted: {{ c.delete_count }}
    </span>
    <span class="grid-9 installable_tool">
      Last 30 days: {{ c.last_updated_30 }}
    </span>
    <span class="grid-prefix-1 grid-9 installable_tool">
      Public: {{ c.public_count }}
    </span>
    <span class="grid-9 installable_tool">
      Last 60 days: {{ c.last_updated_60 }}
    </span>
    <span class="grid-prefix-1 grid-9 installable_tool">
      Private: {{ c.private_count }}
    </span>
    <span class="grid-9 installable_tool">
      Last 90 days: {{ c.last_updated_90 }}
    </span>
    <br style="clear:both"/>
    <span class="grid-prefix-1 grid-9 installable_tool">
      <a href="{{ c.project.url() }}admin/stats/adminlist">Admins list</a>
    </span>
  </div>

{% endblock %}
