{% extends g.theme.master %}

{% do g.register_forge_css('css/forge/deck.css') %}

{% block title %}{{c.project.name}} / Permissions {% endblock %}

{% block header %}Project Permissions{% endblock %}

{% block content %}
<form method="POST" action="update">
  {% for row in permissions|dictsort|batch(4) %}
  {% set i0=loop.index0  %}
  <div class="fourcol">
    {% for name, ids in row %}
    {% set i1 = i0*4 + loop.index0 %}
    {{c.card.display(
        index=i1,
        id=name,
        name=name,
        items=h.make_roles(ids),
        icon_name='perm_' + name,
    )}}
    {% endfor %}
    <br style="clear:both"/>
  </div>
  {% endfor %}
  <hr/>
  <p class="clearfix">
    <input type="submit" value="Save">
    <a href="" class="btn link cancel">Cancel</a>
  </p>
</form>
{{c.admin_modal.display(content='<h1 id="popup_title"></h1><div id="popup_contents"></div>')}}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">(function() {
var cval = $.cookie('_session_id');
var csrf_input = $('<input name="_session_id" type="hidden" value="'+cval+'">');
var $popup_title = $('#popup_title');
var $popup_contents = $('#popup_contents');
$('a.admin_modal').click(function(){
  var link = this;
  $popup_title.html('');
  $popup_contents.html('Loading...');
  $.get(link.href, function (data) {
    $popup_title.html($(link).html());
    $popup_contents.html(data);
    $popup_contents.find('form').append(csrf_input);
  });
});
$('#sortable').sortable({items: ".fleft"});
}());
</script>
{% endblock %}
