<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python from pprint import pformat ?>

  <xi:include href="master.html" />
  <xi:include href="lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label / Search</title>
  </head>
  <body>
    <h1>ForgeChat Search</h1>
    <form method="GET" action="search">
      <input type="text" name="q" value="$q"/><br/>
      Search history? <input type="checkbox" name="history" checked="${history or None}"/><br/>
      <input type="submit" value="Search"/>
    </form>
    <p py:if="count==0 and q">No results.</p>
    <p py:if="count==1 and q">$count result.</p>
    <p py:if="count > 1 and q">$count results.</p>
    <div py:for="doc in results">
      <a href="${doc['url_s']}">$doc.title_s</a><br/>
      <pre>${pformat(doc)}</pre>
      <hr/>
    </div>
  </body>

</html>
