{% from 'jinja_master/lib.html' import email_gravatar with context %}
<div>
  {% if show_paging %}
    <div style="clear:both">
      {{fields['page_list'].display(limit=limit, page=page, count=count)}}
    </div>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th style="text-align:left">Commit</th>
        <th style="text-align:left">Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for commit in value %}
        {% set cv = commit.value %}
        <tr>
          <td>
            <b>{{h.really_unicode(h.text.truncate(commit.value.message, 75))}}</b><br/>
            {% if cv.committer != cv.author %}
              {% if cv.committer_url %}
                <a href="{{cv.committer_url}}">{{email_gravatar(cv.committer.email, title=cv.committer.name, size=16)}}
                {{cv.committer.name}}</a>
                pushed
              {% else %}
                {{email_gravatar(cv.committer.email, title=cv.committer.name, size=16)}} {{cv.committer.name}}
                pushed
              {% endif %}
            {% endif %}
            <a href="{{cv.url()}}">{{h.text.truncate(cv.hexsha, 10)}}</a>
            {% if cv.author_url %}
              by
              <a href="{{cv.author_url}}">{{email_gravatar(cv.author.email, title=cv.author.name, size=16)}}
              {{cv.author.name}}</a>
            {% else %}
              by
              {{email_gravatar(cv.author.email, title=cv.author.name, size=16)}} {{cv.author.name}}
            {% endif %}
          </td>
          <td>
            {% if cv.committed_datetime %}{{h.ago(cv.committed_datetime)}}{% endif %}
          </td>
          <td style="text-align: right">
            {% if commit.prev %}
              Parent(s):
              {% for ci in commit.prev %}<a href="{{ci.url()}}">{{h.text.truncate(ci._id, 10)}}</a>{% endfor %}
              <br/>
            {% endif %}
            <a href="{{cv.tree().url()}}">Tree</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if show_paging %}
    <div style="clear:both">
      {{fields['page_list'].display(limit=limit, page=page, count=count)}}
      {{fields['page_size'].display(limit=limit)}}
    </div>
  {% endif %}
</div>
