<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     style="background-color:#eee;border-top:1px solid #333;">
  <xi:include href="${g.pyforge_templates}/lib.html"/>
  Commit <a href="${value.url()}">${h.text.truncate(value.sha, 10)}</a>: 
  ${h.ago(value.committed_datetime)}<br/>
  <a href="${value.tree().url()}">Tree</a><br/>
  <py:if test="prev">
    Parent(s):
    <py:for each="ci in prev"><a href="${ci.url()}">${h.text.truncate(ci._id, 10)}</a></py:for>
    <br/>
  </py:if>
  <py:if test="next">
    Child(ren):
    <py:for each="ci in next"><a href="${ci.url()}">${h.text.truncate(ci._id, 10)}</a></py:for>
    <br/>
  </py:if>
  ${Markup(g.markdown.convert(value.message))}
  <p class="gravatar">
    <py:if test="value.author_url is not None">
      <a href="${value.author_url}">${email_gravatar(value.author.email, title=value.author.name)}</a><br/>
      <a href="${value.author_url}">$value.author.name</a> (author)<br/>
    </py:if>
    <py:if test="value.author_url is None">
      ${email_gravatar(value.author.email, title=value.author.name)}<br/>
      $value.author.name (author)<br/>
    </py:if>
    ${h.ago(value.authored_datetime)}      
  </p> 
  <p py:if="value.committer != value.author" class="gravatar">
    <py:if test="value.committer_url is not None">
      <a href="${value.committer_url}">${email_gravatar(value.committer.email, title=value.committer.name)}</a><br/>
      <a href="${value.committer_url}">$value.committer.name</a> (committer)<br/>
    </py:if>
    <py:if test="value.committer_url is None">
      ${email_gravatar(value.committer.email, title=value.committer.name)}<br/>
      $value.committer.name (committer)<br/>
    </py:if>
    ${h.ago(value.committed_datetime)}      
  </p> 
</div>
