<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     class="$css_class"
     style="border:1px solid #ccc"
     py:attrs="attrs">
  <div py:for="f in fields"
       py:with="ctx=c.widget.context_for(f.name)"
       data-name="$f.name">
    <py:if test="f.show_label">
      <div class="span-3 clear"><label>$f.label:</label></div>
      <div class="span-9 last">${f.display(name=ctx['name'], value=ctx['value'])}</div>
    </py:if>
    <py:if test="not f.show_label">
      <div class="span-12 last">${f.display(name=ctx['name'], value=ctx['value'])}</div>
    </py:if>
  </div>
  <div class="span-3 clear"><label>&nbsp;</label></div>
  <div class="span-9 last"><input class="delete" type="button" value="Delete Field"/></div>
  <div class="clear clearfix"/>
</div>
