<span xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">
  <py:for each="i, field in enumerate(c.widget.widget_type.fields)" py:with="ctx=c.widget.context_for(field.name)">
    <div class="row dual">
      <div class="column" style="margin-right:0">
        <label for="${field.name}">${field.label}:</label>
      </div>
      <div class="column" style="margin-left:0">
        ${field.display(**ctx)}
        <py:if test="ctx.errors and field.show_errors"><div class="error">$ctx.errors</div></py:if>
      </div>
    </div>
    <hr/>
  </py:for>
</span>
