<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      method="POST"
      action="$action"
      py:attrs="attrs">
      <xi:include href="${c.app.templates}/lib.html" />


  <div class="span-12 append-1">
    <h1 class="title">
      ${Markup(c.widget.widget_type.display_field_by_idx(0))}
    </h1>
    <hr class="clear clearfix"/>


    <div>
        ${Markup(c.widget.widget_type.display_field_by_idx(1))}
    </div>
    ${Markup(c.widget.widget_type.display_field_by_idx(6))}
    ${Markup(c.widget.widget_type.display_field_by_idx(7))}
    ${Markup(c.widget.widget_type.display_field_by_idx(8))}
    <!-- ${c.attachment_list.display(attachments=list(value.attachments), edit_mode=False)} -->
  </div>

  <div id="sidebar-right" class="span-6 last">
    <div class="span-3 tright"><b>Created by:</b></div>
    <div class="span-3 last gravatar sm">
      <a href="${ticket.reported_by.url()}">${ticket.reported_by.display_name}</a>
    </div>
    <hr class="clear clearfix"/>
    <div class="span-3 tright clear"><b>Created Time:</b></div>
    <div class="span-3 last">
      ${h.ago(ticket.created_date)}
    </div>
    <hr class="clear clearfix"/>
    <div class="span-3 tright clear"><b>Assigned to:</b></div>
    <div class="span-3 last gravatar sm">
      ${Markup(c.widget.widget_type.display_field_by_idx(3))}
    </div>
    <hr class="clear clearfix"/>
    <div class="span-3 tright"><b>Status:</b></div>
    <div class="span-3 last">${Markup(c.widget.widget_type.display_field_by_idx(2))}</div>
    <hr class="clear clearfix"/>
    <div class="span-3 tright"><b>Milestone:</b></div>
    <div class="span-3 last">${Markup(c.widget.widget_type.display_field_by_idx(4))}</div>
    <hr class="clear clearfix"/>
    <py:if test="len(fields) &gt; 9">
    ${Markup(c.widget.widget_type.display_field_by_idx(9, ignore_errors=True))}
    </py:if>
    <div class="span-3 tright"><b>Tags:</b></div>
    <div class="span-3 last">${Markup(c.widget.widget_type.display_field_by_idx(5))}</div>
    <span class="actions clear">
      <br/><br/>
      <a href="${ticket.email_link('#%s' % value.ticket_num)}"><span class="ui-icon ui-icon-mail-closed"></span> Email Ticket</a><br/>
      <a href="${ticket.url()}"><span class="ui-icon ui-icon-search"></span> View this Ticket</a><br/>
      <a href="${ticket.url()}feed.rss"><span class="ui-icon ui-icon-signal-diag"></span> Follow this Ticket</a>
    </span>
  </div>



</form>