<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      method="POST"
      action="$action"
      py:attrs="attrs"
      enctype="multipart/form-data">
      <ol>
        <li>
          <label for="summary">Name:</label>
          ${Markup(c.widget.widget_type.display_field_by_idx(0))}
        </li>
        <li>
          <div class="row dual">
            <div class="column" style="margin-right:0">
              <label for="description">Description:</label>
            </div>
            <div class="column" style="margin-left:0">
              ${Markup(c.widget.widget_type.display_field_by_idx(1))}
            </div>
          </div>
        </li>
        <li>
          <label for="status">Status:</label>
          ${Markup(c.widget.widget_type.display_field_by_idx(2))}
        </li>
        <li>
          <label for="assigned_to">Assigned To:</label>
          ${Markup(c.widget.widget_type.display_field_by_idx(3))}
        </li>
        <!--
        <li>
          <label for="milestone">Milestone:</label>
          ${Markup(c.widget.widget_type.display_field_by_idx(4))}
        </li>
        -->
        <py:if test="len(fields) &gt; 9">
        ${Markup(c.widget.widget_type.display_field_by_idx(9, ignore_errors=True))}
        </py:if>

        <li>
          <div class="row dual">
            <div class="column" style="margin-right:0">
              <label for="tags">Labels:</label>
            </div>
            <div class="column" style="margin-left:0">
              ${Markup(c.widget.widget_type.display_field_by_idx(4))}
            </div>
          </div>
        </li>

        <li>
          <div class="row dual">
            <div class="column" style="margin-right:0">
              <label for="attachment">Add Attachment:</label>
            </div>
            <div class="column" style="margin-left:0">
              ${Markup(c.widget.widget_type.display_field_by_idx(5))}
            </div>
          </div>
        </li>
        <li>
          <label>&nbsp;</label>
          ${Markup(c.widget.widget_type.display_field_by_idx(6))}
        </li>
        ${Markup(c.widget.widget_type.display_field_by_idx(7))}
        ${Markup(c.widget.widget_type.display_field_by_idx(8))}
      </ol>
</form>
