<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      method="POST"
      action="$action"
      py:attrs="attrs">
  <div class="span-3 clear"><label for="summary">Name:</label></div>
  <div class="span-13 last">${Markup(c.widget.widget_type.display_field_by_idx(0))}</div>

  <div class="span-3 clear"><label for="description">Description:</label></div>
  <div class="span-14 last">${Markup(c.widget.widget_type.display_field_by_idx(1))}</div>

  <div class="span-3 clear"><label for="status">Status:</label></div>
  <div class="span-6">${Markup(c.widget.widget_type.display_field_by_idx(2))}</div>

  <div class="span-3"><label for="assigned_to">Assigned To:</label></div>
  <div class="span-4 append-2 last">${Markup(c.widget.widget_type.display_field_by_idx(3))}</div>

  <div class="span-3 clear"><label for="milestone">Milestone:</label></div>
  <div class="span-6">${Markup(c.widget.widget_type.display_field_by_idx(4))}</div>

  <py:if test="len(fields) &lt; 9">
  ${Markup(c.widget.widget_type.display_field_by_idx(9, ignore_errors=True))}
  </py:if>


  <div class="span-3 clear"><label for="tags">Tags</label></div>
  <div class="span-13 last">${Markup(c.widget.widget_type.display_field_by_idx(5))}</div>

  <div class="span-14 push-3 last">${Markup(c.widget.widget_type.display_field_by_idx(6))}</div>
  <div class="clear"></div>
  ${Markup(c.widget.widget_type.display_field_by_idx(7))}
  ${Markup(c.widget.widget_type.display_field_by_idx(8))}
</form>
