<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="${c.app.templates}/lib.html" />

  <?python from pprint import pformat ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${bin.shorthand_id()}</title>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/hilite.css')}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
    <style>
        .hidden { display: None }
        .top-liner { border-top: 1px solid #ccc }
        .bottom-liner { border-bottom: 1px solid #ccc }
    </style>
  </head>

  <body>
    <div class="container">
        <article class="bin">

            <h1>${bin.shorthand_id()}</h1>
            <div>
              <a href="..">PluginRoot</a>
              <a href="edit/">Edit</a>
              <form style="display:inline; float:right"
                    method="GET"
                    action="../search">
                Search: <input name="q"/>
              </form>
            </div>
            <hr/>


            <div id="header" class="span-24 last">
                <h1 class="span-24 last">$bin.summary</h1>
            </div>

            <div class="span-24">
                <div class="span-24">
                    <span class="quiet">terms:</span>
                    <span class="bin-terms">$bin.terms</span>
                </div>

            </div>
            &nbsp;
            <div class="span-24 last custom-fields" py:if="globals.custom_fields">
                <div class="span-24 last quiet prepend-top bottom-liner">Custom Fields</div>
                <div class="span-24 last" py:for="field in globals.custom_fields.split(',')">
                    <span class="span-4"><label>${field}:</label></span>
                    <span class="span-20">${bin.custom_fields.get(field, '')}</span>
                </div>
            </div>
            <hr/>
        </article>
    </div>
  </body>
</html>
