<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.allura_templates}/master.html"/>

  <?python 
from pprint import pformat 
g.register_app_css('css/hilite.css')
g.register_app_css('css/tracker.css')
?>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label / Saved Search Bins</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
  </head>

  <body>
    <h1 class="title">Saved Search Bins</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <py:if test="not len(bins)">No saved search bins have been created yet.</py:if>
          <table py:if="len(bins)">
            <thead>
              <tr>
                <th>Name</th>
                <th>Terms</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="bin-list">
              <tr py:for="bin in bins">
                <td><a href="${bin.url()}">$bin.summary</a></td>
      	  <td>$bin.terms</td>
	  <td><a href="delbin?summary=${bin.summary}" class="btn">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $('tbody.bin-list').children(':even').addClass('even');
  </script>
</html>
