<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.allura_templates}/master.html"/>

  <?python
from pprint import pformat
from allura.lib.security import has_artifact_access
from allura import model as M
from allura.lib.security import has_artifact_access
g.register_app_css('css/hilite.css')
g.register_app_css('css/tracker.css')
    ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label / #$ticket.ticket_num $ticket.summary</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
  </head>

  <body>
    <h1 class="title">Edit ticket #$ticket.ticket_num</h1>
    <div class="actions">
      <py:if test="c.user and c.user != c.user.anonymous()">
	<a href="${ticket.url()}" class="btn ico-l"><b class="ui-icon ui-icon-search"></b> <span>View</span></a>
        ${c.subscribe_form.display(value=subscribed, action='subscribe', style='icon')}
      </py:if>
      <a href="${ticket.url()}feed.rss" class="btn ico"><b class="ui-icon ui-icon-signal-diag"></b> <span>Follow this Ticket</span></a>
    </div>
    ${c.ticket_form.display(action=ticket.url()+'update_ticket_from_widget', value=ticket, ticket=ticket)}
    <div class="content">
      <div class="row dual">
	<div class="column grid_8">
	  &nbsp;
        </div>

        <div id="sidebar-right" class="column grid_4 fright">
          ${c.attachment_list.display(attachments=list(ticket.attachments), edit_mode=has_artifact_access('write', ticket)())}
        </div>  
      </div>
    </div>
  </body>
</html>
