<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="${c.app.templates}/lib.html" />

  <?python
    from pprint import pformat
    from pyforge.lib.security import has_artifact_access
    from pyforge import model as M
    ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>#$ticket.ticket_num $ticket.summary</title>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/hilite.css')}"/>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/tracker.css')}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
  </head>

  <body>
    <h1 class="title">Edit ticket #$ticket.ticket_num</h1>
    ${c.ticket_form.display(action=ticket.url()+'update_ticket_from_widget', user_tags=user_tags, value=ticket)}
    <div class="span-12 push-2">
      ${c.attachment_list.display(attachments=list(ticket.attachments), edit_mode=has_artifact_access('write', ticket)())}
      <div py:if="has_artifact_access('write', ticket)()" class="reply title-pane closed">
        <button class="title">Add Attachment</button>
        <div class="content">
          <form method="post" action="${ticket.url() + 'attach'}" enctype="multipart/form-data">
            ${file_field('file_info', 'File to upload')}
            ${submit_button('Attach file')}
          </form>
        </div>
      </div>
    </div>
    <hr/>
    <!-- <div py:with="thread=ticket.discussion_thread()">
      <h2><a href="${thread.url()}">Discussion</a></h2>
      ${c.thread.display(value=dict(thread=thread))}
    </div> -->
    <script type="text/javascript" src="${g.app_static('js/comments.js')}"/>
  </body>
</html>
