<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="${c.app.templates}/lib.html" />

  <?python from pprint import pformat ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${issue.shorthand_id()}</title>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/hilite.css')}"/>
    <style>
        .hidden { display: None }
        .issue-num { font-size:20pt }
        .top-liner { border-top: 1px solid #ccc }
        .bottom-liner { border-bottom: 1px solid #ccc }
    </style>
  </head>

  <body>
    <div class="container">
        <article class="issue">

            <h1>${issue.shorthand_id()}</h1>
            <div>
              <a href="..">PluginRoot</a>
              Editing
              <form style="display:inline; float:right"
                    method="GET"
                    action="../search">
                Search: <input name="q"/>
              </form>
            </div>
            <hr/>

<form method="POST" action="update_issue">
            <div id="header" class="editable viewing span-24 last">
                <h1 class="viewer span-24 last">$issue.summary</h1>
                <div class="editor">
                    <input name="summary" value="$issue.summary" style="width:98%"/>
                </div>
            </div>

            <div class="span-24">
                <div class="editable viewing span-8">
                    <span class="quiet">owner:</span>
                    <span class="viewer issue-assigned-to">$issue.assigned_to</span>
                    <input name="assigned_to" value="$issue.assigned_to" class="editor"/>
                </div>

                <div class="editable viewing span-8">
                    <span class="quiet">status:</span>
                    <span class="viewer issue-status">$issue.status</span>
                    <select name="status" class="editor">
                        <option value="open">open</option>
                        <option value="unread">unread</option>
                        <option value="accepted">accepted</option>
                        <option value="pending">pending</option>
                        <option value="closed">closed</option>
                    </select>
                </div>

                <div class="span-8 last">
                    <span class="quiet">opened:</span>
                    <span class="issue-create-date">$issue.created_date</span>
                </div>
            </div>

            <div class="span-24 last issue-description">
                <div class="span-24 last quiet prepend-top bottom-liner">Description</div>
                <div class="editable viewing span-24 last">
                    <div class="viewer span-24 last" py:content="Markup(g.markdown.convert(issue.description))"/>
                    <div class="editor">
                        <textarea name="description">$issue.description</textarea>
                    </div>
                </div>
            </div>
<input type="submit" value="submit"/>
</form>
            <hr/>
            <h2>Comments</h2>
            <div class="reply">
              <h3>Make a comment</h3>
              <form class="hidden" method="post" action="comments/reply">
                <textarea rows="4" cols="60" name="text"></textarea><br/>
                <input type="submit"/>
              </form>
            </div>
            <py:for each="cmt in issue.root_comments()">
              ${display_comment(cmt)}
            </py:for>
        </article>
    </div>
  </body>
  <script type="text/javascript" src="${g.app_static('js/comments.js')}"/>
</html>
