<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>ForgeTracker Index Page</title>
    <style type="text/css">
        div.ticket { font-size:160% }
    </style>
  </head>

  <body>
    <div class="container">
        <h1>Welcome to ForgeTracker</h1>
        <h2>Project: $c.project.shortname</h2>
        <div class="ticket-list">
          <py:for each="ticket in tickets">
            <div class="ticket span-24 last">
                <div class="ticket-num span-3"><a href="$ticket.ticket_num/">$ticket.ticket_num</a></div>
                <div class="ticket-status span-3">$ticket.status</div>
                <div class="ticket-summary span-18 last">$ticket.summary</div>
            </div>
          </py:for>
        </div>
        <script type="text/javascript">
            $('div.ticket-list').children(':even').css('background-color', '#eeeeee');
        </script>
    </div>
  </body>
</html>
