<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>ForgeTracker Index Page</title>
  </head>

  <body>
    <div class="container">
        <h1>Welcome to ForgeTracker</h1>
        <h2>Project: $c.project.shortname</h2>
        <div class="issue-list">
          <py:for each="issue in issues">
            <div class="issue">
                <div class="issue-num span-1"><a href="$issue.issue_num">$issue.issue_num</a></div>
                <div class="issue-status span-2">$issue.status</div>
                <div class="issue-summary span-21 last">$issue.summary</div>
            </div>
          </py:for>
        </div>
    </div>
  </body>
</html>
