<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>ForgeTracker Index Page</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
    <style type="text/css">
        div.ticket { font-size:160% }
    </style>
  </head>

  <body>
        <h1 class="title">ForgeTracker for $c.project.shortname</h1>
        ${c.subscribe_form.display(value=subscribed, action='subscribe')}
        <h2 title="!status:closed">Open Tickets</h2>
        <py:if test="not len(tickets)">No open tickets.</py:if>
        <py:if test="count > 500">Too many results.  Showing the first 500 open tickets.</py:if>
        <table py:if="len(tickets)" id="ticket-list">
          <thead>
            <tr>
              <th>Ticket</th>
	          <th>Status</th>
	          <th>Assigned To</th>
              <th py:for="field in sortable_custom_fields">${field.label}</th>
            </tr>
          </thead>
          <tbody class="ticket-list">
            <tr py:for="t in tickets">
              <td><a href="${t.ticket_num}/">[#${t.ticket_num}] ${t.summary}</a></td>
	          <td class="$t.status">$t.status</td>
	          <td py:if="t.assigned_to_id"><a href="${t.assigned_to.url()}">${t.assigned_to.display_name}</a></td>
	          <td py:if="not t.assigned_to_id"></td>
              <td py:for="field_value in t.ordered_custom_field_values">${field_value}</td>
            </tr>
          </tbody>
        </table>
        <h2 py:if="len(changes)">Recent Changes</h2>
        <table py:if="len(changes)">
          <thead>
            <tr>
              <th>Time</th>
              <th>Type</th>
              <th>Ticket</th>
              <th>Summary</th>
            </tr>
          </thead>
          <tbody class="change-list">
            <tr py:for="change in changes">
              <td>${h.ago(change.change_date)}</td>
              <td>$change.change_type</td>
              <td><a href="$change.ticket_num">[#${change.ticket_num}]</a></td>
              <td py:if="len(change.change_text) &gt; 70">${change.change_text[0:70]}...</td>
              <td py:if="len(change.change_text) &lt;= 70">$change.change_text</td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript">
            $('tbody.ticket-list').children(':even').addClass('even');
            $('tbody.change-list').children(':even').addClass('even');
        </script>
  </body>
</html>
