<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.allura_templates}/master.html"/>
  <xi:include href="lib.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label / Markdown Syntax</title>
  </head>

  <body>
    <h1 class="title">Markdown Syntax</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
    <p>You can use
      <a href="http://daringfireball.net/projects/markdown/">MarkDown</a>
      Syntax here</p>
    <h4>Example Input</h4>
    <pre style="background-color:#fff">
# First-level heading

Some *emphasized* and **strong** text

#### Fourth-level heading

</pre>
    <h4>Example Rendering</h4>
    <div style="background-color:#fff">${Markup(g.markdown.convert('''
# First-level heading

Some *emphasized* and **strong** text

#### Fourth-level heading

'''))}</div>
    <a href="http://daringfireball.net/projects/markdown/syntax">More Examples</a>
    </div></div></div>
  </body>
</html>
