<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>New Ticket</title>
</head>

<body>
<h1 class="title">Create a Ticket</h1>
<form method="POST" action="${action}">
  <input type="hidden" name="ticket_num" value=""/>
  <input type="hidden" name="super_id" value="${super_id}"/>
  <div class="span-3"><label for="summary">Name:</label></div>
  <div class="span-15 last"><input name="summary" value=""/></div>
  <div class="span-3"><label for="status">Status:</label></div>
  <div class="span-15 last">
    <select name="status">
      <option py:for="name in globals.status_names.split()" value="$name">$name</option>
    </select>
  </div>
  <div class="span-3"><label for="assigned_to">Assigned To:</label></div>
  <div class="span-15 last">${c.user_select.display(name='assigned_to')}</div>
  <div class="span-3"><label for="description">Description:</label></div>
  <div class="span-15 last">${c.markdown_editor.display(name='description',value='')}</div>
  <div class="span-3"><label for="milestone">Milestone:</label></div>
  <div class="span-15 last">
    <select name="milestone">
      <option value="">None</option>
      <option py:for="name in globals.milestone_names.split()" value="$name">$name</option>
    </select>
  </div>

  <py:if test="globals.custom_fields">
    <py:for each="field in globals.custom_fields">
      <div class="span-3"><label for="${field.name}">${field.label}:</label></div>
      <div class="span-15 last">
        <input py:if="field.type != 'select' and field.type != 'boolean'" name="${field.name}" type="text" value=""/>
        <input py:if="field.type == 'boolean'" name="${field.name}" type="checkbox" value="True"/>
        <select py:if="field.type == 'select'" name="${field.name}">
          <option py:for="option in field.options.split()" value="${option}">$option</option>
        </select>
      </div>
    </py:for>
  </py:if>

  <div class="span-3"><label for="tags">Tags</label></div>
  <div class="span-15 last">${c.user_tag_edit.display(name='tags', user_tags={'tags':[]})}</div>

  <div class="span-15 push-3 last"><input type="submit" value="Create Ticket"/></div>
</form>

</body>
</html>

