<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>New Ticket</title>
</head>

<body>
<h2>Create a Ticket</h2>
<form method="POST" action="${action}">
  <input type="hidden" name="ticket_num" value=""/>
  <input type="hidden" name="super_id" value="${super_id}"/>
  <label for="summary">Name:</label>
  <br/>
  <input name="summary" value=""/>
  <br/>
  <label for="status">status:</label>
  <br/>
  <select name="status">
    <option py:for="name in globals.status_names.split()" value="$name">$name</option>
  </select>
  <br/>
  <label for="description">Description:</label>
  <br/>
  <textarea name="description"></textarea>
  <br/>

  <div py:if="globals.custom_fields">
    <div class="span-24 last quiet prepend-top bottom-liner">Custom Fields</div>
    <div py:for="field in globals.custom_fields">
      <label for="${field.name}">${field.label}:</label>
      <br/>
      <input py:if="field.type != 'select'" name="${field.name}" type="text" value=""/>
      <select py:if="field.type == 'select'" name="${field.name}">
        <option py:for="option in field.options.split()" value="${option}">$option</option>
      </select>
    </div>
  </div>

  ${user_tags_edit('tags', {'tags':[]})}
  <br/>

  <input type="submit" value="Create Ticket"/>
</form>

</body>
</html>

