<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python from pprint import pformat
           from pyforge.lib import helpers?>

  <xi:include href="master.html" />
  <xi:include href="lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Search</title>
  </head>
  <body>
    <h2>Search</h2>
    <form method="GET" action="search">
      <input type="text" name="q" value="$q"/><br/>
      Search history? <input type="checkbox" name="history" checked="${history or None}"/><br/>
      <input type="submit" value="Search"/>
    </form>
    <p py:if="q">
      <form method="GET" action="newbin">
        <input type="submit" value="Save Search"/>
        <input type="hidden" name="q" value="$q"/>
      </form>
    </p>
    <p py:if="count==0 and q">No results.</p>
    <p py:if="count==1 and q">$count result.</p>
    <p py:if="count > 1 and q">$count results.</p>
    <table py:if="count != 0 and q">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Ticket</th>
          <th>Updated</th>
          <th>Status</th>
          <th>Contents</th>
          <th>Assigned To</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="t in tickets">
          <td><input type="checkbox"/></td>
          <td><a href="${t.url()}">#$t.ticket_num $t.summary</a></td>
          <td>${helpers.ago(t.created_date)}</td>
          <td>$t.status</td>
          <td py:if="len(t.description) &gt; 70">${t.description[0:70]}...</td>
          <td py:if="len(t.description) &lt;= 70">$t.description</td>
          <td py:if="t.assigned_to()">${t.assigned_to().display_name}</td>
          <td py:if="not t.assigned_to()">nobody</td>
        </tr>
      </tbody>
    </table>
    <button onclick="location='../edit/'+location.search;">Edit All</button>
  </body>

</html>
