<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python 
from pprint import pformat
from allura.lib.security import has_artifact_access
g.register_app_css('css/tracker.css')
?>
  <xi:include href="master.html" />
  <xi:include href="lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label / Search</title>
  </head>
  <body>
    <h1 class="title">Search $c.app.config.options.mount_point: $q</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <form method="GET" action=".">
            ${c.auto_resize_textarea.display(name='q', value=q,
              attrs={'style':'height:1em; width: 425px; float: left; margin-right: .5em'})}
            <input type="submit" value="Search"/>
          </form>
          <form py:if="q and has_artifact_access('save_searches')()" method="GET" action="../bins/newbin">
            <input type="submit" value="Save Search"/>
            <input type="hidden" name="q" value="$q"/>
          </form>
          <div style="clear:both"/>
          ${c.ticket_search_results.display(solr_error=solr_error,
            count=count,
            limit=limit,
            query=q,
            tickets=tickets,
            sortable_custom_fields=sortable_custom_fields,
            page=page,
            sort=sort)}
          <a href="${tg.url('../edit/', dict(q=q, limit=limit, sort=sort))}"
             class="btn"
             py:if="allow_edit and count != 0">Edit All</a>
        </div>
      </div>
    </div>
  </body>
</html>
