<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python from pprint import pformat?>

  <xi:include href="master.html" />
  <xi:include href="lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/static/Tickets/css/tracker.css"/>
  </head>
  <body>
    <h1 class="title">Search</h1>
    <form method="GET" action=".">
      <input type="text" name="q" value="$q"/><br/>
      Search history? <input type="checkbox" name="history" checked="${history or None}"/><br/>
      <input type="submit" value="Search" class="ui-state-default ui-button ui-button-text"/>
    </form>
    <p py:if="q">
      <form method="GET" action="../bins/newbin">
        <input type="submit" value="Save Search" class="ui-state-default ui-button ui-button-text"/>
        <input type="hidden" name="q" value="$q"/>
      </form>
    </p>
    <p py:if="count==0 and q">No results.</p>
    <p py:if="count==1 and q">$count result.</p>
    <p py:if="count > 1 and q">$count results.</p>
    <table py:if="count != 0 and q">
      <thead>
        <tr>
          <th data-sort="ticket_num_i">Ticket</th>
          <th data-sort="status_s">Status</th>
          <th>Description</th>
          <th data-sort="assigned_to_s">Assigned To</th>
          <th data-sort="mod_date_dt">Updated</th>
          <th py:for="field_name in custom_field_names">${field_name}</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="t in tickets">
          <td><a href="${t.url()}">[#${t.ticket_num}] $t.summary</a></td>
          <td class="${t.status}">${t.status}</td>
          <td>${Markup(g.markdown.convert(h.text.truncate(t.description,70)))}</td>
          <td py:if="t.assigned_to_id">${t.assigned_to.display_name}</td>
          <td py:if="not t.assigned_to_id"></td>
          <td>${h.ago(t.mod_date)}</td>
          <td py:for="field_value in t.ordered_custom_field_values">${field_value}</td>
        </tr>
      </tbody>
    </table>
    <div>
        <span id="first-page" class="nav-button disabled">&lt;&lt;</span>
        <span id="prev-page" class="nav-button disabled">&lt;</span>
        <span id="next-page" class="nav-button disabled">&gt;</span>
        <span id="last-page" class="nav-button disabled">&gt;&gt;</span>
    </div>
    <a href="${tg.url('../edit/', q=q, limit=count)}" py:if="count != 0">Edit All</a>
  </body>
  <script type="text/javascript">
var q="${Markup(q)}", count=$count, limit=$limit, page=$page, sort="${Markup(sort)}";
  </script>
  <script type="text/javascript" src="/static/Tickets/js/ticket-list.js"/>

</html>
