<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="${c.app.templates}/lib.html" />

  <?python from pyforge.lib import helpers?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>#$ticket.ticket_num $ticket.summary</title>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/hilite.css')}"/>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/tracker.css')}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
  </head>

  <body>
      <div class="span-14">
        <div class="span-2">
          ${gravatar(ticket.reported_by().preferences.email_address, size=50)}<br/>
          <py:if test="ticket.assigned_to()">${gravatar(ticket.assigned_to().preferences.email_address, size=50)}</py:if>
        </div>
        <div class="span-12 last">
          <h2 class="ticket_title">#$ticket.ticket_num $ticket.summary</h2>
          Created by <a href="${ticket.reported_by().url()}">${ticket.reported_by().username}</a> ${helpers.ago(ticket.created_date, round=True)}<br/>
          Currently assigned to
          <py:if test="not ticket.assigned_to()">${ticket.assigned_to_name()}</py:if>
          <a py:if="ticket.assigned_to()" href="${ticket.assigned_to().url()}">${ticket.assigned_to_name()}</a>
          <div py:content="Markup(g.markdown.convert(ticket.description))"/>
          ${list_attachments(list(ticket.attachments), False)}
        </div>
      </div>
      <div id="sidebar-right" class="span-5 last">
          <a class="ticket_feed" href="${ticket.url()}feed.rss"><img src="/images/rss.png" alt="subscribe" title="subscribe" width="25" height="25"/></a>
          Status: $ticket.status<br/>
          <div class="tags" py:if="len(ticket.tags)">
            Tags: <span py:for="tag in ticket.tags">$tag.tag ($tag.count) </span>
          </div>
          <py:for each="field in globals.custom_fields or []">
              ${field.label}: ${ticket.custom_fields.get(field.name, '')}<br/>
          </py:for>
          &nbsp;<br/>
          <a href="#comment">Leave a Comment</a><br/>
          <a href="edit">Edit this Ticket</a>
      </div>
    <hr/>
    <h2 id="comment">Comments</h2>
    <div class="reply title-pane closed">
      <h3 class="title">Make a comment</h3>
      <div class="content">
        <form method="post" action="comments/reply">
          <textarea rows="4" cols="60" name="text"></textarea><br/>
          <input type="submit"/>
        </form>
      </div>
    </div>
    <py:for each="cmt in ticket.root_comments()">
      ${display_comment(cmt)}
    </py:for>
  </body>
  <script type="text/javascript" src="${g.app_static('js/comments.js')}"/>
</html>
