<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="${c.app.templates}/lib.html" />

  <?python from pyforge.lib import helpers?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>#$ticket.ticket_num $ticket.summary</title>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/hilite.css')}"/>
    <link rel="stylesheet" type="text/css" href="${g.app_static('css/tracker.css')}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
  </head>

  <body>
    <div id="sidebar-right">
        State: $ticket.status<br/>
        Assigned To: ${ticket.assigned_to_name()}<br/>
        <py:for each="field in globals.custom_fields or []">
            ${field.name}: ${ticket.custom_fields.get(field.name, '')}<br/>
        </py:for>
    </div>
    <div id="ticket_header">
      <div class="reported_by">
        ${gravatar(ticket.reported_by().preferences.email_address, size=50)}<br/>
        ${ticket.reported_by().username}
      </div>
      <div class="information">
        <div style="overflow: auto">
          <h2 class="title">#$ticket.ticket_num $ticket.summary</h2>
          <div class="update_times">
            reported ${helpers.ago(ticket.created_date, round=True)}<br/>
            last updated ${helpers.ago(ticket.last_updated, round=True)}
          </div>
          <a class="feed" href="${ticket.url()}feed.rss"><img src="/images/rss.png" alt="subscribe" title="subscribe" width="25" height="25"/></a>
        </div>
        <div>
          <div class="tags" py:if="len(ticket.tags)">
            Tags: <span py:for="tag in ticket.tags">$tag.tag ($tag.count) </span>
          </div>
        </div>
      </div>
    </div>

    <div py:content="Markup(g.markdown.convert(ticket.description))"/>
    ${list_attachments(list(ticket.attachments), False)}
    <hr/>
    <h2>Comments</h2>
    <div class="reply title-pane closed">
      <h3 class="title">Make a comment</h3>
      <div class="content">
        <form method="post" action="comments/reply">
          <textarea rows="4" cols="60" name="text"></textarea><br/>
          <input type="submit"/>
        </form>
      </div>
    </div>
    <py:for each="cmt in ticket.root_comments()">
      ${display_comment(cmt)}
    </py:for>
  </body>
  <script type="text/javascript" src="${g.app_static('js/comments.js')}"/>
</html>
