<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="${g.allura_templates}/lib.html"/>
  <div py:if="show_paging" style="clear:both">
    ${fields['page_list'].display(limit=limit, page=page, count=count)}
  </div>
  <table>
    <thead>
      <tr>
        <th style="text-align:left">Commit</th>
        <th style="text-align:left">Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="commit in value">
        <td>
          <b>${h.text.truncate(commit.value.message)}</b><br/>
          <a href="${commit.value.url()}">Revision $commit.value.revision.number</a> by
          <a py:if="commit.value.author" href="${commit.value.author.url()}">${commit.value.author.display_name}</a>
          <py:if test="not commit.value.author">$commit.value.author_username</py:if>
        </td>
        <td>${h.ago(commit.value.datetime)}</td>
        <td style="text-align: right"><a href="${commit.value.tree().url()}">Tree</a></td>
      </tr>
    </tbody>
  </table>
  <div py:if="show_paging" style="clear:both">
    ${fields['page_list'].display(limit=limit, page=page, count=count)}
    ${fields['page_size'].display(limit=limit)}
  </div>
</div>