<p id="commit_browser_canvas_message">This commit browser uses JS canvas but unfortunately your browser does not support it.</p>
<div id="graph_holder" class="grid-19">
  <canvas id="commit_highlighter" width="750" height="300"></canvas>
  <canvas id="commit_graph" width="750" height="300"></canvas>
</div>
<div id="commit_view" class="grid-19"><em>Select a commit to view details about it.</em></div>
<!--[if IE]><script type="text/javascript" src="{{g.forge_static('js/excanvas.compiled.js')}}"></script><![endif]-->