<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Git Tree</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="${g.forge_static('css/forge/hilite.css')}" />
  </head>

  <body>
    <div py:if="tree" style="background-color:#ddd;-moz-border-radius:5px;padding:1em;">
      <h1 py:if="tree is None">No files</h1>
      <py:if test="tree is not None">
        <a href="${tree._commit.url()}">@${h.text.truncate(tree._commit._id, 10)}</a>:
        ${path_links(tree.path().split('/')[1:-1])}
        <br/>
        ${c.tree_widget.display(tree=tree)}
      </py:if>
    </div>
  </body>
</html>
