<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>
      $c.project.name / $c.app.config.options.mount_label /
      @${h.text.truncate(tree._commit._id, 10)}: ${path_links(tree.path().split('/')[1:-1])}
    </title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="${g.forge_static('css/forge/hilite.css')}" />
  </head>

  <body>
    <div py:if="tree">
      <h1 class="title" py:if="tree is None">No files</h1>
      <py:if test="tree is not None">
        <h1 class="title"><a href="${tree._commit.url()}">@${h.text.truncate(tree._commit._id, 10)}</a>:
        ${path_links(tree.path().split('/')[1:-1])}</h1>
        <div class="content">
          <div class="row">
            <div class="column grid_12">
              <p py:if="c.app.repo">
                Read access: <code>git clone git://$c.app.repo.scm_url_path</code><br/>
                Read/write access: <code>git clone ssh://${c.user == c.user.anonymous() and 'USERNAME' or c.user.username}@$c.app.repo.scm_url_path</code><br/>
                <form action="${c.app.repo.url()}fork" method="GET">
                  <input type="submit" value="Fork"/>
                </form>
              </p>
              <div style="clear:both;"></div>
              <div class="clip" py:if="tree.readme()">
                <h3><span class="ico-l"><b class="ui-icon ui-icon-document"></b> Read Me</span></h3>
                ${Markup(g.markdown.convert(tree.readme()))}
              </div>
              ${c.tree_widget.display(tree=tree)}
            </div>
          </div>
        </div>
      </py:if>
    </div>
  </body>
</html>
