.ticket_title{
    margin: 0;
}
.ticket_feed{
    float: right;
}
th[data-sort], .nav-button{ cursor: pointer; }
th[data-sort]:hover, .nav-button:hover{ text-decoration: underline; }
.nav-button.disabled{ color: gray; }
.nav-button.disabled:hover{ text-decoration: none; }
.open{ color: green; }
.closed{ color: red; }
.ticket-list td>a {
    display: block;
    width: 100%;
}
