<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.allura_templates}/master_one_col.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $c.app.config.options.mount_label / Link is not configured</title>
  </head>

  <body>
    <h1 class="title">$c.app.config.options.mount_label</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <p>Please log in as the project's administrator and provide a url for this link.</p>
        </div>
      </div>
    </div>
  </body>
</html>
