<form method="{{method}}" action="{{action}}" enctype="multipart/form-data" id="new_forum_form">
  <input type="hidden" name="add_forum.app_id" value="{{app and app.config._id}}">
  <div class="grid-6">
    <label class="cr">Title:</label>
    <input type="text" name="add_forum.name" class="wide"/>
  </div>
  <div class="grid-6">
    <label class="cr">Short Name:</label>
    <input type="text" name="add_forum.shortname" class="wide"/>
  </div>
  <div class="grid-6">
    <label class="cr">Summary:</label>
    <input type="text" name="add_forum.description" class="wide"/>
  </div>
  <div style="clear:both">&nbsp;</div>
  <div class="grid-19">
    <input type="submit" id="new_forum.create" name="new_forum.create" value="Save">
    <a id="add_forum_cancel" class="btn link">Cancel</a>
  </div>
</form>
<script type="text/javascript">
  {% for field in widget.fields %}
    {% set ctx=widget.context_for(field) %}
    {% if ctx.errors and field.show_errors -%}
      window.onload = function(){$('#messages').notify("{{ctx.errors}}", {
        title: 'Error',
        status: 'error'
      });};
    {%- endif %}
  {% endfor %}
</script>
