{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% import 'allura:templates/jinja_master/lib.html' as lib with context %}
<form method="{{method}}" action="{{action}}" enctype="multipart/form-data" id="new_forum_form">
  <input type="hidden" name="add_forum.app_id" value="{{app and app.config._id}}">
  <div class="grid-6">
    <label class="cr">Forum Title:</label>
    <input type="text" name="add_forum.name" style="width:90%" required/>
  </div>
  <div class="grid-6">
    <label class="cr">Short Name (for URL):</label>
    <input type="text" name="add_forum.shortname" style="width:90%" required/>
  </div>
  <div class="grid-7">
    <label class="cr">Summary:</label>
    <input type="text" name="add_forum.description" style="width:90%"/>
  </div>
  <div class="grid-6">
    <label class="cr">Monitoring Email:</label>
    <input type="text" name="add_forum.monitoring_email" style="width:90%"/>
  </div>
  <div class="grid-6">
    <label class="cr">Developer Only:</label>
    <input type="checkbox" name="add_forum.members_only"{% if value and value['members_only'] %} checked{% endif %}>
  </div>
  <div class="grid-7">
    <label class="cr">Anonymous Posts:</label>
    <input type="checkbox" name="add_forum.anon_posts"{% if value and value['anon_posts'] %} checked{% endif %}>
  </div>
  <div style="clear:both">&nbsp;</div>
  <div class="grid-19">
    <input type="submit" id="new_forum.create" name="new_forum.create" value="Create Forum">
    <a id="add_forum_cancel" class="btn link">Cancel</a>
  </div>
  {% if method.upper() == 'POST' %}{{lib.csrf_token()}}{% endif %}
</form>
<script type="text/javascript">
  {% for field in widget.fields %}
    {% set ctx=widget.context_for(field) %}
    {% if ctx.errors and field.show_errors -%}
      window.onload = function(){$('#messages').notify("{{ctx.errors}}", {
        title: 'Error',
        status: 'error'
      });};
    {%- endif %}
  {% endfor %}
</script>
