{% import 'allura:templates/jinja_master/lib.html' as lib with context %}

{{g.markdown.convert(value.description)|safe}}

{% if value.announcements %}
  <h3>Announcements</h3>
  {{widgets.announcements_table.display(value=value.announcements)}}
{% endif %}

{% if value.parent %}
<div class="breadcrumbs" >
  <ul>{{lib.crumbs(value.breadcrumbs())}}</ul>
</div>
{% endif %}

{% if value.subforums %}
  {{widgets.forum_subscription_form.display(
      threads=value.threads,
      value=dict(forums=value.subforums),
      action=value.url() + 'subscribe_subforum')}}
{% endif %}
