<!DOCTYPE html>
<form method="post" action="{{c.project.url()}}admin/{{app.config.options.mount_point}}/update_label">
  {% for o in app.config_options if o.name in ['mount_label'] %}
    <div class="grid-9">
      {% if not allow_config %}
           {{app.config.options.get(o.name, o.default)}}
      {% else%}
        <input id="{{o.name}}" name="{{o.name}}" value="{{app.config.options.get(o.name, o.default)}}">
      {% endif %}  
    </div>
  {% endfor %}
  {% if allow_config %}
    <div class="grid-13">&nbsp;</div>
    <hr>
    <div class="grid-13">&nbsp;</div>
    <div class="grid-13">
      <input type="submit" value="Save"/>
      <a href="#" class="close">Cancel</a>
    </div>
  {% endif %}
</form>
