<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <xi:include href="master.html" />
  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$c.project.name / $app.config.options.mount_label / Permissions</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${g.forge_static('css/forge/accordion.css')}" />
  </head>
  
  <body>
    <h1 class="title">$app.config.options.mount_point Permissions</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <py:if test="not (app.permissions and allow_config)">
            You are not allowed to edit permissions for ${app.config.options.mount_point}.
          </py:if>
          <py:if test="app.permissions and allow_config">
            <div id="acl-admin">
              <py:for each="p in app.permissions" >
                <h3><a href="#" id="permission_$p">$p</a></h3>
                <div>
                  <table>
                    <thead>
                      <tr>
                        <th>Role</th>
                        <th/>
                      </tr>
                    </thead>
                    <tbody>
                      <tr py:for="role in h.make_roles(app.config.acl.get(p, []))">
                        <td>${role.display()}</td>
                        <td>
                          <form method="POST" action="del_perm" style="display:inline">
                            <input type="hidden" name="permission" value="$p"/>
                            <input type="hidden" name="role" value="${role._id}"/>
                          <input type="submit" value="Remove" py:if="role.display() != '*user-'+c.user.username"/>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <form method="POST" action="add_perm">
                    <input type="hidden" name="permission" value="$p"/>
                    <select name="role">
                      <option py:for="role in c.project.roles"
                              value="$role._id"
                              >${role.display()}</option>
                    </select>
                    <input type="submit" value="Add role"/>
                  </form>
                </div>
              </py:for>
            </div>
        	</py:if>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    $(function() {
      $("#acl-admin").accordion({
        autoHeight: false,
        navigation: true,
        change: function(event,ui) {
          var hid = ui.newHeader.children('a').attr('id');
          if (hid === undefined) {
            $.cookie('app-acl-admin', null);
          } else {
            $.cookie('app-acl-admin', hid, { path: '/', expires: 2 });
          }
        }
      });
    });
    $(document).ready(function(){
      if($.cookie('app-acl-admin')) {
      $('#acl-admin').accordion('option', 'animated', false)
                     .accordion('activate', $('#' + $.cookie('app-acl-admin')).parent('h3'))
                     .accordion('option', 'animated', 'slide');
      }
    });
</script>
</html>
