{% extends g.theme.master %}

{% block title %}Award{% endblock %}

{% block header %}Award{% endblock %}

{% block content %}
          <table border="1">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Abbreviation</th>
                <th>Description</th>
                <th>Delete?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {% if award.icon %}
                    <img class="award_icon" src="icon"/>
                  {% endif %}
                </td>
                <td><a href="{{award.longurl()}}">{{award.short}}</a></td>
                <td>{{award.full}}</td>
                <td><a href="{{award.longurl()}}/delete">[X]</a></td>
              </tr>
            </tbody>
          </table>
          <a href="..">&#060;&#060; Back</a>
{% endblock %}
