{% extends 'jinja_master/master.html' %}

{% block title %}Award List{% endblock %}

{% block header %}Current Awards{% endblock %}

{% block content %}
<br /><br />
          <div id="award_list">
            <table border="1">
              <thead>
                <tr>
                  <th>Icon</th>
                  <th>Abbreviation</th>
                  <th>Description</th>
                  <th>Delete?</th>
                </tr>
              </thead>
              <tbody>
                {% for award in awards %}
                  <tr>
                    <td>
                      {% if award.icon %}
                        <img class="award_icon" src="{{award.url()}}/icon"/>
                      {% endif %}
                    </td>
                    <td><a href="{{award.longurl()}}">{{award.short}}</a></td>
                    <td>{{award.full}}</td>
                    <td><a href="{{award.longurl()}}/delete">[X]</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a href="..">&#060;&#060; Back</a>
{% endblock %}
