{% extends g.theme.master %}

{% block title %}OpenId Claim Form{% endblock %}

{% block header %}OpenId Claim Form{% endblock %}

{% block content %}
          <div id="loginform_oid">
            <form action="claim_verify_oid" method="post" class="loginfields">
              <label for="provider">Provider</label>
              <select id="provider" name="provider">
                {%- for label, url in oid_providers %}
                  <option value="{{url}}">{{label}}</option>
                {%- endfor %}
              </select>
              <br/>
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" class="text"/><br/>
              <input type="submit" id="submit" value="Claim" />
            </form>
          </div>
{% endblock %}
