{% extends 'jinja_master/master.html' %}

{% block title %}Grants List{% endblock %}

{% block header %}Grants List{% endblock %}

{% block content %}
          <div id="award_list">
            <table border="1">
              <thead>
                <tr>
                  <th>Award</th>
                  <th>Recipient</th>
                  <th>Delete?</th>
                </tr>
              </thead>
              <tbody>
                {% for grant in grants %}
                  <tr>
                    <td><a href="{{grant.longurl()}}">{{grant.award.short}}</a></td>
                    <td><a href="{{grant.granted_to_project.url()}}">{{grant.granted_to_project.shortname}}</a></td>
                    <td><a href="{{grant.longurl()}}/revoke">[X]</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a href="..">&#060;&#060; Back</a>
{% endblock %}
