{% set hide_left_bar = True %}
{% extends 'jinja_master/master.html' %}

{% block title %}Login Form{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
        <div id="loginform" class="span-18 last">
          <form action="/auth/do_login" method="post" class="loginfields">
            <input type="hidden" name="return_to" value="{{return_to}}"/>
            <h2><span>Password Login</span></h2>
            <ol>
              <li>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"/>
              </li>
              <li>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/>
              </li>
              <li>
                <label>&nbsp;</label>
                <input type="submit" id="submit" value="Login"/>
              </li>
            </ol>
          </form>
        </div>

        <br />
        
        <div id="loginform_oid" class="span-18 last">
          <form action="/auth/login_verify_oid" method="post" class="loginfields">
            <input type="hidden" name="return_to" value="{{return_to}}"/>
            <h2><span>OpenID Login</span></h2>
            <ol>
              <li>
                <label for="provider">Provider</label>
                <select id="provider" name="provider">
                  {%- for label, url in oid_providers %}
                    <option value="{{url}}">{{label}}</option>
                  {%- endfor %}
                </select>
              </li>
              <li>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"/>
              </li>
              <li>
                <label>&nbsp;</label>
                <input type="submit" id="submit" value="Login"/>
              </li>
            </ol>
          </form>
        </div>
{% endblock %}
