<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">
  <?python g.resource_manager.register_widgets(c) ?>
  <xi:include href="header.html" />
  <xi:include href="sidebars.html" />
  <xi:include href="footer.html" />
  <xi:include href="lib.html" />
  <xi:include href="neighborhood_project_lib.html" py:if="c.project and c.project.shortname=='--init--'"/>
  <head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <py:for each="blob in g.resource_manager.emit('head_css')">$blob</py:for>
    <py:for each="blob in g.resource_manager.emit('head_js')">$blob</py:for>
    <?python neighborhood = 'neighborhood' in locals() and neighborhood or None ?>
    <link py:if="not c.project and not neighborhood" rel="stylesheet" type="text/css" media="screen" href="${tg.url('/nf/site_style.css')}" />
    <link py:if="c.project" rel="stylesheet" type="text/css" media="screen" href="${c.project.neighborhood.url()+'site_style.css'}" />
    <link py:if="neighborhood" rel="stylesheet" type="text/css" media="screen" href="${neighborhood.url()+'site_style.css'}" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32013-6'], ['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();
    </script>
  </head>

  <body py:match="body" py:attrs="select('@*')" xml:space="preserve">
    <py:for each="blob in g.resource_manager.emit('body_top_js')">$blob</py:for>
    ${main_menu()}
    <div class="container${g.document_class(neighborhood)}">
			<div id="header">
	      <div class="row">
          ${nav_menu()}
				</div>
			</div>
      <div id="section">
        ${top_nav()}
				<div class="row base">
          <div class="column grid_12 pad">
              <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
                <div py:if="flash" py:content="XML(flash)" />
              </py:with>
              <ul py:for="n in h.pop_user_notifications()" style="clear:both" class="notice">
                $n.text
              </ul>
              <div py:replace="select('*|text()')"/>
          </div>
        </div>
      </div>
      ${footer()}
    </div>
    <script type="text/javascript" src="${g.forge_static('js/jquery-base.js')}"></script>
    <script type="text/javascript" src="${g.forge_static('js/allura-base.js')}"/>
    <py:for each="blob in g.resource_manager.emit('body_js')">$blob</py:for>
    <!-- Collective tag -->
    <img src="//b.collective-media.net/seg/cm/cm_aa_gn1" width="1" height="1" alt=""/>
    <!-- End Collective tag -->


    <!-- Quantcast -->
    <script type="text/javascript">
      _qoptions={qacct:"p-93nPV3-Eb4x22"};
    </script>
    <script type="text/javascript" src="//secure.quantserve.com/quant.js"></script>
    <noscript><img src="//secure.quantserve.com/pixel/p-93nPV3-Eb4x22.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></noscript>
    <!-- End Quantcast tag -->


    <!-- Begin comScore Tag -->
    <script type="text/javascript">
      document.write(unescape("%3Cscript src='" + (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js' %3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      COMSCORE.beacon({
        c1:2,
        c2:6035546,
        c3:"",
        c4:"",
        c5:"",
        c6:"",
        c15:""
      });
    </script>
    <noscript>
      <img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=6035546&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cj=1" alt="comScore2" />
    </noscript>
    <!-- End comScore Tag -->
  </body>
</html>
