<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">
  <?python 
g.register_forge_js('js/jquery-base.js')
g.register_forge_js('js/allura-base.js')
if g.production_mode: g.register_forge_js('js/analytics.js')
g.resource_manager.register_widgets(c) 
?>
  <xi:include href="header.html" />
  <xi:include href="sidebars.html" />
  <xi:include href="footer.html" />
  <xi:include href="lib.html" />
  <xi:include href="neighborhood_project_lib.html" py:if="c.project and c.project.shortname=='--init--'"/>
  <head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <py:for each="blob in g.resource_manager.emit('head_css')">$blob</py:for>
    <py:for each="blob in g.resource_manager.emit('head_js')">$blob</py:for>
    <?python neighborhood = 'neighborhood' in locals() and neighborhood or None ?>
    <link py:if="not c.project and not neighborhood" rel="stylesheet" type="text/css" media="screen" href="${tg.url('/nf/site_style.css')}" />
    <link py:if="c.project" rel="stylesheet" type="text/css" media="screen" href="${c.project.neighborhood.url()+'site_style.css'}" />
    <link py:if="neighborhood" rel="stylesheet" type="text/css" media="screen" href="${neighborhood.url()+'site_style.css'}" />
  </head>

  <body py:match="body" py:attrs="select('@*')" xml:space="preserve">
    <py:for each="blob in g.resource_manager.emit('body_top_js')">$blob</py:for>
    ${main_menu()}
    <div class="container${g.document_class(neighborhood)}">
			<div id="header">
	      <div class="row">
          ${nav_menu()}
				</div>
			</div>
      <div id="section">
        ${top_nav()}
				<div class="row base">
          <div class="column grid_12 pad">
              <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
                <div py:if="flash" py:content="XML(flash)" />
              </py:with>
              <ul py:for="n in h.pop_user_notifications()" style="clear:both" class="notice">
                $n.text
              </ul>
              <div py:replace="select('*|text()')"/>
          </div>
        </div>
      </div>
      ${footer()}
    </div>
    <py:for each="blob in g.resource_manager.emit('body_js')">$blob</py:for>
    <py:for each="blob in g.resource_manager.emit('body_js_tail')">$blob</py:for>
    <!--! Analytics holder and noscript tag -->
    <div id="analytics"/>
    <noscript py:if="g.production_mode">
      <img src="//secure.quantserve.com/pixel/p-93nPV3-Eb4x22.gif" 
           style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
      <img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=6035546&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cj=1" alt="comScore2" />
    </noscript>
    <!--! End analytics -->
  </body>
</html>
