{% set hide_left_bar = True %}
{% extends 'jinja_master/master.html' %}

{% block title %}{{neighborhood.name}} / Moderate{% endblock %}

{% block header %}{{neighborhood.name}} Moderation{% endblock %}

{% block nav_menu %}
{% include 'jinja_master/neigh_nav_menu.html' %}
{% endblock %}

{% block top_nav %}
{% include 'jinja_master/neigh_top_nav.html' %}
{% endblock %}

{% block content %}
          <div>
            <h2>Invite Projects?</h2>
            <form method="POST" action="invite">
              <label for="pid">Project Shortname</label>
              <input name="pid"/>
              <input type="submit" name="invite" value="Invite!"/>
              <input type="submit" name="uninvite" value="Cancel Invitation!"/>
            </form>
          </div>
          
          <br/><br/>

          <div>
            <h2>Evict Projects?</h2>
            <form method="POST" action="evict">
              <select name="pid">
                {% for p in neighborhood.projects if p.is_root and p.shortname != '--init--' %}
                  <option value="{{p.shortname}}">
                    {{p.name}} ({{p.shortname}})
                  </option>
                {% endfor %}
              </select>
              <input type="submit" value="Evict!"/>
            </form>
          </div>
{% endblock %}
