{% extends g.theme.master %}

{% block title %}{{neighborhood.name}} / Overview{% endblock %}

{% block header %}Administration Overview for {{neighborhood.name}}{% endblock %}

{% block nav_menu %}
{% include 'allura:templates/jinja_master/neigh_nav_menu.html' %}
{% endblock %}

{% block top_nav %}
{% include 'allura:templates/jinja_master/neigh_top_nav.html' %}
{% endblock %}

{% block content %}
    {{c.overview_form.display(value=neighborhood)}}
{% endblock %}

{% block extra_css %}
  <style type="text/css">
    .grid-14 input[type="text"], .grid-14 select, .grid-14 textarea{
      width: 95%
    }
  </style>
{% endblock %}
