{% extends g.theme.master %}

{% do g.register_forge_css('css/forge/deck.css') %}

{% block top_nav %}
    {% include 'allura:templates/jinja_master/neigh_top_nav.html' %}
{% endblock %}

{% block title %}Neighborhood Statistics{% endblock %}

{% block header %}Neighborhood Statistics{% endblock %}

{% block content %}
  <div class="nested-grid-container">
    <span class="grid-prefix-1 grid-9 installable_tool">
      <b>Projects</b>
    </span>
    <span class="grid-9 installable_tool">
      <b>Last updated</b>
    </span>
    <span class="grid-prefix-1 grid-9 installable_tool">
    {% if h.asbool(config.get('allow_project_delete', True)) %}
      Deleted: {{ delete_count }}
    {% endif %}
    </span>
    <span class="grid-9 installable_tool">
      Last 30 days: {{ last_updated_30 }}
    </span>
    <span class="grid-prefix-1 grid-9 installable_tool">
      Public: {{ public_count }}
    </span>
    <span class="grid-9 installable_tool">
      Last 60 days: {{ last_updated_60 }}
    </span>
    <span class="grid-prefix-1 grid-9 installable_tool">
      Private: {{ private_count }}
    </span>
    <span class="grid-9 installable_tool">
      Last 90 days: {{ last_updated_90 }}
    </span>
    <br style="clear:both"/>
    <span class="grid-prefix-1 grid-9 installable_tool">
      <a href="adminlist">Admins list</a>
    </span>
  </div>

{% endblock %}
