{% set hide_left_bar = not neighborhood.allow_browse %}
{% extends g.theme.master %}

{% block title %}{{neighborhood.name}} / {{title}}{% endblock %}

{% block extra_css %}
  {% if neighborhood.allow_browse %}
    <style type="text/css">
    #section .base .pad{
      background-color: inherit;
      border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
      box-shadow: rgba(0,0,0, 0) 0 0 0;
        -moz-box-shadow:  rgba(0,0,0, 0) 0 0 0;
        -webkit-box-shadow:  rgba(0,0,0, 0) 0 0 0;
    }
    </style>
  {% endif %}
{% endblock %}

{% block nav_menu %}
{% include 'allura:templates/jinja_master/neigh_nav_menu.html' %}
{% endblock %}

{% block top_nav %}
{% include 'allura:templates/jinja_master/neigh_top_nav.html' %}
{% endblock %}

{% block inner_grid %}{% endblock %}

{% block content %}
    {% if neighborhood.homepage %}
      {{neighborhood.homepage|safe}}
    {% endif %}
    {% if neighborhood.allow_browse %}
      {% if not projects %}
        <p>No projects found</p>
      {% else %}
      <div class="list">
        {{c.page_list.display(limit=limit, page=page, count=count)}}
        <div style="clear:both"></div>
        {% for project in projects %}
          {% do g.set_project(project.shortname) %}
          {% if h.has_project_access('read', project)() %}
            {{c.project_summary.display(value=project)}}
          {% endif %}
        {% endfor %}
        <div style="clear:both"></div>
        {{c.page_list.display(limit=limit, page=page, count=count)}}
      </div>
      {% endif %}
    {% endif %}
{% endblock %}
