{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% set hide_left_bar = True %}
{% extends g.theme.master %}
{% set legacy_chrome = False %}
{% block extra_css %}
<style>
.pad{ min-height: 0 }
.flex-container{ display: flex; justify-content: center; align-items: center; flex-direction: column; }
.extra-pad{ padding: 10px; }
</style>
{% endblock %}
{% block title %} Authorize third-party application? {% endblock %}

{% block header %}Authorize third party application{% endblock %}
{% block header_classes %} title {% endblock %}


{% block content %}
<div class="extra-pad">
<h3>
  The application "<strong>{{ client.name }}</strong>" wants to access your account.
</h3>

<p>
  If you grant them access, they will be able to perform any actions on
  the site as though they were logged in as you.  Do you wish to grant
  them access?
</p>

<br style="clear:both"/>
<div class="flex-container">
    <p><strong>App Name:</strong> {{client.name}}</p>
    <p><strong>Description:</strong> <br> {{client.description_html}}</p>
</div>
<br style="clear:both"/>
<div class="flex-container">
    <form method="POST" action="do_authorize">
      <input type="hidden" name="client_id" value="{{client.client_id}}"/>
      <input type="hidden" name="credentials" value="{{credentials}}"/>
      <input type="submit" class="submit" style="background: #ccc;color:#555" name="no" value="No, do not authorize {{ client.name }}">
      <input id="authorize-ok" type="submit" class="button" name="yes" value="Yes, authorize {{ client.name }}"><br>
      {{lib.csrf_token()}}
    </form>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(function() {
    $('#authorize-ok').click(function() {
      $(this).attr('disabled', 'disabled');
      $(this).attr('value', 'Authorizing {{ client.name }}...');
      $(this).closest('form').submit();
    });
  })
</script>
{% endblock %}
