{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}{{ config['site_name'] }} - Reconfirm Password{% endblock %}

{% block header %}Reconfirm Your Password{% endblock %}

{% block content %}
<form method="post">
    <h2>Password Confirmation</h2>
    <p>To access this account security page, you must reconfirm your password:<br>
    {% if c.form_errors['password'] %}
        <span class="fielderror">{{ c.form_errors['password'] }}</span><br>
    {% endif %}
    <input type="password" name="password" autofocus>
    <br>
    <input type="submit" value="Submit">

    {# include any post params again, so that their original form submit can go through successfully #}
    {% for key, val in request.POST.items() %}
        {% if key != 'password' %}
            <input type="hidden" name="{{ key }}" value="{{ val }}">
        {% endif %}
    {% endfor %}

    {{ lib.csrf_token() }}
    </p>
</form>
{% endblock %}
