{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}{{c.project.name}} / Search{% endblock %}

{% block header %}Search Project: {{q}}{% endblock %}

{% block content %}
  <div class="grid-24">
  <form method="GET" action="search">
    <input type="text" name="q" value="{{q}}" class="title"/><br/>
    Search history? <input type="checkbox" name="history" {% if history %}checked{% endif %}/><br/>
    &nbsp;<br/>
    <input type="submit" value="Search"/>
  </form>
  {% if count == 0 and q %}
    <p>No results.</p>
  {% elif count == 1 and q %}
    <p>{{count}} result.</p>
  {% elif count > 1 and q %}
    <p>{{count}} results.</p>
  {% endif %}
  <hr/>
  </div>

  <div class="grid-24">
  <ol>
  {% for doc in results %}
  <li>
    <a href="{{doc['url_s']}}">{{doc.title_s}}</a>
    {% if doc.get('snippet') %}
      <p>{{doc['snippet']|safe}}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ol>
  </div>
{% endblock %}
