{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}{{c.project.name}} / Search{% endblock %}

{% block header %}Search Project: {{q}}{% endblock %}

{% block content %}
  <div class="grid-24">
  <form method="GET" action="search">
    <input type="text" name="q" value="{{q}}" class="title"/><br/>
    Search history? <input type="checkbox" name="history" {% if history %}checked{% endif %}/><br/>
    &nbsp;<br/>
    <input type="submit" value="Search"/>
  </form>
  {% if count == 0 and q %}
    <p>No results.</p>
  {% elif count == 1 and q %}
    <p>{{count}} result.</p>
  {% elif count > 1 and q %}
    <p>{{count}} results.</p>
  {% endif %}
  <hr/>
  </div>

  <div class="grid-24">
  <ol>
  {% for doc in results %}
  <li>
    <a href="{{doc['url_s']}}">
       {{- h.get_first(doc, 'title') or h.get_first(doc, 'title_s') -}}  {#-  title_s is legacy -#}
    </a>
    {% if doc.get('snippet') %}
      <p>{{doc['snippet']|safe}}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ol>
  </div>
{% endblock %}
