{% extends 'jinja_master/master.html' %}

{% block title %}Login Form{% endblock %}

{% block header %}Choose Login Name{% endblock %}

{% block content %}
          <div id="loginform">
            <form method="POST" action="do_setup_openid_user">
              <label for="username">Login Name:</label>
              <input id="username" name="username"/>
              <br />
              <label for="display_name">Displayed Name:</label>
              <input id="display_name" name="display_name"/>
              <br />
              <input type="submit" value="Setup Account"/>
            </form>
          </div>
{% endblock %}
