{% extends g.theme.master %}

{% block title %}Login Form{% endblock %}

{% block header %}Choose Login Name{% endblock %}

{% block content %}
  <div id="loginform">
    <form method="POST" action="do_setup_openid_user">
      <label for="username" class="grid-4">Login Name:</label>
      <div class="grid-18"><input id="username" name="username"/></div>
      <label for="display_name" class="grid-4">Displayed Name:</label>
      <div class="grid-18"><input id="display_name" name="display_name"/></div>
      <label class="grid-4">&nbsp;</label>
      <div class="grid-18"><input type="submit" value="Setup Account"/></div>
    </form>
  </div>
{% endblock %}
