{% set page="cpa_stats" %}
{% extends 'site_admin.html' %}

{% block content %}

<form method="GET" action="cpa_stats">
<h1>CPAs since <input type="text" name="since" value="{{since.strftime('%m/%d/%Y')}}"></h1>
</form>
<table>
  <thead>
    <tr>
      <th>Tool Name</th>
      <th>Class Name</th>
      <th>Create</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>
  </thead>
  {% for r in stats %}
  <tr>
    <td>{{r.tool_name}}</td>
    <td>{{r.class_name}}</td>
    <td>{{r.create}}</td>
    <td>{{r.modify}}</td>
    <td>{{r.delete}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
