{% set page="stats" %}
{% extends 'allura:templates/site_admin.html' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Ming</th>
      <th>Mongo</th>
      <th>Render</th>
      <th>Template</th>
      <th>Total Time</th>
    </tr>
    <tr>
      <th>Mean</th>
        <td>{{agg_timings.ming}}</td>
        <td>{{agg_timings.mongo}}</td>
        <td>{{agg_timings.render}}</td>
        <td>{{agg_timings.template}}</td>
        <td>{{agg_timings.total}}</td>
    </tr>
  </thead>
  {% for url,timers in stats %}
  <tr>
    <td>{{url}}</td>
    <td>{{timers.get('ming')}}</td>
    <td>{{timers.get('mongo')}}</td>
    <td>{{timers.get('render')}}</td>
    <td>{{timers.get('template')}}</td>
    <td>{{timers.get('total')}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
