{% set hide_left_bar=False %}
{% extends g.theme.master %}

{% block title %}Forge Site Admin{% endblock %}
{% block header %}Forge Site Admin{% endblock %}

{% block nav_menu %}
  <h1 class="project_title">Site Admin</h1>
{% endblock %}

{% block sidebar_menu %}
<div id="sidebar">
  <div>&nbsp;</div>
  <ul>
    <li class="{{page=='index' and 'active' or ''}}"><a href="."><b data-icon="{{g.icons['admin'].char}}" class="ico {{g.icons['admin'].css}}"></b>Home</a></li>
    <li class="{{page=='stats' and 'active' or ''}}"><a href="stats"><b data-icon="{{g.icons['stats'].char}}" class="ico {{g.icons['stats'].css}}"></b>Stats</a></li>
    <li class="{{page=='api_tickets' and 'active' or ''}}"><a href="api_tickets"><b data-icon="{{g.icons['admin'].char}}" class="ico {{g.icons['admin'].css}}"></b>API Tickets</a></li>
  </ul>
</div>
{% endblock %}

{% block inner_grid %}{% endblock %}
