{% set page="add_subscribers" %}
{% extends 'allura:templates/site_admin.html' %}

{% block content %}
<h1>Add Subscribers to Artifact</h1>
<form name="add_subscriber" method="POST">
    <table>
        <tr>
            <td>Username:</td> <td><input name="for_user" type="text" value="{{for_user}}"></td>
        </tr>
        <tr>
            <td>Artifact Url:</td> <td><input name="artifact_url" type="text" value="{{artifact_url}}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
{% endblock %}
