{% set hide_left_bar=True %}
{% extends g.theme.master %}

{% block title %}Forge Site Admin{% endblock %}

{% block nav_menu %}
<div class="column grid_1">
  <img src="{{g.forge_static('images/project_default.png')}}" class="project_icon"/>
</div>
<div class="column grid_9">
  <h1>Site Admin</h1>
</div>
<div class="column grid_2">&nbsp;</div>
{% endblock %}

{% block top_nav %}
<div class="row project">
  <div class="column grid_9">
    <ul class="ui-tab">
      <li class="{{page=='index' and 'active' or ''}}"><a href="." class="ico-l"><b class="ui-icon ui-icon-gear"></b>Home</a>
      <li class="{{page=='stats' and 'active' or ''}}"><a href="stats" class="ico-l"><b class="ui-icon ui-icon-gear"></b>Stats</a>
    </ul>
  </div>
</div>
{% endblock %}

{% block inner_grid %}{% endblock %}
