{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}{{c.user.username}} / Preferences{% endblock %}

{% block header %}User Preferences for {{c.user.username}}{% endblock %}

{% block content %}
  <ul id="account-nav-menu" class="b-hornav droppy">
      {% for item in menu -%}
      <li id="{{ item.tabid }}">
      <a href="{{ item.target }}">
          {{ item.title }}
          <div class="marker{% if item.target.rstrip('/') == request.path.rstrip('/') %} current{% endif %}"></div>
      </a>
      </li>
      {%- endfor %}
   </ul>

  <div style="clear:both" class="grid-20">
    <h2>Personal Information</h2>
    {{g.theme.personal_data_form.display(action="/auth/user_info/change_personal_data", user=c.user)}} 
  </div>

  <a name="Contacts"></a>
  <div style="clear:both" class="grid-20">
    <h2>Personal Contacts</h2>
    <p>
      If you want, you can set your contacts allowing other members to contact you or you can set your personal website allowing other members to introduce your self.
    </p>
    <ul><li><a href="contacts">Click here to check and change your contacts</a></li></ul>
  </div>

  <a name="Availability"></a>
  <div style="clear:both" class="grid-20">
    <h2>Availability</h2>
    <p>
      If you want, you can set the weekly timeslot during which you are usually available to support other users of the forge. (If you didn't set any timezone, your timeslots could be meaningless to other users, therefore they will be ignored!)
    </p>
    <ul><li><a href="availability">Click here to check and change your availability slots</a></li></ul>
  </div>

  <div class="grid-20">
    <h2>Skills list</h2>
    <ul><li><a href="skills">Click here to check and change your skills list</a></li></ul>
  </div>
{% endblock %}
