{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block content %}
  <h2>Log for {{day.strftime('%Y-%m-%d')}}</h2>
  <div class="grid-19">
    <a href="{{prev}}">Earlier</a>...
    <a href="{{next}}">Later</a>
  </div>
  <ul>
    {% for msg in messages %}
    <li id="{{msg._id}}">
      {{msg.html_text|safe}}
    </li>
    {% endfor %}
  </ul>
{% endblock %}
