{% extends g.theme.master %}
{% import "forgechat:templates/chat/chat_lib.html" as clib %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block content %}
  {{ clib.checkout_info(c.app) }}
  <ul>
    {% for msg in messages %}
    <li>
      {{msg.timestamp.isoformat(' ')}}: {{msg.sender.split('!')[0]}}: {{msg.text}}
    </li>
    {% endfor %}
  </ul>
{% endif %}
