{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block content %}
  <p>
    {{ c.project.name }} / {{c.app.config.options.mount_label }} is
    hosted on FreeNode IRC channel
    <a href="http://webchat.freenode.net/?channels=allura">#allura</a>
  </p>
  <ul>
    {% for msg in messages %}
    <li>
      {{msg.timestamp.isoformat(' ')}}: {{msg.sender.split('!')[0]}}: {{msg.text}}
    </li>
    {% endfor %}
  </ul>
{% endif %}
