{% from 'jinja_master/lib.html' import email_gravatar with context %}
<div>
  {% if show_paging %}
    <div style="clear:both">
      {{fields['page_list'].display(limit=limit, page=page, count=count)}}
    </div>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th style="text-align:left">Commit</th>
        <th style="text-align:left">Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for commit in value %}
        {% set cv = commit.value %}
        <tr>
          <td>
            <b>{{h.text.truncate(h.really_unicode(commit.value.message), 75)}}</b><br/>
            <a href="{{cv.url()}}">Revision {{cv.revision.number}}</a> by
            {% if cv.author %}
              <a href="{{cv.author.url()}}">{{cv.author.display_name}}</a>
            {% else %}
              {{commit.value.author_username}}
            {% endif %}
          </td>
          <td>
            {% if cv.datetime %}{{h.ago(cv.datetime)}}{% endif %}
          </td>
          <td style="text-align: right">
            <a href="{{cv.tree().url()}}">Tree</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if show_paging %}
    <div style="clear:both">
      {{fields['page_list'].display(limit=limit, page=page, count=count)}}
      {{fields['page_size'].display(limit=limit)}}
    </div>
  {% endif %}
</div>
