{% extends 'jinja_master/master.html' %}

{% block title %}
  {{c.project.name}} / {{c.app.config.options.mount_label}} / Commit {{h.text.truncate(commit.hexsha, 10)}}
{% endblock %}

{% block header %}Commit <a href="{{commit.url()}}">{{h.text.truncate(commit.hexsha, 10)}}</a>{% endblock %}

{% block content %}
{{c.revision_widget.display(value=commit, prev=prev, next=next)}}
<table>
  <tbody>
    {% for kind, path in commit.diff_summarize() %}
      <tr>
        <td>{{kind}}</td>
        <td><a href="./tree/{{h.really_unicode(path)}}">{{h.really_unicode(path)}}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}