{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends g.theme.master %}
{% import 'allura:templates/jinja_master/lib.html' as lib with context %}
{% do g.register_app_css('css/tracker.css') %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / {{field.label}} {{milestone.name}}{% endblock %}

{% block header %}{{field.label}} {{milestone.name}}{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, follow">
    {{ lib.canonical_tag(page) }}
    {{ lib.pagination_meta_tags(request, page, count, limit) }}
{% endblock %}

{% block actions %}
{{ lib.maximize_content_button() }}
{% if allow_edit %}
  {% set bulk_edit_url = tg.url(c.app.url+'edit/', dict(q=q, limit=limit, sort=url_sort, page=page, filter=filter)) %}
  {{ g.icons['edit'].render(href=bulk_edit_url, title='Bulk Edit') }}
{% endif %}
{% if allow_move %}
  {% set bulk_move_url = tg.url(c.app.url + 'move/', dict(q=q, limit=limit, sort=url_sort, page=page, filter=filter)) %}
  {{ g.icons['move'].render(href=bulk_move_url, title='Bulk Move', show_title=True) }}
{% endif %}
{% endblock %}

{% block edit_box %}
<div class="editbox">
    <div class="grid-6">
      <label>Status:</label> {{milestone.complete and 'Closed' or 'Open'}}
    </div>
    <div class="grid-6">
      <label>Due Date:</label> {{milestone.due_date or 'N/A'}}
    </div>
    <div class="grid-6">
      <label>Progress:</label> {{closed}} / {{total}}
    </div>
</div>
{% endblock %}

{% block content %}
    {%if h.has_access(c.app, 'delete') and c.app.globals.has_deleted_tickets()%}
        <p>
            {%if deleted%}
                <a href="{{tg.url('', dict(q=q, page=page, limit=limit, sort=sort, deleted=False))}}">Hide deleted tickets</a>
            {%else%}
                <a  href="{{tg.url('', dict(q=q, page=page, limit=limit, sort=sort, deleted=True))}}">Show deleted tickets</a>
            {%endif%}
        </p>
    {%endif%}
{% if help_msg %}
    <div id="search-ticket-help-msg" class="grid-19 info">{{g.markdown.convert(help_msg)}}</div>
  {% endif %}
  {% if milestone.description %}
    <p>{{milestone.description}}</p>
  {% endif %}
  {{c.ticket_search_results.display(solr_error=solr_error,
    count=count,
    limit=limit,
    query=q,
    filter=filter,
    tickets=tickets,
    sortable_custom_fields=sortable_custom_fields,
    columns=columns,
    page=page,
    sort=sort)}}
{% endblock %}
