{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / New Ticket{% endblock %}

{% block header %}&nbsp;{% endblock %}

{% block edit_box %}
<div class="editbox">
  <div class="form_holder">
    {{c.ticket_form.display(action=action, value=dict(super_id=super_id))}}
  </div>
</div>
{% endblock %}

{% block extra_css %}
<style type="text/css">
  input[name='ticket_form.summary']{
    top: 5px;
    position: absolute;
    z-index: 21;
  }
  .markdown_edit textarea {
    height: 100px;
  }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('input[name=ticket_form.summary]').focus();
  });
</script>
{% endblock %}