{% extends g.theme.master %}
{% do g.register_app_css('css/tracker.css') %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Search{% endblock %}

{% block header %}Search {{c.app.config.options.mount_point}}: {{q}}{% endblock %}

{% block head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.rss"/>
  <link rel="alternate" type="application/atom+xml" title="Atom" href="feed.atom"/>
{% endblock %}

{% block actions %}
  <a href="{{tg.url(c.app.url+'search_feed/', dict(q=q, limit=limit, sort=sort))}}" title="Feed"><b data-icon="{{g.icons['feed'].char}}" class="ico {{g.icons['feed'].css}}"></b></a>
{% if allow_edit and count != 0 %}
  <a href="{{tg.url(c.app.url+'edit/', dict(q=q, limit=limit, sort=sort, page=page))}}" title="Bulk Edit"><b data-icon="{{g.icons['pencil'].char}}" class="ico {{g.icons['pencil'].css}}"></b></a>
{% endif %}
{% endblock %}

{% if q and h.has_access(c.app, 'save_searches')() %}
  {% block edit_box %}
    <div class="editbox" style="display:none">
      {{c.bin_form.display(
        value=dict(summary=q,terms=q,sort=sort,_id=bin and bin._id or None),
        action=c.project.url()+'admin/'+c.app.config.options.mount_point+'/bins/save_bin'
      )}}
    </div>
  {% endblock %}
{% endif %}

{% block content %}
{% if help_msg %}
  <div id="search-ticket-help-msg" class="grid-19 info">{{g.markdown.convert(help_msg)}}</div>
{% endif %}
<div class="grid-19">
{% if bin %}
  <input type="text" id="bin_summary" value="{{bin.summary}}" style="width: 125px; float: left; margin-right: .5em">
{% endif %}
<form method="GET">
  <input type="text" name="q" value="{{q}}" style="width: 280px; float: left; margin-right: .5em" id="bin_terms">
</form>
{% if bin and h.has_access(c.app, 'save_searches')() %}
  <input type="button" value="Update Search" id="save_search"/>
{% endif %}  
  <input type="submit" value="Search"/> <a href="#" class="btn search_help_modal"><b data-icon="{{g.icons['help'].char}}" class="ico {{g.icons['help'].css}}"></b> Help</a>
</div>
<div style="clear:both"></div>
{{c.ticket_search_results.display(solr_error=solr_error,
  count=count,
  limit=limit,
  query=q,
  tickets=tickets,
  sortable_custom_fields=sortable_custom_fields,
  columns=columns,
  page=page,
  sort=sort)}}
{{c.search_help_modal.display(content='<h1>Searching for tickets</h1>
  <p>Searches use <a href="http://www.solrtutorial.com/solr-query-syntax.html" target="_blank">solr lucene query syntax</a>. Use the following fields in tracker ticket searches:</p>
  <ul>
  <li>User who owns the ticket - assigned_to_s</li>
  <li>Labels assigned to the ticket - labels</li>
  <li>Milestone the ticket is assigned to - _milestone</li>
  <li>Last modified date - mod_date_dt</li>
  <li>Body of the ticket - text</li>
  <li>Number of ticket - ticket_num</li>
  <li>User who created the ticket - reported_by_s</li>
  <li>Status of the ticket - status</li>
  <li>Title of the ticket - summary</li>
  <li>Custom field - the field name with an underscore in front like _custom</li>
  </ul>
  <h2>Example searches</h2>
  <p>Any ticket that is not closed in the 1.0 milestone with "foo" in the title</p>
  <div class="codehilite"><pre>!status:closed and summary:foo* and _milestone:1.0</pre></div>
  <p>Tickets with the label "foo" but not the label "bar":</p>
  <div class="codehilite"><pre>labels:foo and -labels:bar</pre></div>
  <p>Tickets assigned to or added by a user with the username "admin1" and the custom field "size" set to 2</p>
  <div class="codehilite"><pre>(assigned_to_s:admin1 or reported_by_s:admin1) and _size:2</pre></div>
  <p>The ticket has "foo" as the title or the body with a number lower than 50</p>
  <div class="codehilite"><pre>(summary:foo or text:foo) and ticket_num:[* TO 50]</pre></div>
  <p>Tickets last modified in April 2012</p>
  <div class="codehilite"><pre>mod_date_dt:[2012-04-01T00:00:00Z TO 2012-04-30T23:59:59Z]</pre></div>
  <h2>Saving Searches</h2>
  <p>Ticket searches may be saved for later use by project administrators. To save a search, click "Edit Searches" in the tracker sidebar. Click "Add Bin" then enter a summary and search terms for the saved search. Your search will now show up in the sidebar under "Searches" with a count of how many tickets match the query.</p>')}}
{% endblock %}

{% block extra_js %}
  {% if q and h.has_access(c.app, 'save_searches')() %}
    <script type="text/javascript">
      $('#save_search').click(function(){
        $('div.editbox input[name=summary]').val($('#bin_summary').val());
        $('div.editbox input[name=terms]').val($('#bin_terms').val());
        $('div.editbox form').submit();
      });
      $('#cancel_new_bin').click(function(){
        $('div.editbox').hide();
      });
    </script>
  {% endif %}
{% endblock %}
