{% extends 'jinja_master/master.html' %}

{% do g.register_app_css('css/hilite.css') %}
{% do g.register_app_css('css/tracker.css') %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Basic Statistics{% endblock %}

{% block header %}Basic Statistics{% endblock %}

{% block content %}
<p># tickets: {{total}}</p>
<p># open tickets: {{open}}</p>
<p># closed tickets: {{closed}}</p>
<p># new tickets in the last...</p>
<ul>
<li>7 days: {{week_tickets}}</li>
<li>14 days: {{fortnight_tickets}}</li>
<li>30 days: {{month_tickets}}</li>
</ul>
<p># of comments on tickets: {{comments}}</p>
<p># of new comments on tickets in last...</p>
<ul>
<li>7 days: {{week_comments}}</li>
<li>14 days: {{fortnight_comments}}</li>
<li>30 days: {{month_comments}}</li>
</ul>
<!--
<p># of ticket changes in the last...</p>
<ul>
<li>7 days:</li>
<li>14 days:</li>
<li>30 days:</li>
</ul>
-->
{% endblock %}





