<h1>Block User</h1>
<form action="block_user">
    <label class="grid-13">User Name</label>
    <input type="text" id="block_user" name="user_name" class="grid-13">
    <label class="grid-13">Reason</label>
    <textarea class="grid-13" name="reason"></textarea>
    <input type="hidden" class="block_user_role" name="perm" value="">
    <div class="grid-13">&nbsp;</div>
    <hr>
    <div class="grid-13"><div class="grid-13">&nbsp;</div>
    <input type="submit" value="Save">
    <a href="#" class="close">Cancel</a></div>
</form>
