{% extends 'jinja_master/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Admin Viewable Files{% endblock %}

{% block header %}{{app.config.options.mount_point}} Admin Viewable Files{% endblock %}

{% block content %}
<form>
  <ol>
    <li>
      <label>Extensions:</label>
      {% if allow_config %}
        <input type="text" name="additional_viewable_extensions"
               id="additional_viewable_extensions" title="e.g., .svnignore,.gitignore,.ini"
               {% if additional_viewable_extensions %} value="{{additional_viewable_extensions}}"{% endif %}/>
      {% else %}
        <span>{{additional_viewable_extensions}}</span>
      {% endif %}
    </li>
    <hr/>
    <li>
      <label>&nbsp;</label>
      {% if allow_config %}
        <input type="button" onclick="save_extensions()" value="Save"/>
      {% endif %}
    </li>
  </ol>
</form>
{% endblock %}

{% block extra_js %}
  {% if allow_config %}
    <script type="text/javascript">
      function save_extensions(){
          $.post('set_extensions', {
              additional_viewable_extensions: $('#additional_viewable_extensions').val()
          },
          function(){
              location.reload();
          });
      }
    </script>
  {% endif %}
{% endblock %}