<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Git Commit</title>
  </head>

  <body>
    ${c.revision_widget.display(value=commit)}
    <div py:if="commit.parents">
      <h2>Parent(s)</h2>
      <ul>
        <li py:for="c in commit.parents">
          <a href="${c.url()}">$c.sha</a>
        </li>
      </ul>
      <h2>Diffs</h2>
      <ul>
        <li py:for="d in commit.diff(commit.parents[0].sha)">
          <pre>$d</pre>
        </li>
      </ul>
    </div>
  </body>
</html>
