<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:if="not c.app.repo">Git Repository</title>
    <title py:if="c.app.repo">Git Repository: ${c.app.repo.name}</title>
  </head>

  <body>
    <h1 class="title">Welcome to ForgeGit</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <h2>Project: $c.project.shortname</h2>
          <py:if test="c.app.repo">
            <dl>
              <dt>read access</dt>
              <dd>git clone git://$c.app.repo.scm_url_path</dd>
              <dt>read/write access</dt>
              <dd>git clone ssh://$c.app.repo.scm_url_path</dd>
              <dt>status</dt>
              <dd>${c.app.repo.status}</dd>
            </dl>
            <form py:if="allow_fork" action="fork" method="GET">
              <input type="submit" value="Fork"/>
            </form>
          </py:if>
          <h2>Recent Commits</h2>
          <h3 py:if="branch">Browsing $branch</h3>
          <py:for each="ci in log">
            ${c.revision_widget.display(value=ci)}
          </py:for>
          <a py:if="next_link" href="$next_link">More</a>
        </div>
      </div>
    </div>
  </body>
</html>
