<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <xi:include href="master.html" />

  <?python from pyforge.lib.security import has_artifact_access ?>
  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$app.config.plugin_name Admin</title>
  </head>
  
  <body>
    <h1 class="title">$app.config.plugin_name Admin</h1>
    <py:if test="not len(app.config_options) > 1 and not (app.permissions and allow_config)">
      Nothing to administer for ${app.config.plugin_name}.
    </py:if>
    <py:if test="len(app.config_options) > 1 or (app.permissions and allow_config)">
      <div id="app_admin_tabs">
      	<ul>
      		<li><a href="#app-config" py:if="len(app.config_options) > 1">$app.config.plugin_name Options</a></li>
      		<li><a href="#app-acl" 
      		       py:if="app.permissions and allow_config">$app.config.plugin_name Permissions</a></li>
      	</ul>
        <div id="app-config" py:if="len(app.config_options) > 1" style="overflow: auto">
          <form method="post" action="configure">
            <py:for each="o in app.config_options" py:if="o.name != 'mount_point'">
              <div class="span-3"><label for="$o.name" class="span-3">$o.name</label></div>
              <div class="span-13 last" py:if="not allow_config">
                   ${app.config.options.get(o.name, o.default)}
              </div>
              <div class="editable viewing span-13 last" style="min-height:1em;"
                   py:if="allow_config">
                <div class="viewer">${app.config.options.get(o.name, o.default)}</div>
                <div class="editor"><input name="$o.name" value="${app.config.options.get(o.name, o.default)}"/></div>
              </div>
              <hr class="clear clearfix" />
            </py:for>
            <div class="span-13 push-3 last">
              <input type="submit" value="Update config" py:if="allow_config"
                     class="ui-state-default ui-button ui-button-text"/>
              <input py:if="app.installable and allow_config" type="submit" name="delete" value="Delete Plugin"
                     class="ui-state-default ui-button ui-button-text"/>
            </div>
          </form>
        </div>
        <div id="app-acl" 
    		     py:if="app.permissions and allow_config">
          <div id="acl-admin">
            <py:for each="p in app.permissions" >
              <h3><a href="#">$p</a></h3>
              <div>
                <table>
                  <thead>
                    <tr>
                      <th>Role</th>
                      <th/>
                    </tr>
                  </thead>
                  <tbody>
                    <tr py:for="role in h.make_roles(app.config.acl[p])">
                      <td>${role.display()}</td>
                      <td>
                        <form method="POST" action="del_perm" style="display:inline">
                          <input type="hidden" name="permission" value="$p"/>
                          <input type="hidden" name="role" value="${role._id}"/>
                        <input type="submit" value="Remove" py:if="role.display() != '*user-'+c.user.username"/>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <form method="POST" action="add_perm">
                  <input type="hidden" name="permission" value="$p"/>
                  <select name="role">
                    <option py:for="role in c.project.roles"
                            value="$role._id"
                            >${role.display()}</option>
                  </select>
                  <input type="submit" value="Add role"/>
                </form>
              </div>
            </py:for>
          </div>
          
        </div>
      </div>
      <script type="text/javascript">
      	$(function() {
      		$("#app_admin_tabs").tabs({cookie:{expires:30}});
      	});
        $(function() {
               $("#acl-admin").accordion({
                 autoHeight: false,
                 navigation: true
               });
             });
  	  </script>
  	</py:if>
  </body>
</html>
