<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">
<div id="footer" class="span-24 last">
  <div class="prepend-1 span-3">
    <div class="foot_head">Reach Us</div>
    <ul>
      <li><a href="http://sourceforge.net/about">About SourceForge</a></li>
      <li><a href="http://sourceforge.net/support">Contact Us</a></li>
      <li><a href="http://geek.net/careers/">Jobs @ Geeknet</a></li>
      <li><a href="http://geek.net/advertising/">Advertising</a></li>
    </ul>
  </div>
  <div class="prepend-1 span-3">
    <div class="foot_head">Follow Us</div>
    <ul>
      <li><a href="http://sourceforge.net/blog">Blog</a></li>
      <li><a href="http://twitter.com/sourceforge">Twitter</a></li>
    </ul>
  </div>
  <div class="prepend-1 span-3">
    <div class="foot_head">Corporate</div>
    <ul>
      <li><a href="http://geek.net/about/">About Geeknet</a></li>
      <li><a href="http://geek.net/our-network/">Sister Sites</a></li>
    </ul>
  </div>
  <div class="prepend-1 span-3">
    <div class="foot_head">Engage</div>
    <ul>
      <li><a href="http://sourceforge.net/softwaremap/">Find Software</a></li>
      <li><a href="http://sourceforge.net/register">Create Project</a></li>
    </ul>
  </div>
  <div class="prepend-1 span-3">
    <div class="foot_head">Help</div>
    <ul>
      <li><a href="http://sourceforge.net/apps/trac/sourceforge/wiki/WikiStart">Site Documentation</a></li>
      <li><a href="http://sourceforge.net/apps/trac/sourceforge/wiki/Support">Support</a></li>
      <li><a href="http://sourceforge.net/apps/wordpress/sourceforge/">Site Outages</a></li>
      <li><a href="http://sourceforge.net/support">Feedback</a></li>
    </ul>
  </div>
  <div class="prepend-1 span-3 last">
    <img src="${g.forge_static('images/geeknet-logo.png')}"/>
  </div>
</div>
</py:def>    
</html>
