<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">
<div id="footer" class="span-24 last">
  <div class="span-4">
    <div class="foot_head">Reach Us</div>
    <ul>
      <li><a href="http://sourceforge.net/about">About SourceForge</a></li>
      <li><a href="." class="todo">Contact Us</a></li>
      <li><a href="." class="todo">Jobs @ Geeknet</a></li>
      <li><a href="http://geek.net/advertising/">Advertising</a></li>
    </ul>
  </div>
  <div class="span-4">
    <div class="foot_head">Follow Us</div>
    <ul>
      <li><a href="http://sourceforge.net/blog">Blog</a></li>
      <li><a href="http://twitter.com/sourceforge">Twitter</a></li>
    </ul>
  </div>
  <div class="span-4">
    <div class="foot_head">Corporate</div>
    <ul>
      <li><a href="http://geek.net/about/">About Geeknet</a></li>
      <li><a href="http://geek.net/our-network/">Sister Sites</a></li>
    </ul>
  </div>
  <div class="span-4">
    <div class="foot_head">Engage</div>
    <ul>
      <li><a href="." class="todo">Find Software</a></li>
      <li><a href="." class="todo">Create Project</a></li>
    </ul>
  </div>
  <div class="span-4">
    <div class="foot_head">Help</div>
    <ul>
      <li><a href="." class="todo">Site Documentation</a></li>
      <li><a href="." class="todo">Support</a></li>
      <li><a href="." class="todo">Site Outages</a></li>
      <li><a href="." class="todo">Feedback</a></li>
    </ul>
  </div>
  <div class="span-4 last">
    <img src="/images/geeknet-logo.png"/>
  </div>
</div>
</py:def>    
</html>
