<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Grants List</title>
</head>

  <body>
    <h1 class="title">Grants List</h1>
    <div id="award_list">
      <table border="1">
        <thead>
          <tr>
            <th>Grant</th>
            <th>Recipient</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
          <py:for each="grant in grants">
            <tr>
              <td>${grant.award.short}</td>
              <td>${grant.granted_to_project.shortname}</td>
              <td><a href="grant_delete?grant_id=$grant._id">[X]</a></td>
            </tr>
          </py:for>
        </tbody>
      </table>
    </div>
  </body>
</html>

