<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>PyForge Directory</title>
</head>

  <body>
    <h1>New Project Registration</h1>
    <form method="post" action="projects/register">
      New project URL: /projects/<input name="pid"/>/ <br/>
      <input type="submit" value="Register Project"/>
    </form>
    <h1>PyForge Directory</h1>
    <div py:for="prefix, subprojects in projects.iteritems()">
      <h2>${prefix.capitalize()}</h2>
      <ul>
        <li py:for="p in subprojects">
          <a href="$p.script_name">$p.shortname</a>
        </li>
      </ul>
    </div>
  </body>
</html>
