<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Directory</title>
</head>

  <body>
    <h2>Directory</h2>
    Add a new project at this url:
    <form method="post" action="projects/register">
      /projects/<input name="pid"/>/ <input type="submit" value="Register Project"/>
    </form>
    <div id="pyforge_directory">
      <py:for each="n, subprojects in sorted(projects.iteritems())">
        <h3><a href="${n.url()}">${n.name}</a></h3>
        <ul>
          <li py:for="p in subprojects">
            <a href="${p.url()}">$p.name</a>
          </li>
        </ul>
      </py:for>
    </div>
  </body>
</html>
