<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:def function="project_links(p)" 
          py:with="parts=p._id.split('/')">
      <py:for each="i, part in enumerate(parts[:-1])"
         py:with="prefix='/'.join(parts[:i+1])">
        <a href="/$prefix/" py:if="i">$part</a>
        <span py:if="not i">$part</span> /
      </py:for>
  </py:def>

  <ul py:def="project_tree(project)">
    <li py:for="p in project.direct_subprojects">
      <a href="${'/' + p._id}">$p.shortname</a>
      <py:if test="p.direct_subprojects">
        ${project_tree(p)}
      </py:if>
    </li>
  </ul>

  <py:def function="nav(s)">
    <li>
      <a py:if="s.url" href="$s.url">$s.label</a>
      <span py:if="not s.url">$s.label</span>
      <ul py:if="s.children">
        <py:for each="ss in s.children">${nav(ss)}</py:for>
      </ul>
    </li>
  </py:def>

  <py:def function="main_menu()">
    <ul id="mainmenu">
      <li><a href="/">Welcome</a></li>
      <li><a href="/search/">Search</a></li>
      <py:if test="c.project">
        <li py:for="s in c.project.sitemap()">
          <a py:if="s.url" href="$s.url">$s.label</a>
          <span py:if="not s.url">$s.label</span>
        </li> 
      </py:if>       
      <li class="loginlogout" py:if="c.user._id">
        <a href="/auth/logout">Logout</a>
      </li>
      <li class="loginlogout" py:if="not c.user._id">
        <a href="/auth/">Login</a>
      </li>
    </ul>
  </py:def>

  <py:def function="sidebar_menu()">
    <ul id="sidebarmenu" py:if="getattr(c, 'app', None)">
      <li py:for="s in c.app.sidebar_menu()">
        <a py:if="s.url" href="$s.url">$s.label</a>
        <span py:if="not s.url">$s.label</span>
      </li> 
    </ul>
    <ul id="sidebarmenu" 
        py:if="getattr(c, 'project', None) and not getattr(c, 'app', None)">
      <li py:for="s in c.project.sidebar_menu()">
        <a py:if="s.url" href="$s.url">$s.label</a>
        <span py:if="not s.url">$s.label</span>
      </li> 
    </ul>
  </py:def>

  <py:def function="crumbs(trail)">
    <py:for each="i, (label, url) in enumerate(trail)">
      <li class="${i == 0 and 'first' or None}">
        <a py:if="url" href="$url">$label</a>
        <span py:if="not url">$label</span>
      </li>
    </py:for>
  </py:def>

  <py:def function="text_field(name, label, value=None)">
    <label for="$name">$label</label><br/>
    <input type="text" id="$name" name="$name" class="text" value="$value"/><br/>
  </py:def>

  <py:def function="select_field(name, label, options, value=None)">
    <label for="$name">$label</label><br/>
    <select id="$name" name="$name">
      <py:for each="olbl, oval in options">
        <option value="$oval" selected="${oval == value or None}">$olbl</option>
      </py:for>
    </select>
  </py:def>

  <py:def function="radio_button(name, label, option, value=None)">
    <py:if test="label">
      <label for="$name">$label</label><br/>
    </py:if>
    <input type="radio" id="$name" name="$name" class="text" value="$option" 
           checked="${option==value and 'on' or None}"/><br/>
  </py:def>

  <py:def function="submit_button(value, name=None)">
    <input type="submit" name="$name" value="$value"/><br/>
  </py:def>
</html>
