<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">
  <xi:include href="header.html" />
  <xi:include href="sidebars.html" />
  <xi:include href="footer.html" />
  <xi:include href="lib.html" />
  <head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="${tg.url('/css/blueprint/screen.css')}" />
    <link rel="stylesheet" type="text/css" media="print" href="${tg.url('/css/blueprint/print.css')}" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" media="screen, projection" href="${tg.url('/css/blueprint/ie.css')}" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
    <script type="text/javascript" src="/js/jquery-1.4.1.min.js"/>
  </head>
  
  <body py:match="body" py:attrs="select('@*')">
    ${main_menu()}
    ${sidebar_menu()}
    <div id="content">
      <p py:if="c.user" style="float:right">Welcome, 
        <a href="/auth/prefs/">$c.user.display_name!</a>
      </p>
      <p py:if="not c.user" style="float:right">Welcome, Anonymous Coward!</p>
      <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
        <div py:if="flash" py:content="XML(flash)" />
      </py:with>
      <div class="breadcrumbs" py:if="c.project or c.app">
        <ul py:if="c.app">
          ${crumbs(c.app.config.breadcrumbs())}
        </ul>
        <ul py:if="not c.app">
          ${crumbs(c.project.breadcrumbs())}
        </ul>
      </div>
      <div py:replace="select('*|text()')"/>
      <!-- End of main_content -->
    </div>
    ${footer()}
    <script type="text/javascript" src="/js/pyforge-base.js"/>
  </body>
</html>
