<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="header.html" />
  <xi:include href="sidebars.html" />
  <xi:include href="footer.html" />
  <xi:include href="lib.html" />
  <head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="${tg.url('/css/blueprint/screen.css')}" />
    <link rel="stylesheet" type="text/css" media="print" href="${tg.url('/css/blueprint/print.css')}" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" media="screen, projection" href="${tg.url('/css/blueprint/ie.css')}" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"/>
  </head>
  
  <body py:match="body" py:attrs="select('@*')">
    ${header()}
    <ul id="mainmenu">
      <li class="first"><a href="${tg.url('/')}" class="${('', 'active')[defined('page') and page=='index']}">Welcome</a></li>
      <li><a href="${tg.url('/about')}" class="${('', 'active')[defined('page') and page=='about']}">About</a></li>
      <li><a href="/search/">Search</a></li>
      <li py:if="c.user"><a href="/logout">Logout</a></li>
    <li py:if="not c.user"><a href="/login">Login</a></li>
    </ul>
    <div id="content">
      <p py:if="c.user" style="float:right">Welcome, $c.user.display_name!</p>
      <p py:if="not c.user" style="float:right">Welcome, Anonymous Coward!</p>
      <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
        <div py:if="flash" py:content="XML(flash)" />
      </py:with>
      <div py:replace="select('*|text()')"/>
      <!-- End of main_content -->
      ${footer()}
    </div>
  </body>
</html>
