<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="lib.html" />
  <xi:include href="neighborhood_lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Welcome to $neighborhood.name</title>
  </head>

  <body>
    <h1>$neighborhood.name Admin</h1>
    <div>
      <form method="POST" action="update">
        <div class="editable viewing">
          <div class="viewer"><h3>Name: $neighborhood.name</h3></div>
          <div class="editor">
            <label>Name:</label>
            <input name="name" value="$neighborhood.name"/>
          </div>
        </div>
        <h3>Home Page Contents (Markdown)</h3>
        <div class="editable viewing" style="min-height:50px;">
          <div class="viewer">${Markup(g.markdown.convert(neighborhood.homepage))}</div>
          <div class="editor">
            <textarea name="homepage">$neighborhood.homepage</textarea>
          </div>
        </div>
        <h3>Custom CSS</h3>
        <div class="editable viewing" style="min-height:50px;">
          <div class="viewer"><pre>$neighborhood.css</pre></div>
          <div class="editor">
            <textarea name="css">$neighborhood.css</textarea>
          </div>
        </div>
      </form>
    </div>
    <div id="acl-admin" class="title-pane closed">
      <h2 class="title">ACL Admin <a href="#acl-admin">#</a></h2>
      <div class="content">
        <p>The ACL determines neighborhood-level permissions.</p>
        <div py:for="permission, users in neighborhood.acl.iteritems()"
             class="title-pane closed">
          <h3 class="title">Permission: $permission</h3>
          <div class="content">
            <form method="POST" action="update_acl">
              <input type="hidden" name="permission" value="$permission"/>
              <input py:for="i,uid in enumerate(users)"
                     type="hidden" name="user-${i}.id" value="$uid"/>
              <table>
                <thead>
                  <tr><th>Username</th><th/></tr>
                </thead>
                <tbody>
                  <tr py:for="i,u in enumerate(h.make_users(users))">
                    <td>$u.username</td>
                    <td><input type="submit" value="Remove" name="user-${i}.delete" /></td>
                  </tr>
                  <tr>
                    <td>
                      <input name="new.username"/>
                    </td>
                    <td>
                      <input type="submit" name="new.add" value="Add Permission"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
