<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" py:if="neighborhood.allow_browse" />
  <xi:include href="master_one_col.html" py:if="not neighborhood.allow_browse" />
  <xi:include href="neighborhood_lib.html"/>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>$title</title>
    <style type="text/css">
    #section .base .pad{
      background-color: inherit;
	border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	box-shadow: rgba(0,0,0, 0) 0 0 0;
		-moz-box-shadow:  rgba(0,0,0, 0) 0 0 0;
		-webkit-box-shadow:  rgba(0,0,0, 0) 0 0 0;
    }
    </style>
  </head>

  <body id="neighborhood_project_list">
      <py:if test="neighborhood.allow_browse">
        <p py:if="not len(projects)">No projects found</p>
        <div py:if="len(projects)" class="list">
          <py:for each="project in projects">
            ${c.project_summary.display(value=project)}
          </py:for>
				</div>
      </py:if>
    
  </body>
</html>
