<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <xi:include href="master.html" />
  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Login Form</title>
  </head>
  
  <body>
    <h1 class="title">Choose Login Name</h1>
    <div id="loginform">
      <form method="POST" action="do_setup_openid_user">
        <label for="username">Login Name:</label>
        <input id="username" name="username"/>
        <label for="display_name">Displayed Name:</label>
        <input id="display_name" name="display_name"/>
        <input type="submit" value="Setup Account"/>
      </form>
    </div>
  </body>
</html>
