{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends "allura.ext.user_profile:templates/profile_section_base.html" %}

{% block title %}
    Personal Data
{% endblock %}

{% block actions %}
    {% if user == c.user %}
        <a href="{{auth.account_urls['account_user_info']}}">Edit Personal Data</a>
    {% endif %}
{% endblock %}

{% block section_class %}personal-data{% endblock %}

{% block content %}
    <dl class="personal-data">
        <dt>Username:</dt><dd>
            {{user.username}}
        </dd>
        <dt>Joined:</dt><dd>
            {{auth.user_registration_date(user)}}
        </dd>
        {% set loc = user.get_pref('localization') %}
        {% if loc.city or loc.country or timezone %}
        <dt>Location:</dt><dd>
            {{ [loc.city, loc.country, timezone]|filter|join(' / ') }}
        </dd>
        {% endif %}
        {% if user.get_pref('sex') not in (None, 'Unknown') %}
        <dt>Gender:</dt><dd>
            {{user.get_pref('sex')}}
        </dd>
        {% endif %}
        {% if user.get_pref('telnumbers') %}
        <dt>Phone Number:</dt><dd>
            {{user.get_pref('telnumbers')|join(', ')}}
        </dd>
        {% endif %}
        {% if user.get_pref('skypeaccount') %}
        <dt>Skype:</dt><dd>
            {{user.get_pref('skypeaccount')}}
        </dd>
        {% endif %}
        {% if user.get_pref('webpages') %}
        <dt>Web Site{% if user.get_pref('webpages')|length > 1 %}s{% endif %}:</dt><dd>
            <ol>
            {% for webpage in user.get_pref('webpages') %}
                <li>{{webpage|urlize(60,nofollow=True)}}</li>
            {% endfor %}
            </ol>
        </dd>
        {% endif %}
        {% if user.get_pref('availability') %}
        <dt>Availability (UTC):</dt><dd>
            <ol>
            {% for slot in user.get_localized_availability('utc') %}
                <li>{{ slot.week_day }}: {{ slot.start_time.strftime('%H:%M') }} to {{ slot.end_time.strftime('%H:%M') }}</li>
            {% endfor %}
            </ol>
        </dd>
        {% endif %}
    </dl>
{% endblock %}
