<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="lib.html" />

  <?python from pyforge.lib.security import has_project_access ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Project Admin for $c.project.shortname</title>

    <py:def function="role_select(name)">
      <select name="$name">
        <option py:for="r in c.project.roles"
                value="$r._id">${r.display()}</option>
      </select>
    </py:def>
    <link rel="stylesheet" type="text/css" media="screen" href="${g.app_static('css/admin.css')}"/>
  </head>
  
  <body>
    <div id="project_admin_tabs">
    	<ul>
    		<li><a href="#project-admin-overview">Overview</a></li>
    		<li py:if="len(c.project.neighborhood_invitations)"><a href="#project-admin-invitations">Neighborhood Invitation(s)</a></li>
    		<li><a href="#project-admin-plugins">Plugins/Subprojects</a></li>
    		<li><a href="#project-admin-permissions" 
    		       py:if="has_project_access('security')()">Permissions</a></li>
    		<li><a href="#project-admin-roles"
               py:if="c.project.is_root and has_project_access('security')()">Roles</a></li>
    	</ul>
    	<div id="project-admin-invitations" py:if="len(c.project.neighborhood_invitations)">
        <h2>Neighborhood Invitation(s)</h2>
        <form method="POST" action="join_neighborhood">
          <select name="nid">
            <option py:if="c.project.neighborhood.name != 'Projects'" value="">
              Leave $c.project.neighborhood.name</option>
            <option py:for="n in h.make_neighborhoods(c.project.neighborhood_invitations)"
                    value="$n._id">$n.name</option>
          </select>
          <input type="submit" value="Join Neighborhood"/>
        </form>
      </div>
      <div id="project-admin-overview" style="overflow: auto">
        <h2>Project Overview</h2>
        <div py:if="not has_project_access('update')()">
          <div class="span-3"><label>Name</label></div>
          <div class="span-15 last">$c.project.name</div>

          <div class="span-3"><label>Icon</label></div>
          <div class="span-15 last">
            <img py:if="c.project.icon" src="${c.project.url()}/icon"/>
            <span py:if="not c.project.icon">&nbsp;</span>
          </div>

          <div class="span-3"><label>Short Description</label></div>
          <div class="span-15 last"><pre>$c.project.short_description</pre></div>

          <div class="span-3"><label>Description</label></div>
          <div class="span-15 last">${Markup(c.project.description_html)}</div>
        </div>
        <form py:if="has_project_access('update')()" method="POST" action="update" enctype="multipart/form-data">

          <div class="span-3"><label>Name</label></div>
          <div class="editable viewing span-15 last">
            <div class="viewer">$c.project.name</div>
            <div class="editor"><input name="name" value="$c.project.name"/></div>
          </div>
          <div class="span-3"><label>Shortname</label></div>
          <div class="span-15 last">$c.project.shortname</div>
          <div class="span-3"><label>Icon</label></div>
          <div class="editable viewing span-15 last">
            <div class="viewer" py:if="c.project.icon"><img src="${c.project.url()}/icon"/></div>
            <div class="viewer" py:if="not c.project.icon">No icon has been created.</div>
            <div class="editor">
              ${file_field('icon', 'File')}
            </div>
          </div>
          <div class="span-3"><label>Short Description</label></div>
          <div class="editable viewing span-15 last">
            <div class="viewer"><pre>$c.project.short_description</pre></div>
            <div class="editor"><textarea name="short_description">$c.project.short_description</textarea></div>
          </div>
          <div class="span-3"><label>Description</label></div>
          <div class="editable viewing span-15 last">
            <div class="viewer">${Markup(c.project.description_html)}</div>
            <div class="editor">${markdown_edit('description', c.project.description)}</div>
          </div>
          <div class="span-3"><label>Screenshots</label></div>
          <div class="editable viewing span-15 last">
            <div class="viewer">
              <py:if test="len(c.project.get_screenshots())">
                <img py:for="ss in c.project.get_screenshots()" src="${c.project.url()}screenshot/$ss.filename" class="project_screenshot"/>
              </py:if>
              <py:if test="not len(c.project.get_screenshots())">No screenshots have been created.</py:if>
            </div>
            <div class="editor">${file_field('screenshot', 'File')}</div>
          </div>
        </form>
      </div>
      <div id="project-admin-plugins">
        <h2>Plugin / Subproject Admin</h2>
        <div>
          <form method="POST" action="update_mounts">
            <input py:for="i, sp in enumerate(c.project.direct_subprojects)"
                   type="hidden"
                   name="subproject-${i}.shortname"
                   value="$sp.shortname"/>
            <input py:for="i, config in enumerate(c.project.app_configs)"
                   type="hidden"
                   name="plugin-${i}.mount_point"
                   value="$config.options.mount_point"/>
            <table>
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Mount Point</th>
                  <th py:if="has_project_access('plugin')()">Edit</th>
                  <th py:if="has_project_access('plugin')()"></th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="i, sp in enumerate(c.project.direct_subprojects)">
                  <td>Subproject</td>
                  <td>$sp.shortname</td>
                  <td py:if="has_project_access('plugin')()"><a href="${sp.url() + 'admin/'}">Edit</a></td>
                  <td py:if="has_project_access('plugin')()"><input
                             name="subproject-${i}.delete" type="submit" value="Delete"/></td>
                </tr>
                <tr py:for="i, config in enumerate(c.project.app_configs)">
                  <td>Plugin: $config.plugin_name</td>
                  <td>$config.options.mount_point</td>
                  <td py:if="has_project_access('plugin')()"><a
                         href="$config.options.mount_point/">Edit</a></td>
                  <td py:if="has_project_access('plugin')() and config.load().installable"><input
                             name="plugin-${i}.delete" type="submit" value="Delete"/></td>
                </tr>
                <tr py:if="has_project_access('plugin')()">
                  <td>
                    <select name="new.ep_name">
                      <option value="">New Subproject</option>
                      <optgroup label="New Plugin">
                        <option py:for="name in installable_plugin_names" value="$name">$name</option>
                      </optgroup>
                    </select>
                  </td>
                  <td>
                    <input name="new.mount_point"/>
                  </td>
                  <td colspan="2">
                    <input type="submit" value="Install" name="new.install"/>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <div id="project-admin-permissions" 
           py:if="has_project_access('security')()">
        <h2>Project ACL Admin</h2>
        <p>The project ACL determines project-level permissions.</p>
        <div id="acl-admin">
          <py:for each="permission, role_ids in c.project.acl.iteritems()">
            <h3><a href="#">Permission: $permission</a></h3>
            <div>
              <form method="POST" action="update_acl">
                <input type="hidden" name="permission" value="$permission"/>
                <input py:for="i,rid in enumerate(role_ids)"
                       type="hidden" name="role-${i}.id" value="$rid"/>
                <table>
                  <thead>
                    <tr><th>Role</th><th>Username</th><th/></tr>
                  </thead>
                  <tbody>
                    <tr py:for="i, r in enumerate(h.make_roles(role_ids))">
                      <td>${r.display()}</td>
                      <td>$r.user.username</td>
                      <td><input type="submit" value="Remove" name="role-${i}.delete" /></td>
                    </tr>
                    <tr>
                      <td>
                        <select name="new.id">
                          <option value="">User</option>
                          <optgroup label="Existing role">
                            <option py:for="r in c.project.roles"
                                    value="$r._id">${r.display()}</option>
                          </optgroup>
                        </select>
                      </td>
                      <td>
                        <input name="new.username"/>
                      </td>
                      <td>
                        <input type="submit" name="new.add" value="Add Permission"/>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </py:for>
        </div>
      </div>
      <div id="project-admin-roles" py:if="c.project.is_root and has_project_access('security')()">
    <h2>Role Admin</h2>
    <div class="content">
      <p>
        Each user on the project has a private role.
        Each role can have subroles.  A role inherits all the permissions
        that its subroles have.  All users who have read access should
        automatically appear here.
      </p>
      <form method="POST" action="update_roles">
        <input py:for="i,r in enumerate(c.project.roles)"
               type="hidden"
               name="role-${i}.id"
               value="$r._id"/>
        <table border="1">
          <thead>
            <tr>
              <th>Role Name</th>
              <th>Subroles</th>
              <th/>
            </tr>
          </thead>
          <tbody>
            <tr py:for="i, r in enumerate(c.project.roles)">
              <td>${r.display()}</td>
              <td>
                <span py:for="j, sr in enumerate(h.make_roles(r.roles))">
                  ${sr.display()}
                  <input type="hidden" name="role-${i}.subroles-${j}.id" value="$sr._id"/>
                  <input type="submit" name="role-${i}.subroles-${j}.delete" value="Del"/>
                  <br/>
                </span>
                <span>
                  <select name="role-${i}.new.id">
                    <option py:for="r in roles" py:if="not r.special" value="$r._id">
                      ${r.display()}
                    </option>
                  </select>
                  <input name="role-${i}.new.add" type="submit" value="Add Subrole"/>
                  <br/>
                </span>
              </td>
              <td>
                <input py:if="not r.special" name="role-${i}.delete"
                       type="submit" value="Delete Role"/>
              </td>
            </tr>
            <tr>
              <td><input name="new.name"/></td>
              <td colspan="2">
                <input type="submit" name="new.add" value="Create Group Role"/>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
    </div>
    <script type="text/javascript">
	$(function() {
		$("#project_admin_tabs").tabs();
	});
	$(function() {
		$("#acl-admin").accordion({
			autoHeight: false,
			navigation: true
		});
	});
    </script>
    <script type="text/javascript" src="${g.app_static('js/admin.js')}"/>
  </body>

</html>
