<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Neighborhood Invitation(s) for $c.project.shortname</title>
  </head>

  <body>
    <h1 class="title">Neighborhood Invitation(s) for $c.project.shortname</h1>
    <div class="content">
      <div class="row">
        <div class="column grid_12">
          <div py:if="c.project.deleted" class="notice">This project has been deleted and is not visible to non-admin users</div>
          <form method="POST" action="join_neighborhood">
            <select name="nid">
              <option py:if="c.project.neighborhood.name != 'Projects'" value="">
                Leave $c.project.neighborhood.name</option>
              <option py:for="n in h.make_neighborhoods(c.project.neighborhood_invitations)"
                      value="$n._id">$n.name</option>
            </select>
            <input type="submit" value="Join Neighborhood"/>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>
