<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="lib.html" />

  <?python from pyforge.lib.security import has_project_access ?>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Project Overview for $c.project.shortname</title>

    <link rel="stylesheet" type="text/css" media="screen" href="${g.app_static('css/admin.css')}"/>
  </head>

  <body>

    <h2 class="title">Project Admin</h2>
    <div class="content">
        <div py:if="c.project.deleted" class="notice">This project has been deleted and is not visible to non-admin users</div>
        <form py:if="not has_project_access('update')()">
            <ol>
                <li>
                    <label>Name:</label>
                    $c.project.name
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>Shortname:</label>
                    $c.project.shortname
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>Category:</label>
                    ${c.project.category and c.project.category.label or 'Uncategorized'}
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>Icon:</label>
                    <img py:if="c.project.icon" src="${c.project.url()}/icon"/>
                    <span py:if="not c.project.icon">&nbsp;</span>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>Summary:</label>
                    <pre>$c.project.short_description</pre>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>Description:</label>
                    ${Markup(c.project.description_html)}
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>Screenshots:</label>
                    <py:if test="len(c.project.get_screenshots())">
                        <a py:for="ss in c.project.get_screenshots()" href="${c.project.url()}screenshot/$ss.filename"><img src="${c.project.url()}screenshot/$ss.filename/thumb" style="margin-right: 1em"/></a>
                    </py:if>
                    <py:if test="not len(c.project.get_screenshots())">No screenshots have been created.</py:if>
                </li>
            </ol>
        </form>
        <form py:if="has_project_access('update')()" method="POST" action="update" enctype="multipart/form-data">
            <ol>
                <li>
                    <label for="name">Name:</label>
                    <div class="editable viewing">
                        <div class="viewer">$c.project.name</div>
                        <div class="editor"><input type="text" name="name" value="$c.project.name"/></div>
                    </div>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>Shortname:</label>
                    $c.project.shortname
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label for="category">Category:</label>
                    <div class="editable viewing">
                        <div class="viewer">${c.project.category and c.project.category.label or 'Uncategorized'}</div>
                        <div class="editor">
                            <select name="category">
                              <option value="">Uncategorized</option>
                              <py:for each="cat in categories">
                                  <option value="$cat._id" py:if="c.project.category and c.project.category._id == cat._id" selected="selected">$cat.label</option>
                                  <option value="$cat._id" py:if="not c.project.category or (c.project.category and c.project.category._id != cat._id)">$cat.label</option>
                                  <py:for each="subcat in cat.subcategories">
                                      <option value="$subcat._id" py:if="c.project.category and c.project.category._id == subcat._id" selected="selected">-- $subcat.label</option>
                                      <option value="$subcat._id" py:if="not c.project.category or (c.project.category and c.project.category._id != subcat._id)">-- $subcat.label</option>
                                  </py:for>
                              </py:for>
                            </select>
                        </div>
                    </div>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label for="icon">Icon:</label>
                    <div class="editable viewing">
                        <div class="viewer" py:if="c.project.icon"><img src="${c.project.url()}/icon"/></div>
                        <div class="viewer" py:if="not c.project.icon">No icon has been created.</div>
                        <div class="editor">${file_field('icon', 'File')}</div>
                    </div>
                    <div py:if="c.project.icon">
                        <input type="submit" name="delete_icon" value="Delete Icon"
                               class="ui-state-default ui-button ui-button-text clear clearfix"/>
                    </div>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label for="short_description">Summary:</label>
                    <div class="editable viewing">
                        <div class="viewer"><pre data-prompt="Write a brief summary of your project">$c.project.short_description</pre></div>
                        <div class="editor multiline"><textarea name="short_description">$c.project.short_description</textarea></div>
                    </div>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label for="description">Description:</label>
                    ${c.markdown_editor.display(name='description',value=c.project.description)}
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label for="labels">Tags:</label>
                    <div class="editable viewing">
                        <div class="viewer">${len(c.project.labels) and ', '.join(c.project.labels) or "No Tags"}</div>
                        <div class="editor">${c.label_edit.display(name='labels',value=c.project.labels)}</div>
                    </div>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label for="screenshot">Screenshots:</label>
                    <div class="editable viewing">
                        <div class="viewer">
                            <py:if test="len(c.project.get_screenshots())">
                                <a py:for="ss in c.project.get_screenshots()" href="${c.project.url()}screenshot/$ss.filename"><img src="${c.project.url()}screenshot/$ss.filename/thumb" style="margin-right: 1em"/></a>
                            </py:if>
                            <py:if test="not len(c.project.get_screenshots())">No screenshots have been created.</py:if>
                        </div>
                        <div class="editor multiline">${file_field('screenshot', 'File')}</div>
                    </div>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label for="show_download_button">Downloads:</label>
                    <input name="show_download_button" type="checkbox"
                           checked="${c.project.show_download_button and 'CHECKED' or None}"/>
                </li>
                <hr class="clear clearfix" />
                <li>
                    <label>&nbsp;</label>
                    <input type="submit" value="Save"
                           class="ui-state-default ui-button ui-button-text"/>
                    <input type="submit" value="Delete Project" name="delete"
                           class="ui-state-default ui-button ui-button-text"
                           py:if="not c.project.deleted"/>
                    <input type="submit" value="Undelete Project" name="undelete"
                           class="ui-state-default ui-button ui-button-text"
                           py:if="c.project.deleted"/>
                </li>
            </ol>
        </form>
    </div>

  </body>

</html>
