.flotr-handles-handle{background:#eee;border:1px solid #333;position:absolute;cursor:pointer;border-radius:3px}.flotr-handles-handle,.flotr-grid-label{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}.flotr-handles-drag{height:12px;width:6px}.flotr-handles-scroll{height:6px;cursor:move}.flotr-handles-left{cursor:w-resize}.flotr-handles-right{cursor:e-resize}.envision-finance{width:600px}.envision-finance-price .envision-component{height:200px}.envision-finance-volume .envision-component{height:60px}.envision-finance-connection .envision-component{height:16px}.envision-finance-summary .envision-component{cursor:all-scroll;height:70px;margin-top:-2px}.envision-finance-price,.envision-finance-volume{border:1px solid #B6D9FF;background:#fff}.envision-finance-price{border-top-right-radius:5px;border-top-left-radius:5px}.envision-finance-volume{border-top:0}.envision-finance-connection canvas{z-index:10;background:#fff}.envision-finance-connection canvas object{position:absolute;top:0}.envision-finance-price .flotr-grid-label{margin-left:4px}.envision-finance-price .flotr-grid-label.first{margin-top:-6px}.envision-finance-price .flotr-grid-label.last{margin-top:6px}.envision-finance-summary .flotr-grid-label{margin-top:3px}.envision-finance-price .flotr-mouse-value{font-size:12px}.envision-finance-volume .flotr-mouse-value{display:none}@media screen and (max-width:600px){.envision-finance{width:100%}.envision-finance-price .envision-component{height:120px}.envision-finance-summary .envision-component,.envision-finance-volume .envision-component{height:40px}}.envision-timeseries{width:auto}.envision-timeseries-detail .envision-component{height:200px}.envision-timeseries-connection .envision-component{height:16px}.envision-timeseries-summary .envision-component{cursor:all-scroll;height:80px}.envision-timeseries-detail{padding-top:7px;border:1px solid #B6D9FF;border-top-right-radius:5px;border-top-left-radius:5px;border-bottom:0;background:#e2f0ff}.envision-timeseries-connection canvas{z-index:10;background:#fff}.envision-timeseries-connection canvas object{position:absolute;top:0}.envision-timeseries-summary .envision-component{margin-top:-2px}/*! gridster.js - v0.1.0 - 2012-10-20
* http://gridster.net/
* Copyright (c) 2012 ducksboard; Licensed MIT */

.gridster {
    position:relative;
}

.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    -ms-transition: height .4s;
    transition: height .4s;
}

.gridster .gs_w{
    z-index: 2;
    position: absolute;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}

.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition:  left .3s, top .3s!important;
}

.gridster .dragging {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

/* Uncomment this if you set helper : "clone" in draggable options */
/*.gridster .player {
  opacity:0;
}*/
/* Auto resize the image to fit with no scrolls */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

body {
	margin: 0;
	padding: 0;
	/* background: #FFA500; */
	font: normal 0.75em georgia, sans-serif;
}

/* 
        LAYOUT: We need to simplify it 
*/

#wrapper {
	margin: 0% 2%;
    width: 95%;
    float: center;
}

#header {
	overflow: auto;
	position: relative;
	margin: 5px 0 0 0;
}
.ie6 #header {
	width: 100%;
}

.column-right {
    width: 450px;
    margin: 8px auto;
    float: right;
}

.left {
    float: left;
}

.column {
    margin-left: 8px;
    margin-right: 8px;
}

#info-column1{
	float: left;
	width: 250px;
	margin-bottom: 40px;
	margin-right: 20px;
}


#info-column2{
	float: left;
	width: 325px;
	margin-bottom: 40px;
	margin-right: 20px;
}

#info-column3{
	float: left;
	width: 325px;
	margin-bottom: 40px;
	margin-right: 20px;
}

#info-column4{
	float: left;
	width: 325px;
	margin-bottom: 40px;
}


.info-pill {
	-moz-box-shadow: 0 0 8px hsla(0,0%,0%,.1);
	-webkit-box-shadow: 0 0 8px hsla(0,0%,0%,.1);
	box-shadow: 0 0 8px hsla(0,0%,0%,.1);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


#footer {
	overflow: hidden;
	clear: both;
	padding: 10px 0;
	border-top: 1px dashed #000;
}


#companies-column1 {
	float: left;
	width: 250px;
	margin-bottom: 40px;
	margin-right: 40px;
}


#companies-column2 {
	float: right;
	width: 650px;
	margin-bottom: 40px;
	margin-right: 40px;
}

#company-column1 {
	float: left;
	width: 150px;
	margin-bottom: 40px;
	margin-right: 40px;
}

#company-column2 {
	float: right;
	width: 360px;
	margin-bottom: 40px;
	margin-right: 40px;
}

#company-column3 {
	float: right;
	width: 360px;
	margin-bottom: 40px;
	margin-right: 40px;	
}




/* 
        FOOTER COMPONENTS
*/

#footer p, #footer dl {
	margin: 0;
	font-size: 88%;
	line-height: 1.2;
}


/*      
        TEXT 
*/

h1 {
	margin-bottom: .25em;
	font-family: 'Nadia Serif', Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
	/* text-shadow: -1px -1px 1px hsla(0,0%,100%,.6);
	letter-spacing: -1px; */
	color: #ffa500;
}
h1, h2, h3 {
	font-weight: bold;
	line-height: 1.2;
}
h2, h3 {
	margin-bottom: 0;
	color: #555;
}
h2 {
	font-family: 'Nadia Serif', Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 115%;
	/* text-shadow: -1px -1px 0 hsla(0,0%,100%,.6);
	letter-spacing: -1px; */
}
h3 {
	font-family: Cambria, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 105%;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Boxes for flotr2 */

.m0-box-div {
    height: 130px;
}

.m0-box {
    width:  180px;
    height: 100px;
    float:  right;
    margin-right: 5px;
    margin-left: 5px;
}

/* Specific layout for some vizs */

/* 
	MLS 
*/

.mls-dyn-list {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 380px;
}

#mls-envision .envision-component-container.envision-first {
    width: 500px;
}

#mls-envision .envision-component-container {
    width: 500px;
}

#mls-envision-lists .envision-component-container.envision-first {
    width: 325px;
    height : 150px;			
}

#mls-envision-lists .report-summary .envision-component {
  cursor: all-scroll;
  height : 30px;
  margin-top: -2px;
  /* align envision and flotr2 graphs*/
  margin-bottom: 200px;
}

/*
	OTHER STYLES TO BE ORGANIZED
*/
.graph .flotr-grid-label {
    font-size: 0.6em
}

.graph {
	height:200px;
	width:200px;
}

.bubbles {
	height:400px;
	width:900px;
}

.radar {
	height:400px;
	width:500px;
}

.demographics {
	height:400px;
	width:400px;
}/* Shared CSS Style in all Envision Bitergia Reports */

.envision-component-container {
    width: 325px;
    height : 50px;	
}

.envision-component-container.envision-first {
    width: 325px;
    height : 200px;			
}

.envision-component {
    width: 100%;
    height: 100%;
}

.report-connection.envision-component-container {
  height: 20px;
}

.report-summary.envision-component-container {
  cursor: all-scroll;
  height : 50px;
  margin-top: -2px;
}


/* Bubble Borders */
/* .milestone0-scm-commits
{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
 */
 
/* .milestone0-scm-committers {
  border-top: 0px;
}
 */
 
/* Connection overlay */
.milestone0-connection .canvas {
  z-index: 10;
  background: #fff;
}

.milestone0-connection .canvas .object {
  position: absolute;
  top: 0px;
}

/* X-Axis Labels */
.milestone0-summary .flotr-grid-label {
  margin-top: 5px;
}

/* Mouse Tracker */
.envision-component-container.envision-first .flotr-mouse-value {
    font-size: 12px;
    display:inline;    
}

.envision-component-container .flotr-mouse-value
 {
  display: none;
}

/* @media screen and (max-width: 600px) {
  .milestone0-scm-commits {
    width: 100%;
  }  
 
  .milestone0-scm-commits .envision-component 
   {
    height: 120px;
  }
  .milestone0-scm-summary .envision-component,
  .milestone0-scm-committers .envision-component {
    height: 40px;
  }
} */