<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     style="background-color:#eee;border-top:1px solid #333;">
  <xi:include href="${g.allura_templates}/lib.html"/>
  Changeset <a href="${value.url()}">${h.text.truncate(value.hex(), 10)}</a>:
  ${h.ago(value.datetime)}<br/>
  <a href="${value.tree().url()}">Tree</a><br/>
  <py:if test="prev">
    Parent(s):
    <py:for each="ci in prev"><a href="${ci.url()}">${h.text.truncate(ci._id, 10)}</a></py:for>
    <br/>
  </py:if>
  <py:if test="next">
    Child(ren):
    <py:for each="ci in next"><a href="${ci.url()}">${h.text.truncate(ci._id, 10)}</a></py:for>
  </py:if>
  ${Markup(g.markdown.convert(value.description()))}
  <p class="gravatar">
    <py:if test="value.user_url is not None">
      <a href="${value.user_url}">${email_gravatar(value.user.email, title=value.user.name)}</a><br/>
      <a href="${value.user_url}">$value.user.name</a> (user)<br/>
    </py:if>
    <py:if test="value.user_url is None">
      ${email_gravatar(value.user.email, title=value.user.name)}<br/>
      $value.user.name<br/>
    </py:if>
  </p> 
</div>
