<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:strip="True">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <?python from pyforge.lib.security import has_artifact_access?>

  <h1 class="title">$value.name</h1>
  <p>Discussion Shortlink: [${value.shorthand_id()}]</p>
  <div>${Markup(g.markdown.convert(value.description))}</div>
  <py:if test="value.announcements">
    <h3>Announcements</h3>
    ${widgets.announcements_table.display(value=value.announcements)}
  </py:if>

  <div py:if="value.parent" class="breadcrumbs" >
    <ul>${crumbs(value.breadcrumbs())}</ul>
  </div>

  <py:if test="value.subforums">
    ${widgets.forum_subscription_form.display(
        value=dict(forums=value.subforums),
        action=value.url() + 'subscribe_subforum')}
  </py:if>
</div>
