<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:strip="True">
  <xi:include href="${g.allura_templates}/master.html"/>
  <?python from allura.lib.security import has_artifact_access?>
  <h1 class="title">$value.name</h1>
	<div class="content">
		<div class="row">
			<div class="column grid_12">
        <!-- <p>Discussion Shortlink: [${value.shorthand_id()}]</p> -->
        <py:if test="value.announcements">
          <h3>Announcements</h3>
          ${widgets.announcements_table.display(value=value.announcements)}
        </py:if>

        <div py:if="value.parent" class="breadcrumbs" >
          <ul>${crumbs(value.breadcrumbs())}</ul>
        </div>

        <py:if test="value.subforums">
          ${widgets.forum_subscription_form.display(
              threads=value.threads,
              value=dict(forums=value.subforums),
              action=value.url() + 'subscribe_subforum')}
        </py:if>
      </div>
    </div>
  </div>
</div>
