<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:strip="True">
  <xi:include href="${g.pyforge_templates}/master.html"/>
  <?python from pyforge.lib.security import has_artifact_access?>

  <h1 class="title">$value.subject</h1>
  <div class="actions">
		<a href="#" class="btn ico-l" id="mod_thread_link"
       py:if="show_moderate and has_artifact_access('moderate', value)()"><b class="ui-icon ui-icon-pencil"></b> <span>Moderate</span></a>
  </div>
	<div class="content">
		<div class="row">
			<div class="column grid_12">

        <div class="breadcrumbs" >${crumbs(value.discussion.breadcrumbs())}</div>

        <py:if test="value.discussion.announcements">
          <h3>Announcements</h3>
          ${widgets.announcements_table.display(value=value.discussion.announcements)}
        </py:if>
        <!-- <p>Thread Shortlink: [${value.shorthand_id()}]</p> -->
        <div id="mod_thread_form" style="display: none;"
             py:if="show_moderate and has_artifact_access('moderate', value)()">
          <h2>Moderate Thread</h2>
          ${widgets.moderate_thread.display(value=value, action=value.url()+'moderate')}
          <div style="clear: both;"/>
        </div>
      </div>
    </div>
  </div>
</div>