{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{action|capitalize}} {{sender.type}} webhook{% endblock %}

{% block header %}{{action|capitalize}} {{sender.type}} webhook{% endblock %}

{% block extra_css %}
  <style type="text/css">
    #content_base form {
      padding: 0 20px 20px 20px;
    }
    #content_base form label {
      display: inline-block;
      width: 30%;
      vertical-align: top;
    }
    #content_base form > div {
      margin-bottom: 10px;
    }
    #content_base form > div input {
      width: 30%;
      vertical-align: top;
    }
    #content_base form > div input[type="checkbox"] {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      width: 1em;
    }
    #content_base form .error {
      display: inline-block;
      color: #f00;
      background: none;
      border: none;
      margin: 0;
      width: 30%;
    }
  </style>
{% endblock %}

{%- macro error(field_name) %}
  {% if c.form_errors[field_name] %}
  <div class="error">{{c.form_errors[field_name]}}</div>
  {% endif %}
{%- endmacro %}

{% block content %}
{{ error('_the_form') }}
{{ error('webhook') }}
<form action="{{action}}" method="post" enctype="multipart/form-data">
  <div>
    <label for="url">url</label>
    <input name="url" value="{{ c.form_values['url'] }}">
    {{ error('url') }}
  </div>
  <div>
    <label for="secret">secret (leave empty to autogenerate)</label>
    <input name="secret" value="{{ c.form_values['secret'] }}">
    {{ error('secret') }}
  </div>

  {% block additional_fields %}{% endblock %}

  <input type="submit" value="{{action|capitalize}}">
  {% if c.form_values['webhook'] %}
    <input type="hidden" name="webhook" value="{{c.form_values['webhook']}}">
  {% endif %}
  {{lib.csrf_token()}}
</form>
{% endblock %}
