<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="${g.pyforge_templates}/master.html"/>
  <xi:include href="${c.app.templates}/lib.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>ForgeDiscussion Index Page</title>
  </head>
  
  <body>
    <h1 class="title">Welcome to ForgeDiscussion</h1>
    <h2>Project: $c.project.shortname</h2>
    <py:if test="announcements">
      <h3>Announcements</h3>
      ${c.announcements_table.display(value=announcements)}
    </py:if>
    <h3>Forums</h3>
    ${c.forum_subscription_form.display(action='subscribe', value=dict(forums=list(forums)))}
  </body>
</html>
