#mainmenu .logo{
    display: block;
    width: 110px;
    height: 24px;
}
b.ico {
    background-image: url('../images/neo-icon-set-454545-256x350.png');
    display: inline-block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: middle;
}
h2.dark b.ico {background-image: url('../images/neo-icon-set-ffffff-256x350.png');}

b.ico.ico-fork { background-position: -240px -16px; }
b.ico.ico-merge { background-position: -224px -16px; }
b.ico.ico-folder { background-position: 0 -96px; }
b.ico.ico-table, b.ico.stats { background-position: -48px -96px; }
b.ico.ico-mail { background-position: -80px -96px; }
b.ico.ico-reply, b.ico.conversation { background-position: -128px -96px; }
b.ico.ico-tag { background-position: -240px -96px; }
b.ico.ico-flag { background-position: -16px -112px; }
b.ico.ico-history { background-position: -32px -112px; }
b.ico.ico-pencil { background-position: -64px -112px; }
b.ico.ico-search { background-position: -160px -112px; }
b.ico.ico-admin { background-position: -192px -112px; }
b.ico.ico-plus { background-position: -16px -128px; }
b.ico.ico-undelete { background-position: 0px -64px; }
b.ico.ico-delete { background-position: -80px -128px; }
b.ico.ico-help { background-position: -48px -144px; }
b.ico.ico-pin { background-position: -144px -144px; }
b.ico.ico-feed { background-position: -16px -176px; }

.ui-icon-tool-home {
  background-image: url("../images/home_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-wiki {
  background-image: url("../images/wiki_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-git, .ui-icon-tool-svn, .ui-icon-tool-hg {
  background-image: url("../images/code_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-stats {
  background-image: url("../images/stats_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-admin, .ui-icon-admin {
  background-image: url("../images/admin_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-discussion {
  background-image: url("../images/forums_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-tickets {
  background-image: url("../images/tickets_24.png");
  background-repeat: no-repeat;
}

/* TODO: Move to forge-classic per PT#53 */
.ui-icon-tool-downloads {
  background-image: url("../images/downloads_24.png");
  background-repeat: no-repeat;
}

/* TODO: Move to forge-classic per PT#53 */
.ui-icon-tool-summary {
  background-image: url("../images/blog_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-link {
  background-image: url("../images/ext_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-blog {
  background-image: url("../images/blog_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-chat {
  background-image: url("../images/chat_24.png");
  background-repeat: no-repeat;
}

.ui-icon-tool-hosted_apps {
  background-image: url("../images/admin_24.png");
  background-repeat: no-repeat;
}

#top_nav .ui-icon-tool-home {
  background-image: url("../images/home_32.png");
}
#top_nav .ui-icon-tool-wiki {
  background-image: url("../images/wiki_32.png");
}
#top_nav .ui-icon-tool-git, #top_nav .ui-icon-tool-svn, #top_nav .ui-icon-tool-hg {
  background-image: url("../images/code_32.png");
}
#top_nav .ui-icon-tool-stats {
  background-image: url("../images/stats_32.png");
}
#top_nav .ui-icon-tool-admin, #top_nav .ui-icon-admin {
  background-image: url("../images/admin_32.png");
}
#top_nav .ui-icon-tool-discussion {
  background-image: url("../images/forums_32.png");
}
#top_nav .ui-icon-tool-tickets {
  background-image: url("../images/tickets_32.png");
}
#top_nav .ui-icon-tool-downloads {
  background-image: url("../images/downloads_32.png");
}
#top_nav .ui-icon-tool-link {
  background-image: url("../images/ext_32.png");
}
#top_nav .ui-icon-tool-blog {
  background-image: url("../images/blog_32.png");
}
#top_nav .ui-icon-tool-chat {
  background-image: url("../images/chat_32.png");
}

.big_icon.ui-icon-tool-home {
  background-image: url("../images/home_48.png");
}
.big_icon.ui-icon-tool-wiki {
  background-image: url("../images/wiki_48.png");
}
.big_icon.ui-icon-tool-git, .big_icon.ui-icon-tool-svn, .big_icon.ui-icon-tool-hg {
  background-image: url("../images/code_48.png");
}
.big_icon.ui-icon-tool-stats {
  background-image: url("../images/stats_48.png");
}
.big_icon.ui-icon-tool-admin, .big_icon.ui-icon-admin {
  background-image: url("../images/admin_48.png");
}
.big_icon.ui-icon-tool-discussion {
  background-image: url("../images/forums_48.png");
}
.big_icon.ui-icon-tool-tickets {
  background-image: url("../images/tickets_48.png");
}
.big_icon.ui-icon-tool-downloads {
  background-image: url("../images/downloads_48.png");
}
.big_icon.ui-icon-tool-link {
  background-image: url("../images/ext_48.png");
}
.big_icon.ui-icon-tool-blog {
  background-image: url("../images/blog_48.png");
}
.big_icon.ui-icon-tool-chat {
  background-image: url("../images/chat_48.png");
}
