/*
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
*/

#mainmenu .logo{
    display: block;
    width: 110px;
    height: 24px;
}

#ticket_search_results_holder{
    overflow: auto;
}
.pagination_size {
    height: 40px;
}

tr.rev div.markdown_content p {
    padding: 0;
    margin-bottom: 0;
}

#login_overlay .title,
#phone_verification_overlay .title {
    margin-bottom: 0;
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#login_overlay iframe,
#phone_verification_overlay iframe {
    width: 400px;
}

#phone_verification_overlay iframe {
    height: 320px;
}

/* give some space after sidebar admin link (except for its own section which starts with <div> instead of <ul>) */
#sidebar-admin-header ~ ul:first-of-type {
    margin-top: 20px;
}
/* expand/collapse indicator */
#sidebar-admin-header h3::before {
    content: '▸ ';
}
#sidebar-admin-header.expanded h3::before {
    content: '▾ ';
}
#sidebar-admin-header h3 {
    padding-left: 2px;
}

#usergroup_admin td.group {
  text-align: center;
  line-height: 2em;
}

#usergroup_admin .fa-plus-circle,
#usergroup_admin .fa-check-circle,
#usergroup_admin .fa-check {
  color: green;
}
#usergroup_admin .fa-ban {
  color: red;
}
