{#-
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
-#}
{% set hide_left_bar = True %}
{% extends g.theme.master %}

{% block title %}User stats{% endblock %}

{% block header %}
    Statistics about {{user.display_name}}'s contribution – Artifacts
{% endblock %}

{% block content %}

  {% if user and (user.stats.visible or (c.user == user)) %}
    <div class="grid-20">
      <ul><li><a href="{{c.project.url()}}userstats">Go back to general statistics</a></li></ul>
    </div>

    {% if data %}
    <div class="grid-20">
      <h2>Statistics by category</h2>
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Created artifacts</th>
            <th>Modified artifacts</th>
          </tr>
        </thead>
        <tbody> 
          {% for cat, row in data.items() %}
            <tr>
              <td>{% if cat %}{{cat.fullname}}{% else %}All categories{% endif %}</td>
              <td>
                {% for details in row %}
                  {% if details.messagetype %} {{details.messagetype}}:
                  {% else %}Total:{% endif %} {{details.created}}<br/>
                {% endfor %}
              </td>
              <td>
                {% for details in row %}
                  {% if details.messagetype %} {{details.messagetype}}:
                  {% else %}Total:{% endif %} {{details.modified}}<br/>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  {% else %}
    {% if user %}
      <h2>Statistics not available</h2>
      <div class="grid-20"> 
        This user has set his or her preferences so that personal statistics are not visible
        to other users of the forge.
      </div>
    {% else %}
      <h2>Invalid user</h2>
      <div class="grid-20"> 
        You are looking for personal statistics of a user which doesn't exist on this forge. Check your url.
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
