{% from 'jinja_master/lib.html' import abbr_date with context %}
<div>
  <h3><a href="{{value.url()}}">{{value.title}}</a></h3>
  <em class="grid-19">Posted {{abbr_date(value.timestamp)}}</em>
  {% if value.state != 'published' %}
    <em class="grid-19">({{value.state}})</em>
  {% endif %}
  {% if h.has_artifact_access('write', value)() %}
    <div class="grid-19"><a href="{{value.url()}}edit">Edit</a></div>
  {% endif %}
  <div class="grid-19">
    <strong>Labels:</strong>
    {% for l in value.labels %}
      <span><a href="{{c.app.url}}search?q=labels_t:{{l}}">{{l}}</a> </span>
    {% endfor %}
  </div>
  {{value.html_text_preview|safe}}
</div>
