{% import 'jinja_master/lib.html' as lib with context %}
<em class="grid-19">Posted by <a href="{{base_post.author().url()}}">{{lib.gravatar(base_post.author(), size=16)}}</a> {{h.ago(value.timestamp)}}</em>
{% if value.state != 'published' %}
  <em class="grid-19">State: {{value.state}}</em>
{% endif %}
{% if value.labels %}
<div class="grid-19">
  <strong>Labels:</strong>
  {% for l in value.labels %}
    <span><a href="{{c.app.url}}search?q=labels_t:{{l}}">{{l}}</a> </span>
  {% endfor %}
</div>
{% endif %}
{{value.html_text|safe}}